<md-dialog aria-label="AddContacts">
    <div class="modal-content" style="max-width:800px;max-height:700px; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Contact</h4>
        </div>
        <form ng-submit="saveContact(croppedDataUrl)" ng-init="emailcount = 1; phonenocount = 1;usercount = 1;">
            <div class="modal-body">

                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Contact Information">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="form-group col-sm-3">                 
                                    <angucomplete-alt id="sals"
                                                      placeholder="Salutations"
                                                      input-name="salutation"
                                                      field-required="true"
                                                      pause="100"
                                                      selected-object="selectedsal"
                                                      override-suggestions="true"
                                                      local-data="salutations"
                                                      search-fields="id,salutation"
                                                      title-field="salutation"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      text-no-results="Not found. It will be added"/>
                                </div>
                                <div class="form-group col-sm-4">                            
                                    <input type="text" class=" form-control" placeholder="First Name" ng-model="firstname" required>                                
                                </div>
                                <div class="form-group col-sm-5">                                                  
                                    <input type="text"  class="col-sm-6 form-control" id="l_name" 
                                           placeholder="Last Name" ng-model="lastname" >                       
                                </div>
                            </div>
                            <hr  class="form_divider"/>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input type="text"  class="col-sm-6 form-control"  
                                           placeholder="Phone" ng-model="phone[0]" > 
                                </div>
                                <div class="form-group col-sm-6">

                                    <label ng-repeat="p_nature in phone_natures" class="radio-inline"><input type="radio" name="phoneradio" 
                                                                                                             ng-value="{{p_nature.id}}"
                                                                                                             ng-model="phone_nature_id[0]">{{p_nature.phone_nature}}
                                    </label>
                                </div>
                            </div>
                            <a addphoneno class="btn btn-toolbar" type="button">+Add more numbers</a>
                            <div id="space-for-phonenos">
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <input type="email"  class="col-sm-6 form-control" 
                                           placeholder="Email" ng-model="email[0]" > 
                                </div>
                                <div class="form-group col-sm-6">
                                    <!-- NOTE! The options should be picked from the db -->
                                    <!--                                <select class="form-control"  ng-model="email_nature_id[0]">
                                                                        <option ng-repeat="e_nature in email_natures" value="{{e_nature.id}}">{{e_nature.email_nature}}</option>
                                                                    </select>-->
                                    <label ng-repeat="e_nature in email_natures" class="radio-inline">
                                        <input type="radio" name="emailradio" 
                                               value="{{e_nature.id}}"
                                               ng-model="email_nature_id[0]">{{e_nature.email_nature}}
                                    </label>
                                </div>
                            </div>
                            <a addemail class="btn btn-toolbar" type="button">+Add more emails</a>
                            <div id="space-for-emails"></div>
                            <div class="row">                    
                                <div class="form-group col-sm-12">
                                    <!--                        <select class="form-control" ng-model="organization_id">
                                                                <option ng-repeat="organization in organizations" value="{{organization.id}}">{{organization.name}}</option>
                                                            </select>-->
                                    <angucomplete-alt id="orgs"
                                                      auto-match="true"
                                                      placeholder="Organization"
                                                      pause="100"
                                                      selected-object="selectedorg"
                                                      override-suggestions="true"
                                                      local-data="organizations"
                                                      search-fields="id,name"
                                                      title-field="name"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      text-no-results="Not found. It will be added"
                                                      initial-value="{}"/>
                                </div>
                            </div>  
                            <div class="row">                    
                                <div class="form-group col-sm-6 form-group">
                                    <!-- Get A List of Users From DB ng-repeat from the second option-->
                                    <!--                        <select class="form-control" id="assigned_to" ng-model="user_id[0]">
                                                                <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
                                                            </select>-->
                                    <div class="col-md-3">
                                        <label for="assign">Assign to:</label>
                                    </div>
                                    <span directive-id="assign">
                                        <div id="assign" class="col-sm-8"
                                             isteven-multi-select

                                             input-model="users"
                                             output-model="user_selected"
                                             button-label="name"
                                             item-label="name"
                                             tick-property="selected"
                                             >
                                        </div>
                                    </span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <select class="form-control" ng-model="permission_id" id="permissions">
                                        <!-- Get A List of Users From DB ng-repeat from the second option-->
                                        <option ng-repeat="perm in permissions" value="{{perm.id}}">{{perm.permission}}</option>
                                    </select>
                                </div>
                                <!--                    <a adduser class="btn btn-toolbar" type="button">+Assign to more</a>
                                                    <div id="space-for-users">-->
                            </div>
                            <div class="row" ng-show="assigned">
                                <div class="col-md-3">
                                    <label for="assign">Choose users:</label>
                                </div>
                                <span directive-id="choosen">
                                    <div id="assign1" class="col-sm-8"
                                         isteven-multi-select
                                         input-model="users_choose"
                                         output-model="users_chosen"
                                         button-label="name"
                                         item-label="name"
                                         tick-property="selected"
                                         >
                                    </div>
                                </span>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Address">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="form-group-sm col-sm-6">
                                    <input type="text" ng-model="address" placeholder="P.O Box" class="form-control">

                                </div> 
                                <div class="form-group-sm col-sm-6">
                                    <input type="text" class="form-control" id="postal_code" 
                                           placeholder="Postal Code" ng-model="postal_code">
                                </div> 
                            </div>
                            <br >
                            <div class="row">
                                <div class="form-group-sm col-sm-6">
                                    <input type="text" class=" form-control" id="city" placeholder="City" ng-model="city">
                                </div> 
                                <div class="form-group-sm col-sm-6">
                                    <input type="text" class="form-control" id="country" placeholder="Country" ng-model="country">
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Photo">
                        <md-content md-padding>
                            <div>Crop Image and Upload</div>
                            <button ngf-select ng-model="picFile" accept="image/*">
                                Select Picture</button>
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                 class="cropArea">
                                <img-crop image="picFile  | ngfDataUrl"                 
                                          result-image="croppedDataUrl" ng-init="croppedDataUrl = ''">
                                </img-crop>
                            </div>
                            <h4>Resultant image</h4>
                            <div class="col-sm-offset-1 col-sm-3">
                                <img ng-src="{{croppedDataUrl}}" />
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </div>
            <div class="modal-footer">
                <button type="submit"  class="btn btn-primary pull-left" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
            </div>
        </form>
    </div>
</md-dialog>