<!-- Add Contacts Form -->
<md-dialog aria-label="Add task" style="max-width:600px;max-height: 500px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Event</h4>
            <div class="row">
                <label class="control-label col-sm-2">
                    Add
                </label>
                <div class="form-group col-sm-8">                            
                    <select class="form-control" ng-model="type" ng-change="add = true">
                        <option value="event">Event</option>
                        <option value="task">Task</option>
                        <option value="date">Important Date</option>
                    </select>                                
                </div>

            </div>
        </div>
        <form   ng-if="add && type === 'event'">
            <div class="modal-body">

                <md-content class="md-padding" ng-init="add = false">

                    <div>
                        <div class="row">
                            <label class="control-label col-sm-2">
                                Event name
                            </label>
                            <div class="form-group col-sm-8 ">                            
                                <input type="text" class=" form-control" id="name" placeholder="Event description" ng-model="$parent.title" required>                                
                            </div>

                        </div>

                        <div class="row">
                            <label class="control-label col-sm-2">
                                Start time
                            </label>
                            <div class="form-group col-sm-8 ">

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
                                        <div class="input-group"><input type="text" placeholder="choose start time" class="form-control" data-ng-model="$parent.data.start"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="$parent.data.start" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'hour',startView:'hour' }"
                                                        minView="hour"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-sm-2">
                                End time
                            </label>
                            <div class="col-sm-8">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" >
                                        <div class="input-group"><input type="text" placeholder="choose end time" class="form-control" data-ng-model="$parent.data.end"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="$parent.data.end" data-datetimepicker-config="{ dropdownSelector: '#dropdown3',minView:'hour',startView:'hour'  }"
                                                        minView="hour"/>
                                    </ul>
                                </div>
                            </div>    
                        </div>
                    </div>


                </md-content>

            </div>
            <div class="modal-footer" >
                <button ng-click="addClickEvent()" class="btn btn-success pull-left"><span class="fa fa-save"></span> 
                    Save Event 
                </button>
                <button type="reset" ng-click="close()" class="btn btn-danger"><span>x &nbsp; </span> 
                    Close
                </button>
            </div>

        </form>
        <form  ng-submit="createTask()" ng-if="add && type === 'task'">
            <div class="modal-body" style="min-width:500px;max-height: 500px;">

                <md-content class="md-padding">

                    <div class="row">


                        <div class='form-group-sm col-sm-6'>
                            <label class="control-label">Task name&nbsp;<span style="color:red;">*</span></label>
                            <input type="text" class=" form-control" id="name" placeholder="Task description" data-ng-model="$parent.name" required>
                        </div>
                        <div class="form-group-sm col-sm-6"> 
                            <label class="control-label">Task type&nbsp;<span style="color:red;">*</span></label>
                            <md-input-container>
                                <md-select ng-model="$parent.t_type" placeholder="Task type" required ng-required>
                                    <md-option ng-repeat="s in task_type" ng-value="s.id" >{{ s.Type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>




                    </div>
                    <br>
                    <div class="row">




                        <div class="form-group-sm col-sm-6">
                            <label class="control-label">Task priority&nbsp;<span style="color:red;">*</span></label>
                            <md-input-container>
                                <md-select ng-model="$parent.priorities" placeholder="priority ">
                                    <md-option ng-repeat="s in priority" ng-value="s.id" >{{ s.type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                    </div>

                    <div class="row" ng-init="sreminder = false">
                        <div class="col-sm-2">
                            <a class="btn btn-link" ng-click="sreminder = true"><i class="fa fa-clock-o" ></i> Add Reminder </a>
                        </div>
                        <div class="col-sm-4" ng-show="sreminder">
                            <label>Reminder date and time&nbsp;<span style="color:red;">*</span> </label>
                        </div>
                        <div ng-show="sreminder" class="col-sm-6" ng-show="sreminder">

                            <div class="form group-sm dropdown">
                                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group"><input type="text" placeholder="choose reminder date and time" class="form-control" data-ng-model="$parent.reminder"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="$parent.reminder" data-datetimepicker-config="{ dropdownSelector: '#dropdown3',minView:'hour'  }"
                                                    minView="hour"/>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group-sm col-sm-6">
                            <label class="control-label">Status of task&nbsp;<span style="color:red;">*</span></label>
                            <md-input-container>
                                <md-select ng-model="$parent.status" placeholder="Status of task" required ng-required>
                                    <md-option ng-repeat="s in task_status" ng-value="s.id" >{{ s.status}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="form-group-sm col-sm-6">
                            <label class="control-label">Permissions</label>
                            <select class="form-control" id="permissions"  name="permissions[]">
                                <!-- Get A List of Users From DB ng-repeat from the second option-->
                                <option ng-selected="true">Permissions </option>
                                <option value="one">Public</option>
                                <option value="one">Specific Users </option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group-sm ">

                            <div class="col-sm-6">
                                <label for="assign">Assign to:</label>
                            </div>
                            <div id="assign" class="col-sm-6"
                                 isteven-multi-select
                                 input-model="users"
                                 output-model="assign_to"
                                 button-label="name"
                                 item-label="name"
                                 tick-property="selected"
                                 >
                            </div>
                        </div>

                    </div>
                </md-content>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><span class="fa fa-save"></span> 
                    Save Task 
                </button>
                <button type="reset" ng-click="close()" class="btn btn-danger"><span>x &nbsp; </span> 
                    Close
                </button>
            </div>
        </form>
        <form   ng-if="add && type === 'date'" >
            <div class="modal-body" style="min-width:500px;max-height: 500px;">

                <md-content class="md-padding" ng-init="show_entity = false">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">Important day for:</label>
                            <select class="form-control" ng-model="$parent.entity" ng-change="show_entity = true">
                                <option value="customer">Customer</option>
                                <option value="prospect">Prospect</option>
                                <option value="organization">Organization</option>
                            </select>
                        </div>

                    </div>
                    <div class="row" ng-show="show_entity">
                        <div class="form-group-sm col-sm-6">
                            <label class="control-label">Choose {{entity}}:</label>
                            <select class="form-control" ng-model="$parent.object_id">
                                    <option ng-if="entity == 'organization'" ng-repeat="organ in organizations" value="{{organ.id}}">{{organ.name}}</option>
                                    <option ng-if="entity == 'customer'" ng-repeat="organ in contacts" value="{{organ.id}}">{{organ.firstname}} {{organ.lastname}}</option>
                                    <option ng-if="entity == 'prospect'" ng-repeat="organ in leads" value="{{organ.id}}">{{organ.firstname}} {{organ.lastname}}</option>
                                    
                                </select>
                        </div>
                        <div class="form-group-sm col-sm-6">
                            <label class="control-label">Date description</label>
                            <input type="text" required ng-model="$parent.description" class="form-control">
                        </div>
                    </div>
                </md-content>

            </div>
            <div class="modal-footer">
                <button ng-click="createDay()" class="btn btn-success pull-left"><span class="fa fa-save"></span> 
                    Save Task 
                </button>
                <button type="reset" ng-click="close()" class="btn btn-danger"><span>x &nbsp; </span> 
                    Close
                </button>
            </div>
        </form>

    </div>
</md-dialog>

