<!-- Add Contacts Form -->
<md-dialog aria-label="Add task" style="max-width:500px;max-height: 600px;">
    <div class="modal-content">
    <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Event</h4>
        </div>
    <form  ng-submit="addEvent()">
        <div class="modal-body">

            <md-content class="md-padding">

                <div class="row">

                    <div class="form-group col-sm-8 col-sm-offset-2">                            
                        <input type="text" class=" form-control" id="name" placeholder="Event description" ng-model="title" required>                                
                    </div>

                </div>
                
                <div class="row">
                    <div class="form-group col-sm-8 col-sm-offset-2">
                 
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
                                <div class="input-group"><input type="text" placeholder="choose start date and time" class="form-control" data-ng-model="data.start"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="data.start" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'hour' }"
                                                minView="hour"/>
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="row">
             
                        <div class="col-sm-8 col-sm-offset-2">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" >
                                <div class="input-group"><input type="text" placeholder="choose end date and time" class="form-control" data-ng-model="data.end"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="data.end" data-datetimepicker-config="{ dropdownSelector: '#dropdown3',minView:'hour'  }"
                                                minView="hour"/>
                            </ul>
                        </div>
                        </div>    
                    </div>

                    

            </md-content>

        </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><span class="fa fa-save"></span> 
                    Save Event 
                </button>
                <button type="reset" ng-click="close()" class="btn btn-danger"><span>x &nbsp; </span> 
                    Close
                </button>
            </div>
        
        </form>
    
</div>
</md-dialog>
