<!-- Add Contacts Form -->
<md-dialog aria-label="Add project">
    <div class="modal-content" style="max-width:700px;min-width: 400px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Product Inventory</h4>
        </div>
        <form ng-submit="createInventory()">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-12">                            
                        <input type="text" class=" form-control" id="propertyno"
                               placeholder="Inventory No/Name" ng-model="propertyno" required>                                
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="products" class="control-label">Product</label>
                        <select class="form-control" id="products"  ng-model="product_id">
                            <option ng-repeat="product in products"  value="{{product.id}}">{{product.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="status" class="control-label">Status</label>
                        <select class="form-control"  ng-model="status_id" id="status">
                            <option ng-repeat="istatus in inventory_status" value="{{istatus.id}}">{{istatus.status}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success pull-left"><i class="fa fa-save" ></i>&nbsp; Save</button>
                <button type="button" class="btn btn-danger pull-right " ng-click="close()">Discard</button>
            </div>
        </form>
    </div>
</md-dialog>

