<md-dialog aria-label="add Note">
    <div class="modal-content" style="min-width:300px;max-width:500px;max-height:810px; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Invoice</h4>
        </div>
        <div class="modal-body">
            <form role="form">    
                <div class="form-group">
                    <label>Opportunity Won</label>
                    <select class="form-control"  ng-model="opportunity_id">
                        <option ng-repeat="won in won_oppor" value="{{won.id}}">{{won.name}}</option>
                    </select>
                </div>
                <div class="form-group">  
                    <input type="text" 
                           class="form-control" 
                           ng-model="invoice_no"
                           placeholder="Invoice Number"/>
                </div>
                <div class="form-group">  
                    <!--                    <label for="note">Due date</label>
                                        <input type="date" class="form-control" id="note" ng-model="due_date"/>-->
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#">
                            <div class="input-group">
                                <input type="text" 
                                       placeholder="Due date" 
                                       class="form-control" data-ng-model="due_date">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker 
                                data-ng-model="due_date" 
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown3',minView:'day'  }"
                                minView="day"/>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label for="permissions">Permissions</label>
                        <div class="">
                            <select class="form-control" ng-model="permission_id" id="permissions">
                                <!-- Get A List of Users From DB ng-repeat from the second option-->
                                <option ng-repeat="perm in permissions" value="{{perm.id}}">{{perm.permission}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5" ng-show="assigned">
                        <div class="col-md-3">
                            <label for="assign">Choose users:</label>
                        </div>
                        <span directive-id="choosen">
                            <div id="assign1" class="col-sm-8"
                                 isteven-multi-select
                                 input-model="users_choose"
                                 output-model="users_chosen"
                                 button-label="name"
                                 item-label="name"
                                 tick-property="selected"
                                 >
                            </div>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="saveInvoice()" class="btn btn-success pull-left">Save<span class="fa fa-save"></span></button>
            <button type="button" class="btn btn-danger pull-right " ng-click="close()">Discard</button>
        </div>
    </div>
</md-dialog>