<md-dialog aria-label="addProspect" style="min-width:600px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Prospect</h4>
        </div>
        <form class="form" ng-submit="addNew(croppedDataUrl)" ng-init="emailcount = 1; phonenocount = 1;usercount = 1; req = true;" name="leadform">
            <div class="modal-body">

                <md-tabs md-dynamic-height md-border-bottom>               
                    <md-tab label="Prospect Info">
                        <md-content class="md-padding">
                            <div class="row">

                                <div class="form-group-sm col-sm-3"> 
                                    <label class="control-label">Salutation &nbsp;<span style="color:red;">*</span></label>
                                    <angucomplete-alt id="sals"
                                                      placeholder="Salutations"
                                                      field-required="req"
                                                      input-name="salutation"
                                                      pause="100"
                                                      selected-object="selectedsal"
                                                      override-suggestions="true"
                                                      local-data="salutations"
                                                      search-fields="id,salutation"
                                                      title-field="salutation"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      text-no-results="Not found. It will be added"
                                                      ng-required/>
                                </div>
                                <div class="form-group-sm col-sm-4"> 
                                    <label class="control-label">First name &nbsp;<span style="color:red;">*</span></label>
                                    <input type="text" class=" form-control" placeholder="First Name" ng-model="firstname" required>                                
                                </div>
                                <div class="form-group-sm col-sm-5">
                                    <label class="control-label">Last name &nbsp;<span style="color:red;">*</span></label>
                                    <input type="text"  class="col-sm-6 form-control" id="l_name" 
                                           placeholder="Last Name" ng-model="lastname" >                       
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">Phone &nbsp;<span style="color:red;">*</span></label>
                                    <input type="text"  class="col-sm-6 form-control"  
                                           placeholder="Phone" ng-model="phone[0]" > 
                                </div>
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">Nature&nbsp;<span style="color:red;">*</span></label><br>
                                    <!-- NOTE! The options should be picked from the db -->
                                    <label ng-repeat="p_nature in phone_natures" class="radio-inline"><input type="radio" name="phoneradio" 
                                                                                                             ng-value="{{p_nature.id}}"
                                                                                                             ng-model="phone_nature_id[0]">{{p_nature.phone_nature}}
                                    </label>
                                </div>
                            </div>
                            <br>
                            <a addphoneno class="btn btn-toolbar" type="button">+Add more numbers</a>
                            <div id="space-for-phonenos">
                            </div>
                            <div class="row">

                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">Email</label>
                                    <input type="email"  class="col-sm-6 form-control" 
                                           placeholder="Email" ng-model="email[0]" > 
                                </div>
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">Nature</label><br>
                                    <!-- NOTE! The options should be picked from the db -->
                                    <label ng-repeat="e_nature in email_natures" class="radio-inline">
                                        <input type="radio" name="emailradio" 
                                               value="{{e_nature.id}}"
                                               ng-model="email_nature_id[0]">{{e_nature.email_nature}}
                                    </label>
                                </div>
                            </div>
                            <a addemail class="btn btn-toolbar" type="button">+Add more emails</a>
                            <div id="space-for-emails"></div>
                            <br>
                            <div class="row">                    
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">Organization</label>
                                    <angucomplete-alt id="orgs"
                                                      auto-match="true"
                                                      placeholder="Organization"
                                                      pause="100"
                                                      selected-object="selectedorg"
                                                      override-suggestions="true"
                                                      local-data="organizations"
                                                      search-fields="id,name"
                                                      title-field="name"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      text-no-results="Not found. It will be added"/>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Prospect source&nbsp;<span style="color:red;">*</span></label>
                                    <angucomplete-alt id=""
                                                      auto-match="true"
                                                      placeholder="Prospect Source"
                                                      pause="100"
                                                      selected-object="source"
                                                      override-suggestions="true"
                                                      local-data="sources"
                                                      search-fields="id,source"
                                                      title-field="source"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      text-no-results="Not found. It will be added"/>
                                </div>
                            </div> 
                            <br>                            
                            <div class="row">
                                <div class="form-group-sm col-sm-6">
                                    <div class="">
                                        <label class="control-label" for="lead_status">Prospect status&nbsp;<span style="color:red;">*</span></label>
                                    </div>
                                    <div class="">
                                        <select class="form-control" id="lead_status"  ng-model="lead_status" required>
                                            <option ng-hide="leadform.lead_status.$dirty" value="" selected="selected">Choose a status</option>
                                            <option   ng-repeat="st in status" value="{{st.id}}">{{st.status}}</option>
                                        </select>
                                    </div>   
                                </div>
                                <div class="form-group-sm col-sm-6">

                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Address">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">P.O Box</label>
                                    <input type="text" ng-model="address" placeholder="P.O Box" class="form-control">

                                </div> 
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">Postal code</label>
                                    <input type="text" class="form-control" id="postal_code" 
                                           placeholder="Postal Code" ng-model="postal_code">
                                </div> 
                            </div>
                            <br >
                            <div class="row">
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">City/Town</label>
                                    <input type="text" class=" form-control" id="city" placeholder="City" ng-model="city">
                                </div> 
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">Country</label>
                                    <input type="text" class="form-control" id="country" placeholder="Country" ng-model="country">
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Desc & Permissions">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="form-group-sm col-sm-8">
                                    <label for="description">Description&nbsp;<span style="color:red;">*</span></label>
                                    <div class="">
                                        <textarea rows="4" class="form-control" id="description" 
                                                  placeholder="Brief Description of the lead" ng-model="desc">
                                        </textarea>
                                    </div>
                                </div> 
                                <div class="form-group-sm col-sm-4">                                    
                                    <div class="">
                                        <label for="assign">Assign to:</label>
                                    </div>
                                    <div id="assign" 
                                         isteven-multi-select
                                         input-model="users"
                                         output-model="user_selected"
                                         button-label="name"
                                         item-label="name"
                                         tick-property="selected"
                                         >
                                    </div>
                                    <label for="description">Permissions</label>
                                    <div class="">
                                        <select class="form-control" ng-model="permission_id" id="permissions">
                                            <!-- Get A List of Users From DB ng-repeat from the second option-->
                                            <option ng-repeat="perm in permissions" value="{{perm.id}}">{{perm.permission}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="assigned">
                                <div class="col-md-3">
                                    <label for="assign">Choose users:</label>
                                </div>
                                <span directive-id="choosen">
                                    <div id="assign1" class="col-sm-8"
                                         isteven-multi-select
                                         input-model="users_choose"
                                         output-model="users_chosen"
                                         button-label="name"
                                         item-label="name"
                                         tick-property="selected"
                                         >
                                    </div>
                                </span>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Photo">
                        <md-content md-padding>
                            <div>Crop Image and Upload</div>
                            <button ngf-select ng-model="picFile" accept="image/*">
                                Select Picture</button>
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                                 class="cropArea">
                                <img-crop image="picFile  | ngfDataUrl"                 
                                          result-image="croppedDataUrl" ng-init="croppedDataUrl = ''">
                                </img-crop>
                            </div>
                            <h4>Resultant image</h4>
                            <div class="col-sm-offset-1 col-sm-3">
                                <img ng-src="{{croppedDataUrl}}" />
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><span class="fa fa-save"></span> 
                    Save Prospect 
                </button>
                <button type="submit" class="btn btn-danger"><span>x &nbsp; </span> 
                    Close
                </button>
            </div>
        </form> 
    </div>
</md-dialog>