<md-dialog aria-label="editContact">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Note</h4>
        </div>
        <form >
            <div class=" modal-body">
                <textarea class="form-control form-group-sm" 
                          rows="5"
                          colspan="20" id="note" ng-model="note">                                                                          
                </textarea> 
            </div>
            <div class="modal-footer">
                <button type="submit"  class="btn btn-primary pull-left"
                        ng-click="attachNote()">Attach Note</button>
                <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
            </div>
        </form>
    </div> 
</md-dialog>