<!-- Add Contacts Form -->
<md-dialog aria-label="AddOrganization" style="min-width:700px;max-width: 700px;"> 
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Organization</h4>
        </div>
        <form  ng-submit="createOrganization()" class="modal-body">

            <md-tabs md-dynamic-height  md-border-bottom >
                <md-tab label="Organization Information">
                    <md-content class="md-padding">
                        <div class="row">
                            
                            <div class="form-group col-sm-6">
                                <label class="control-label">Company name&nbsp;<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="organization" 
                                       placeholder="Name" ng-model="name" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Industry&nbsp;<span style="color:red;">*</span></label>
                                <angucomplete-alt id="orgs"
                                                  auto-match="true"
                                                  placeholder="Industry"
                                                  pause="100"
                                                  selected-object="selectedindustry"
                                                  override-suggestions="true"
                                                  local-data="industries"
                                                  search-fields="id,industry"
                                                  title-field="industry"
                                                  minlength="1"
                                                  input-class="form-control form-control-small"
                                                  match-class="highlight"
                                                  text-no-results="Not found. It will be added"/>

                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Description&nbsp;<span style="color:red;">*</span></label>
                                <textarea ng-model="background" rows="5" class="form-control"
                                          placeholder="Brief background of company" required></textarea>
                            </div>
                            <div class="form-group col-sm-6 ">
                                <div >
                                    <label for="assign">Assign to:</label>
                                </div>
                                <div id="assign" 
                                     isteven-multi-select
                                     input-model="users"
                                     output-model="assign_to"
                                     button-label="name"
                                     item-label="name"
                                     tick-property="selected"
                                     >
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Permissions</label>
                                <select class="form-control" ng-model="permission_id" id="permissions">
                                    <!-- Get A List of Users From DB ng-repeat from the second option-->
                                    <option ng-repeat="perm in permissions" value="{{perm.id}}">{{perm.permission}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" ng-show="assigned">
                            <div class="col-md-3">
                                <label for="assign">Choose users:</label>
                            </div>
                            <span directive-id="choosen">
                                <div id="assign1" class="col-sm-8"
                                     isteven-multi-select
                                     input-model="users_choose"
                                     output-model="users_chosen"
                                     button-label="name"
                                     item-label="name"
                                     tick-property="selected"
                                     >
                                </div>
                            </span>
                        </div>




                    </md-content>
                </md-tab>
                <md-tab label="Address">
                    <md-content class="md-padding">
                        <div class="form-group col-sm-6">
                        <label class="control-label">P.O Box</label>                            
                                <input type="number" ng-model="address" placeholder="P.O Box" class="form-control">
                        </div> 
                        <div class="form-group col-sm-6">
                            <label class="control-label">Postal code</label>
                            <input type="number" class="form-control"
                                   id="postal_code" placeholder="Postal Code" ng-model="postal_code">
                        </div> 
                        <div class="form-group col-sm-6">
                            <label class="control-label">Town/City</label>
                                <input type="text" class=" form-control" id="city" placeholder="City" ng-model="city">
                        </div> 
                        <div class="form-group col-sm-6">
                            <label class="control-label">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="Country" ng-model="country">
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs> 

            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><i class="fa fa-save"></i>&nbsp; Save</button>
                <button type="submit" ng-click="close()" class="btn btn-danger pull-right">x&nbsp; Close</button>
            </div>    



        </form>
    </div>

</md-dialog>