<!-- Add Contacts Form -->
<md-dialog aria-label="Add Plan">
    <div class="modal-content" style="max-width:700px;min-width: 700px;min-height:200px;">
        <div class="modal-header">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"  ng-click="close()">×</span></button>
                <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Payment plan</h4>
            </div>
        </div>
        <form ng-submit="createPlan()">
            <div class="modal-body">
                    <div class="row">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Select Product</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control"  ng-model="product_id">
                                    <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="text-muted">Payment Options</label> 
                    </div>
                    <div class="col-sm-3">
                        <input ng-model="cashflag" ng-disabled="installflag" type="checkbox"> Cash
                    </div>
                    <div class="col-sm-3">
                        <input ng-model="installflag" ng-disabled="cashflag" type="checkbox"> Installment
                    </div>
                </div>
                <hr  class="form_divider"  style="margin-bottom:0px"/>
                <!-- Cash Payments -->
                <div ng-if="cashflag" class="row">  
                    <p class="col-sm-12"  style="margin-bottom:0px"><label for="cash" class="text-muted">Cash</label></p>
                    <div class="form-group col-sm-4">                        
                        <input type="number" ng-model="$parent.cash" id="cash" placeholder="Cash Value">
                    </div>
                </div>                
                <!-- Installments For The Product. Implement the add more Directive -->
                <div ng-if="installflag" class="row">                    
                    <p class="col-sm-12"  style="margin-top:0px;margin-bottom: 0px;"><label  class="text-muted">Installment</label></p>
                    <!-- Example Installment amount -->
                    <!-- End installment example. Begin add more options -->
                    <div class="form-group col-sm-3">
                        <input type="number" ng-model="$parent.depo" class="form-control" placeholder="Deposit Value">
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="number" ng-model="$parent.install" class="form-control" placeholder="Installment Value">
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="number" ng-model="$parent.installno" class="form-control" placeholder="No. of installments">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-9">

                    </div>
                    <div class="form-group col-sm-3">
                        <!-- NOTE! The options should be picked from the db -->
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><i class="fa fa-save" ></i>&nbsp; Save</button>
                <button type="button" class="btn btn-danger pull-right " ng-click="close()">Discard</button>
            </div>
        </form>
    </div>
</md-dialog>
