<!-- Add Contacts Form -->
<md-dialog aria-label="Add project" style="max-width:650px;max-height: 500px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Project</h4>
        </div>
        <form  ng-submit="createProject()">
            <div class="modal-body">

                <md-content class="md-padding">

                    <div class="row">

                        <div class="form-group-sm col-sm-12"> 
                            <label class="control-label">Project name</label>
                            <input type="text" class=" form-control" id="name"
                                   placeholder="Project name" ng-model="projects.name" required>                                
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group-sm col-sm-4">
                            <label class="control-label">Project type</label>
                            
                            <select class="form-control" ng-model="projects.project_type" required>
                                <option value="">Choose project type</option>
                                <option value="Land" >Land</option>
                                <option value="Housing">Housing</option>
                            </select>

                        </div>
                        <div class="form-group-sm col-sm-4">
                            <!-- NOTE! The options should be picked from the db -->
                            <label class="control-label">Tenant type</label>
                            <select class="form-control" ng-model="projects.tenant_type" required>
                                <option value="">Choose tenant type</option>
                                <option  value="Multi-tenant">Multi-tenant</option>
                                <option value="Single-tenant">Single-tenant</option>
                            </select>
                        </div>
                        <div class="form-group-sm col-sm-4">
                            <label class="control-label">No. of units</label>
                            <!-- NOTE! The options should be picked from the db -->
                            <input type="number" ng-model="projects.units_no" class="form-control"
                                   placeholder="Number of available units" min="0" required>
                            <md-tooltip>
                                Number of available units
                            </md-tooltip>
                        </div>

                    </div>
                    <br>
                    <div class="row">                    
                        <div class="form-group-sm col-sm-12">
                            <label class="control-label">Project description</label>
                            <!-- Get A List of Users From DB ng-repeat from the second option-->
                            <textarea class="form-control" ng-model="projects.description" placeholder="Project description" required>
                            
                            </textarea>
                        </div>
                    </div> 
                    <br>
                    <div class="row">
                   

                            <div class="form-group-sm col-sm-6">
                                <label for="assign" class="control-label">Assign to:</label>
                            
                            <div id="assign"
                                 isteven-multi-select
                                 input-model="users"
                                 output-model="assign_to"
                                 button-label="name"
                                 item-label="name"
                                 tick-property="selected"
                                 required="true"
                                 >
                            </div>
                             </div>   
                        
                
                    </div>
                    

                </md-content>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><span class="fa fa-save"></span> 
                    Save Project 
                </button>
                <button type="reset" ng-click="close()" class="btn btn-danger"><span>x &nbsp; </span> 
                    Close
                </button>
            </div>
        </form>

    </div>
</md-dialog>
