<!-- Add Contacts Form -->
<md-dialog aria-label="Add project">
<!--    <md-toolbar >
        <div class="md-toolbar-tools">
            <h2> <i class="fa fa-plus-circle"></i>&nbsp; Add Product</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <span aria-label="Close dialog">x</span>
            </md-button>
        </div>
    </md-toolbar>-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Product</h4>
        </div>
        <div class="modal-body">
    <form ng-submit="createProduct()">
        <md-dialog-content style="max-width:500px;min-height:300px;">
            <md-content class="md-padding">
                <div class="row">
                    <div class="form-group col-sm-5">                            
                        <input type="text" class=" form-control" id="name"
                               placeholder="Product Name" ng-model="products.name" required>                                
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="project" class="col-sm-3 control-label">Project</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="project" ng-model="project_id">
                                    <option ng-selected="true">Project</option>
                                    <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">                            
                        <input type="number" class=" form-control" id="name"
                               placeholder="Units" ng-model="products.units" min="1" required>                                
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="number" class=" form-control" id="name"
                               placeholder="Units From" ng-model="products.from" 
                               min="0">
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="number" class=" form-control" id="name"
                               placeholder="Units To" ng-model="products.to" 
                               min="0" >
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="text-muted">Payment Options</label> 
                    </div>
                    <div class="col-sm-3">
                        <input ng-model="diagcashflag" type="checkbox"> Cash
                    </div>
                    <div class="col-sm-3">
                        <input ng-model="diaginstallflag" type="checkbox"> Installment
                    </div>
                </div>
                <hr  class="form_divider"  style="margin-bottom:0px"/>
                <!-- Cash Payments -->
                <div ng-show="diagcashflag" class="row">  
                    <p class="col-sm-12"  style="margin-bottom:0px"><label for="cash" class="text-muted">Cash</label></p>
                    <div class="form-group col-sm-4">                        
                        <input type="number" ng-model="diagcash" id="cash" placeholder="Cash Value">
                    </div>
                </div>                
                <!-- Installments For The Product. Implement the add more Directive -->
                <div ng-show="diaginstallflag" class="row">                    
                    <p class="col-sm-12"  style="margin-top:0px;margin-bottom: 0px;"><label  class="text-muted">Installment</label></p>
                    <!-- Example Installment amount -->
                    <div class="row"  style="margin-bottom:0px" ng-repeat="dinstall in diaginstallments">  
                        <div class="form-group col-sm-2">
                            {{$index+1}}. Deposit : <b class="text-blue">{{dinstall.deposit}}</b>
                        </div>
                        <div class="form-group col-sm-4">
                            Installment Amount : <b class="text-blue">{{dinstall.installment}}</b>
                        </div>
                        <div class="form-group col-sm-4">
                            No. of Installments: <b class="text-blue">{{dinstall.installment_no}}</b>
                        </div>
                        <!-- Toolbox for the installment plan -->
                        <div class="form-group col-sm-1">
                            <a class="" ng-click="delDiagInstall($index)">
                                <i class="fa fa-trash-o">&nbsp; </i>
                            </a>
                        </div>
                    </div>
                    <!-- End installment example. Begin add more options -->
                    <div class="form-group col-sm-3">
                        <input type="number" ng-model="diagdepo" class="form-control input-sm" placeholder="Deposit Value">
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="number" ng-model="diaginstall" class="form-control input-sm" placeholder="Installment Value">
                    </div>
                    <div class="form-group col-sm-3">
                        <input type="number" ng-model="diaginstallno" class="form-control input-sm" placeholder="No. of installments">
                    </div>
                    <!-- Toolbox for the installemnt plan -->
                    <div class="form-group col-sm-2">
                        <a class="" type="button" ng-click="addDiagInstall()">
                            <i class="fa fa-save">&nbsp; </i>
                        </a>
                       <a class="">
                            <i class="fa fa-trash-o">&nbsp; </i>
                        </a>
                    </div>
                </div>
            </md-content>
            </div>
            <div class="modal-footer">
                <button ng-click="createProduct()" class="btn btn-primary pull-left">
                    <i class="fa fa-save" ></i>&nbsp; Save
                </button>
                <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
            </div>
            </div>
        </md-dialog-content>
    </form>

</md-dialog>
