<!-- Add Contacts Form -->
<md-dialog aria-label="Add Opportunity">
    <md-toolbar >
        <div class="md-toolbar-tools">
            <h2> <i class="fa fa-user-plus"></i>&nbsp; Add Products</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <span aria-label="Close dialog">x</span>
            </md-button>
        </div>
    </md-toolbar>
    <form class="form" ng-submit="add()"  ng-init="productscount = 1;
            req = true;">
        <md-dialog-content style="min-width:700px;min-height:400px; ">
            <md-content>
                <div class="container-fluid">
                    <br />
                    <input type="text" class="pull-left" placeholder="Search Products" ng-model="search">

                    <table class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Inventory</th>
                                <th>Product</th>                                                
                                <th>Payment Plan</th>                                               
                                <th>Add</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prod in inventories| filter:search" ng-init=" id = $index">
                                <td>{{prod.property_no}}</td>
                                <td>{{prod.name}}</td>                                
                                <td>
                                    <select ng-model="plan[id]" class="select2-container">                                                
                                        <option ng-repeat="p in getPlan(prod.product_id)"
                                                value="{{p.id}}">
                                            Dep: {{p.deposit}} | Inst: {{p.installment_no}}</option>
                                    </select>

                                </td>                                                 
                                <td>
                                    <input type="checkbox"  id="p_plan" ng-model ="p_plan[id]" ng-true-value="{{prod.id}}">
                                </td> 
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Inventory</th>
                                <th>Product</th>
                                <th>Payment Plan</th>
                                <th>Add</th>  
                            </tr>
                        </tfoot>
                    </table>

                    <button type="submit" class="btn btn-success pull-right">
                        <i class="fa fa-save"></i>&nbsp; Add Products
                    </button>
                </div>
            </md-content>
        </md-dialog-content>

    </form>  

    <md-dialog-actions layout="row">

        <span flex></span>
        <md-button type="submit" >
            Save
        </md-button>
        <md-button ng-click="answer('useful')" style="margin-right:20px;" >
            Discard
        </md-button>

    </md-dialog-actions>

</md-dialog>
