<md-dialog aria-label="add Receipt">
    <div class="modal-content " style="min-width:500px;max-height:810px;max-width:500px; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Receipt</h4>
        </div>
        <div class="modal-body">
            <md-dialog-content >
                <md-content class="md-padding">
                    <form role="form">    
                        <div class="form-group col-sm-6">
                            <label>Invoice Number</label>
                            <select class="form-control input-sm"  ng-model="invoice_id">
                                <option ng-repeat="diag in dialog_invoices" value="{{diag.id}}">{{diag.invoice_no}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">  
                            <label for="receiptno">Receipt No.</label>
                            <input type="text" class="form-control input-sm" id="receiptno" ng-model="receipt_no"/>
                        </div>    
                        <div class="form-group col-sm-6">  
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control input-sm" id="amount" ng-model="amount"/>
                        </div>                                                  
                        <div class="form-group col-sm-6">            
                            <label for="mode">Payment Mode</label>
                            <select class="form-control input-sm" id="mode" ng-model="payment_mode_id">
                                <option ng-repeat="mode in payment_modes" value="{{mode.id}}">{{mode.payment_mode}}</option>
                            </select>
                        </div>                                                  
                        <div class="form-group col-sm-6">                      
                            <label for="preason">Payment Reason</label>
                            <select class="form-control input-sm" id="preason" ng-model="payment_reason_id">
                                <option ng-repeat="reason in payment_reasons" value="{{reason.id}}">{{reason.payment_reason}}</option>
                            </select>
                        </div>
                        <div ng-show="isEnabled" class="form-group col-sm-6">
                            <label for="cheque_no">Cheque No.</label>
                            <input type="number" class="form-control input-sm" id="cheque_no" 
                                   ng-model="cheque_no"
                                   placeholder="Enter the cheque number"/>
                        </div>
                        <div class="form-group col-sm-6">                      
                            <!--                            <label for="receiptdate">Receipt Date</label>
                                                        <input type="date" class="form-control input-sm" id="receiptdate" ng-model="receipt_date"/>-->
                            <label for="receiptdate">Receipt Date</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" 
                                               placeholder="receipt date" 
                                               class="form-control" 
                                               data-ng-model="receipt_date">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker 
                                        data-ng-model="receipt_date" 
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdown1',minView:'day'  }"
                                        minView="day"/>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">                      
                            <!--                            <label for="nextdate">Next Payment Date</label>
                                                        <input type="date" class="form-control input-sm" id="nextdate" ng-model="next_date"/>-->
                            <label for="nextdate">Next Payment Date</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" 
                                               placeholder="next patment date" 
                                               class="form-control" 
                                               data-ng-model="next_date">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker 
                                        data-ng-model="next_date" 
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day'  }"
                                        minView="day"/>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label for="permissions">Permissions</label>
                                <div class="">
                                    <select class="form-control" ng-model="permission_id" id="permissions">
                                        <!-- Get A List of Users From DB ng-repeat from the second option-->
                                        <option ng-repeat="perm in permissions" value="{{perm.id}}">{{perm.permission}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5" ng-show="assigned">
                                <div class="col-md-4">
                                    <label for="assign">Choose users:</label>
                                </div>
                                <span directive-id="choosen">
                                    <div id="assign1" class="col-sm-5"
                                         isteven-multi-select
                                         input-model="users_choose"
                                         output-model="users_chosen"
                                         button-label="name"
                                         item-label="name"
                                         tick-property="selected"
                                         >
                                    </div>
                                </span>
                            </div>
                        </div>
                    </form>
                </md-content>
            </md-dialog-content>
        </div>
        <div class="modal-footer">
            <button ng-click="saveReceipt()" class="btn btn-primary pull-left">
                <i class="fa fa-save" ></i>&nbsp; Save
            </button>
            <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
        </div>
    </div>
</md-dialog>