<!-- Add Contacts Form -->
<md-dialog aria-label="Add Opportunity" style="max-width:730px;max-height:700px; ">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-dollar"></i>&nbsp; New Opportunity</h4>
        </div>

        <form class="form" ng-submit="addNew()"  ng-init="productscount = 1;
                req = true;">
            <div class="modal-body">
                <md-dialog-content >
                    <md-tabs md-dynamic-height md-border-bottom>               
                        <md-tab label="Opportunity Details">
                            <md-content class="md-padding">
                                <div class="row">
                                    <div class="form-group col-sm-6">   
                                        <label class="control-label">Opportunity name&nbsp;<span style="color:red;">*</span></label>
                                        <input type="text" class=" form-control" id="f_name" placeholder="Opportunity Name" ng-model="oppname" required>                                
                                    </div>
                                    <div ng-if="pinned" class="form-group col-sm-6">
                                        <label class="control-label">Pin to :</label><br>
                                        <div class="col-sm-4"><a class="btn btn-link" ng-click="showOrg()" >Organization</a></div>
                                        <div class="col-sm-4"><a class="btn btn-link" ng-click="showCustomer()" >Customer</a></div>

                                    </div>
                                    <div ng-if="pin && cust" class="form-group col-sm-6">  
                                        <label class="control-label col-sm-2">Customer&nbsp;<span style="color:red;">*</span></label>
                                        <select class="form-control col-sm-4"  ng-model="$parent.customer"  >
                                            <!-- Get Customers From Object -->                                    
                                            <option ng-repeat="customer in customers" value="{{customer.id}}">  
                                                {{customer.firstname}} {{customer.lastname}}
                                            </option>                                   
                                        </select>


                                    </div>

                                    <div class="form-group col-sm-6" ng-show="!show_customers">
                                        <label class="control-label col-sm-2">Customer</label>
                                        <input  class="form-control"  type="text" 
                                                placeholder="{{firstname}} {{lastname}}"  readonly/>
                                    </div>
                                    <div class="form-group col-sm-6" ng-if="show_org">
                                        <label class="control-label col-sm-2">Organization&nbsp;<span style="color:red;">*</span></label>
                                        <input  class="form-control"  type="text" 
                                                placeholder="{{name}}"  readonly/>
                                    </div>

                                    <div ng-if="pin && org" class="form-group col-sm-6">  
                                        <label class="control-label col-sm-2">Organization&nbsp;<span style="color:red;">*</span></label>
                                        <select class="form-control col-sm-4"  ng-model="$parent.organization"  >
                                            <!-- Get Customers From Object -->                                    
                                            <option ng-repeat="org in organizations" value="{{org.id}}">  
                                                {{org.name}} 
                                            </option>                                   
                                        </select>

                                    </div>
                                </div>
                                <hr  class="form_divider"/>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <textarea type="text"  class="col-sm-6 form-control" id="description" 
                                                  placeholder="Description" ng-model="description" rows="4" > 
                                        </textarea>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Expected close date&nbsp;<span style="color:red;">*</span></label>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                                                <div class="input-group"><input type="text" placeholder="Expected close date" class="form-control" data-ng-model="close_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="close_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }"
                                                                />
                                            </ul>
                                        </div>
                                        <br>
                                        <!-- Get A List of Users From DB ng-repeat from the second option-->
                                        <label class="control-label">Opportunity stage&nbsp;<span style="color:red;">*</span></label>
                                        <select class="form-control" ng-model="stage">  

                                            <option  ng-repeat="stage in stages" value="{{stage.id}}"
                                                     >{{stage.stage_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-sm-3">Assign to</label>
                                    <div class="form-group col-sm-4" id="assign" 
                                         isteven-multi-select
                                         input-model="users"
                                         output-model="user_selected"
                                         button-label="name"
                                         item-label="name"
                                         tick-property="selected" >

                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label">Set permission</label>
                                        <select class="form-control" ng-model="permission_id" id="permissions">
                                            <!-- Get A List of Users From DB ng-repeat from the second option-->
                                            <option ng-repeat="perm in permissions" value="{{perm.id}}">{{perm.permission}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" ng-show="assigned">
                                    <div class="col-md-3">
                                        <label for="assign">Choose users:</label>
                                    </div>
                                    <span directive-id="choosen">
                                        <div id="assign1" class="col-sm-8"
                                             isteven-multi-select
                                             input-model="users_choose"
                                             output-model="users_chosen"
                                             button-label="name"
                                             item-label="name"
                                             tick-property="selected"
                                             >
                                        </div>
                                    </span>
                                </div>
                            </md-content>
                        </md-tab>

                        <md-tab label="Products *">
                            <md-content>
                                <div class="container-fluid">
                                    <br />
                                    <input type="text" class="pull-left" placeholder="Search Products" ng-model="search">

                                    <table class="table table-bordered table-striped table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Inventory</th>
                                                <th>Product</th>                                                
                                                <th>Payment Plan</th>                                               
                                                <th>Add</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="prod in inventories| filter:search" ng-init=" id = $index">
                                                <td>{{prod.property_no}}</td>
                                                <td>{{prod.name}}</td>                                
                                                <td>
                                                    <select ng-model="plan[id]" class="select2-container">                                                
                                                        <option ng-repeat="p in getPlan(prod.product_id)"
                                                                value="{{p.id}}">
                                                            Dep: {{p.deposit}} | Inst: {{p.installment_no}}</option>
                                                    </select>

                                                </td>                                                 
                                                <td>
                                                    <input type="checkbox"  id="p_plan" ng-model ="p_plan[id]" ng-true-value="{{prod.id}}">
                                                </td> 
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Inventory</th>
                                                <th>Product</th>
                                                <th>Payment Plan</th>
                                                <th>Add</th>  
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-dialog-content>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary pull-left" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
                </div>
            </div>
        </form>  

    </div>


</md-dialog>
