<md-dialog aria-label="Confirm delete">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"  ng-click="close()">×</span></button>
                  <h4 class="modal-title"><i class="fa fa-trash-o"></i>&nbsp; Delete?</h4>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to delete <em><b>{{task.name}}</b></em>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="deleteConfirm(task.id)" class="btn btn-primary pull-left" data-dismiss="modal">YES</button>
                <button type="button" class="btn btn-danger " ng-click="close()">NO</button>
              </div>
            </div>
            <!-- /.modal-content -->        

</md-dialog>