<!-- Add Contacts Form -->
<md-dialog aria-label="Add project">
    <md-toolbar >
        <div class="md-toolbar-tools">
            <h2> <i class="fa fa-plus-circle"></i>&nbsp; Add Product</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <span aria-label="Close dialog">x</span>
            </md-button>
        </div>
    </md-toolbar>
    <form ng-submit="editProduct()">
        <md-dialog-content style="max-width:700px;max-height:400px;">
            <md-content class="md-padding">
                <div class="row">
                    <div class="form-group col-sm-6">                            
                        <input type="text" class=" form-control" id="name"
                               placeholder="Product Name" ng-model="name" required>                                
                    </div>
                    <div class="form-group col-sm-6">
                        <select class="form-control"  ng-model="project_id">
                            <option ng-selected="true">Project</option>
                            <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">                            
                        <input type="number" class=" form-control" id="name"
                               placeholder="Units"
                               string-to-number
                               ng-model="units" min="1" required>                                
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="number" class=" form-control" id="name"
                               placeholder="Units From" ng-model="from" 
                               string-to-number
                               min="0">
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="number" class=" form-control" id="name"
                               placeholder="Units To" ng-model="to" 
                               string-to-number
                               min="0" >
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <!-- NOTE! The options should be picked from the db -->
                        <button class="btn btn-danger form-control"><i class="fa fa-save" ></i>&nbsp; Save</button>
                    </div>
                </div>
            </md-content>
        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="close()" style="margin-right:20px;" >
            Discard
        </md-button>
    </md-dialog-actions>

</md-dialog>
