
<md-dialog aria-label="edit task"  style="max-width:600px;max-height: 500px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Edit Task</h4>
        </div>
    <form ng-init="emailcount = 1; phonenocount = 1;" ng-submit="edit(task.id)">
        <div class="modal-body">

            <md-content class="md-padding">

                <div class="row">

                    
                        <div class='form-group-sm col-sm-6'>
                            <label class="control-label">Task name&nbsp;<span style="color:red;">*</span></label>
                            <input type="text" class=" form-control" id="name" placeholder="Task description" ng-model="task.name" required>
                        </div>
                        <div class='form-group-sm col-sm-6'>
                            <label class="control-label">Start date&nbsp;<span style="color:red;">*</span></label>
                            <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" >
                                <div class="input-group"><input required type="text" placeholder="choose start date" class="form-control" data-ng-model="task.start_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="task.start_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }"
                                                minView="hour"/>
                            </ul>
                        </div>
                        </div>
                                                        
                    

                </div>
                <br>
                <div class="row">
                    <div class="form-group-sm col-sm-6"> 
                        <label class="control-label">Task type&nbsp;<span style="color:red;">*</span></label>
                        <md-input-container>
                            <md-select ng-model="task.task_type" placeholder="Task type" required>
                                <md-option ng-repeat="s in task_type" ng-value="s.id" >{{ s.Type}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="form-group-sm col-sm-6">
                        <!-- NOTE! The options should be picked from the db -->
                        <label class="control-label">Task priority&nbsp;<span style="color:red;">*</span></label>
                        <md-input-container>
                            <md-select ng-model="task.priority_type_id" placeholder="priority " required>
                                <md-option ng-repeat="s in priority" ng-value="s.id" >{{ s.type}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                </div>

                <div class="row" ng-init="sreminder=true">
                    <div class="col-sm-6">
                        <label>Reminder date and time &nbsp;<span style="color:red;">*</span></label>
                    </div>
                    <div ng-show="sreminder" class="col-sm-6">
<!--                         <datepicker date-format="yyyy-MM-dd HH:mm:ss">
                            <input ng-model="reminder" type="text" class='form-control' placeholder="Reminder date"/>
                        </datepicker>-->
                        <div class="form group-sm dropdown">
                            <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <div class="input-group"><input type="text" placeholder="choose reminder date and time" class="form-control" data-ng-model="task.reminder"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="task.reminder" data-datetimepicker-config="{ dropdownSelector: '#dropdown3',minView:'hour'  }"
                                                minView="hour"/>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group-sm col-sm-6">
                        <label class="control-label">Task status&nbsp;<span style="color:red;">*</span></label>
                       <md-input-container>
                            <md-select ng-model="task.status_id" placeholder="Status of task">
                                <md-option ng-repeat="s in task_status" ng-value="s.id" >{{ s.status}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="form-group-sm col-sm-6">
                        <label class="control-label">Permissions</label>
                        <select class="form-control" id="permissions"  name="permissions[]">
                            <!-- Get A List of Users From DB ng-repeat from the second option-->
                            <option ng-selected="true">Permissions </option>
                            <option value="one">Public</option>
                            <option value="one">Specific Users </option>
                        </select>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="form-group-sm col-sm-6 ">

                            <div class="col-sm-6">
                                <label for="assign">Assign to:</label>
                            </div>
                            <div id="assign" class="col-sm-6"
                                 isteven-multi-select
                                 input-model="users"
                                 output-model="assign_to"
                                 button-label="name"
                                 item-label="name"
                                 tick-property="selected"
                                 >
                            </div>
                        </div>
                
                    </div>
            </md-content>

        </div>
    <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><span class="fa fa-save"></span> 
                    Edit Task 
                </button>
                <button type="reset" ng-click="close()" class="btn btn-danger"><span>x &nbsp; </span> 
                    Close
                </button>
            </div>
        </form>

    </div>

</md-dialog>
