
<md-dialog aria-label="Mango (Fruit)" style="max-width: 600px;">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; EditProspect</h4>
        </div>
        <form class="form" ng-submit="edit(contact.id, contact.lead_id)" ng-init="emailcount = 1; phonenocount = 1;usercount = 1; req = true;">
            <div class="modal-body">
                <md-tabs  md-border-bottom md-dynamic-height>               
                    <md-tab label="Prospect Information">
                        <md-content class="md-padding">



                            <div class="row">
                                <div class="form-group-sm col-sm-4"> 
                                    <label class="control-label">Salutation&nbsp;<span style="color:red;">*</span></label>
                                    <angucomplete-alt id="sals"
                                                      placeholder="Salutations"
                                                      field-required="req"
                                                      input-name="salutation"
                                                      pause="100"
                                                      selected-object="$parent.selectedsal"
                                                      override-suggestions="true"
                                                      local-data="salutations"
                                                      search-fields="id,salutation"
                                                      title-field="salutation"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      initial-value="contact_salutation"
                                                      text-no-results="Not found. It will be added"/>
                                </div>
                                <div class="form-group-sm col-sm-4">
                                    <label class="control-label">First name&nbsp;<span style="color:red;">*</span></label>
                                    <input type="text" class=" form-control" placeholder="First Name" ng-model="$parent.contact.firstname" required>                                
                                </div>
                                <div class="form-group-sm col-sm-4"> 
                                    <label class="control-label">Last name&nbsp;<span style="color:red;">*</span></label>
                                    <input type="text"  class="col-sm-6 form-control" id="l_name" 
                                           placeholder="Last Name" ng-model="$parent.contact.lastname" >                       
                                </div>
                            </div>

                            <br>
                            <div class="row">                    
                                <div class="form-group-sm col-sm-4">
                                    <label class="control-label">Organization</label>
                                    <angucomplete-alt id="orgs"
                                                      auto-match="true"
                                                      placeholder="Organization"
                                                      pause="100"
                                                      selected-object="$parent.selectedorg"
                                                      override-suggestions="true"
                                                      local-data="organizations"
                                                      search-fields="id,name"
                                                      title-field="name"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      initial-value="contact_organization"
                                                      text-no-results="Not found. It will be added"/>

                                </div>
                                <div class="form-group-sm col-sm-4">

                                    <label class="control-label">Prospect source&nbsp;<span style="color:red;">*</span></label>
                                    <angucomplete-alt id=""
                                                      auto-match="true"
                                                      placeholder="Prospect Source"
                                                      pause="100"
                                                      selected-object="source"
                                                      override-suggestions="true"
                                                      local-data="sources"
                                                      search-fields="id,source"
                                                      title-field="source"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      initial_value="source"
                                                      text-no-results="Not found. It will be added"/>

                                </div>
                                <div class="form-group-sm col-sm-4">

                                    <label class="control-label" for="lead_status">Prospect status&nbsp;<span style="color:red;">*</span></label>

                                    <div class="col-sm-9">
                                        <select class="form-control" id="lead_status"  ng-model="contact.status_id">

                                            <option ng-repeat="st in status" value="{{st.id}}">{{st.status}}</option>
                                        </select>
                                    </div>   
                                </div>
                            </div> 



                            <br>
                            <div class="row">

                                <div class="form-group-sm col-sm-6">

                                    <label for="description" class="control-label">Description&nbsp;<span style="color:red;">*</span></label>

                                    <textarea rows="4" class="form-control" id="description" ng-required required
                                              placeholder="Brief Description of the lead" ng-model="contact.description">
                                    </textarea>

                                </div> 
                                <div class="form-group-sm col-sm-6">
                                    <label class="control-label">Permissions</label>
                                    <select class="form-control" id="permissions"  name="permissions[]">
                                        <!-- Get A List of Users From DB ng-repeat from the second option-->
                                        <option ng-selected="true">Permissions </option>
                                        <option value="one">Public</option>
                                        <option value="one">Specific Users </option>
                                    </select>
                                </div>


                            </div>

                        </md-content>
                    </md-tab>

                    <md-tab label="Address" style="max-width: 500px;">

                        <md-content class="md-padding">
                            <div class="form-group col-sm-6">
                                <label class="control-label">P.O Box</label>
                                <input type="text" ng-model="office.address" placeholder="P.O Box" class="form-control">
                            </div> 
                            <div class="form-group col-sm-6">
                                <label class="control-label">Postal code</label>
                                <input type="text" class="form-control"
                                       id="postal_code" placeholder="Postal Code" ng-model="office.postal_code">
                            </div> 
                            <div class="form-group col-sm-6">
                                <label class="control-label">Town/City</label>
                                <input type="text" class=" form-control" id="city" placeholder="City" ng-model="office.city">
                            </div> 
                            <div class="form-group col-sm-6">
                                <label class="control-label">Country</label>
                                <input type="text" class="form-control" id="country" placeholder="Country" ng-model="office.country">
                            </div>
                        </md-content>
                    </md-tab>

                </md-tabs>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><span class="fa fa-save"></span> 
                    Edit Prospect 
                </button>
                <button type="submit" class="btn btn-danger"><span>x &nbsp; </span> 
                    Close
                </button>
            </div>


        </form>   

    </div>
</md-dialog>