<!-- Add Contacts Form -->
<md-dialog aria-label="Add project">
    <md-toolbar >
        <div class="md-toolbar-tools">
            <h2> <i class="fa fa-plus-circle"></i>&nbsp; Edit Project</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <span aria-label="Close dialog">x</span>
            </md-button>
        </div>
    </md-toolbar>
      <form ng-submit="editProject(project.id)">
        <md-dialog-content style="min-width:600px;min-height:400px; ">

            <md-content class="md-padding">
                
                <div class="row">
                    
                    <div class="form-group col-sm-12">                            
                        <input type="text" class=" form-control" id="name"
                               placeholder="Project name" ng-model="project.name" required>                                
                    </div>
                    
                </div>
                <hr  class="form_divider"/>
                <div class="row">
                    <div class="form-group col-sm-4">
                       <!--  <md-datepicker ng-model="due_date" md-placeholder="Enter due date"></md-datepicker -->
                       <select class="form-control" ng-model="project.project_type">
                           <option value="Land" selected="selected">Land</option>
                           <option value="Housing">Housing</option>
                       </select>

                    </div>
                    <div class="form-group col-sm-4">
                        <!-- NOTE! The options should be picked from the db -->
                        <select class="form-control" ng-model="project.tenant_type">
                           <option slected="selected" value="Multi-tenant">Multi-tenant</option>
                           <option value="Single-tenant">Single-tenant</option>
                       </select>
                    </div>
                    <div class="form-group col-sm-4">
                        <!-- NOTE! The options should be picked from the db -->
                        <input type="number" ng-model="project.units_no" class="form-control"
                               placeholder="Number of available units" required>
                    </div>
                    
                </div>

                <div class="row">                    
                    <div class="form-group col-sm-12">
                        <!-- Get A List of Users From DB ng-repeat from the second option-->
                        <textarea class="form-control" ng-model="project.description" placeholder="Project description">
                            
                        </textarea>
                    </div>
                </div>  
         
                <div class="row">
                    <div class="form-group col-sm-6">
                        <select class="form-control" id="permissions"  name="permissions[]">
                            <!-- Get A List of Users From DB ng-repeat from the second option-->
                            <option selected>Permissions </option>
                            <option value="one">Public</option>
                            <option value="one">Specific Users </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <!-- NOTE! The options should be picked from the db -->
                        <button class="btn btn-danger form-control"><i class="fa fa-save" ></i>&nbsp; Save</button>
                    </div>
                </div>

            </md-content>

        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="close()" style="margin-right:20px;" >
            Discard
        </md-button>
    </md-dialog-actions>

</md-dialog>

