<!-- Add Contacts Form -->
<md-dialog aria-label="EditOrganization" style="max-width: 700px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Edit Organization</h4>
        </div>
        <form ng-init="emailcount = 1;
            phonenocount = 1;" ng-submit="editOrganization(organ.id)" class="">
            <div class="modal-body">
                <md-tabs  md-border-bottom md-dynamic-height >
                    <md-tab label="Organization Information">
                        <md-content class="md-padding">                

                           



                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Company name&nbsp;<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="organization" 
                                       placeholder="Name" ng-model="organ.name">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Industry&nbsp;<span style="color:red;">*</span></label>
                                <angucomplete-alt id="orgs"
                                                  auto-match="true"
                                                  placeholder="Industry"
                                                  pause="100"
                                                  selected-object="selectedindustry"
                                                  override-suggestions="true"
                                                  local-data="industries"
                                                  search-fields="id,industry"
                                                  title-field="industry"
                                                  minlength="1"
                                                  input-class="form-control form-control-small"
                                                  match-class="highlight"
                                                  initial-value="indust"
                                                  text-no-results="Not found. It will be added"/>

                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Background&nbsp;<span style="color:red;">*</span></label>
                                <textarea ng-model="organ.background" rows="5" class="form-control"
                                          placeholder="Brief background of company"></textarea>
                            </div>
                            
                            <div class="form-group col-sm-6">
                                <label class="control-label">Permissions</label>
                                <select class="form-control" id="permissions"  name="permissions[]">
                                    <!-- Get A List of Users From DB ng-repeat from the second option-->
                                    <option selected>Permissions </option>
                                    <option value="one">Public</option>
                                    <option value="one">Specific Users </option>
                                </select>
                            </div>
                        </div>
                            </md-content>
                    </md-tab>
                    <md-tab label="Address">
                        
                        <md-content class="md-padding">
                        <div class="form-group col-sm-6"> 
                            <label class="control-label">P.O Box</label>
                                <input type="text" ng-model="add.address" placeholder="P.O Box" class="form-control">
                        </div> 
                        <div class="form-group col-sm-6">
                            <label class="control-label">Postal code</label>
                            <input type="text" class="form-control"
                                   id="postal_code" placeholder="Postal Code" ng-model="add.postal_code">
                        </div> 
                        <div class="form-group col-sm-6">
                            <label class="control-label">City/Town</label>
                                <input type="text" class=" form-control" id="city" placeholder="City" ng-model="add.city">
                        </div> 
                        <div class="form-group col-sm-6">
                            <label class="control-label">Kenya</label>
                            <input type="text" class="form-control" id="country" placeholder="Country" ng-model="add.country">
                        </div>
                    </md-content>
                    </md-tab>
                </md-tabs> 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success pull-left"><i class="fa fa-edit"></i>&nbsp; Edit</button>
                <button type="submit" ng-click="close()" class="btn btn-danger pull-right">x&nbsp; Close</button>
            </div>    



        </form>
    </div>
</md-dialog>