<!-- Add Contacts Form -->
<md-dialog aria-label="editContact">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-edit"></i>&nbsp; Edit Contact</h4>
        </div>
        <form ng-submit="editContact(contact.id)">
            <md-dialog-content style="max-width:600px;max-height:810px; ">
                <div class="modal-body">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="form-group col-sm-3">                                                  
                                <!--                         <select class="form-control col-sm-2"   ng-model="salutation_id">
                                                              Get Prefix From The DB and have them here 
                                                            <option ng-repeat="salutation in salutations" value="{{salutation.id}}">{{salutation.salutation}}</option>
                                                        </select>                    -->
                                <angucomplete-alt id="sals"
                                                  placeholder="Salutations"
                                                  pause="100"
                                                  selected-object="selectedsal"
                                                  override-suggestions="true"
                                                  local-data="salutations"
                                                  search-fields="id,salutation"
                                                  title-field="salutation"
                                                  minlength="1"
                                                  input-class="form-control form-control-small"
                                                  match-class="highlight"
                                                  text-no-results="Not found. It will be added"
                                                  initial-value="contact_salutation"/>
                            </div>
                            <div class="form-group col-sm-4">                            
                                <input type="text" class=" form-control" placeholder="First Name" ng-model="contact.firstname" required>                                
                            </div>
                            <div class="form-group col-sm-5">                                                  
                                <input type="text"  class="col-sm-6 form-control" 
                                       placeholder="Last Name" ng-model="contact.lastname" >                       
                            </div>
                        </div>
                        <hr  class="form_divider"/>
                        <!--                <div class="row">
                                            <div class="form-group col-sm-6">
                                                <input type="text"  class="col-sm-6 form-control" id="phone" 
                                                       placeholder="Phone" name="phone[]" > 
                                            </div>
                                            <div class="form-group col-sm-6">
                                                 NOTE! The options should be picked from the db 
                                                <select class="form-control" id="lead_status"  name="phone_type[]">
                                                    <option selected>Work</option>
                                                    <option value="one">Home</option>
                                                    <option value="two">Mobile</option>
                                                </select>
                                            </div>
                                            
                                        </div>
                                        <a href="#/contacts" class="btn btn-toolbar" type="button" ng-click="addPhone()">+Add more numbers</a>
                                        <div class="row">
                                            <div class="form-group col-sm-6">
                                                <input type="email"  class="col-sm-6 form-control" id="email" 
                                                       placeholder="Email" name="email[]" > 
                                            </div>
                                            <div class="form-group col-sm-6">
                                                 NOTE! The options should be picked from the db 
                                                <select class="form-control" id="email_type"  name="email_type[]">
                                                    <option selected>Work</option>
                                                    <option value="one">Home</option>
                                                </select>
                                            </div>
                                        </div>
                                        <a href="" class="btn btn-toolbar" type="button" ng-click="name='aluda'">+Add more emails</a>-->

                        <div class="row">                    
                            <div class="form-group col-sm-12">
                                <!--                        <select class="form-control" ng-model="organization_id">
                                                            <option ng-repeat="organization in organizations" value="{{organization.id}}">{{organization.name}}</option>
                                                        </select>-->
                                <angucomplete-alt id="orgs"
                                                  auto-match="true"
                                                  placeholder="Organization"
                                                  pause="100"
                                                  selected-object="selectedorg"
                                                  override-suggestions="true"
                                                  local-data="organizations"
                                                  search-fields="id,name"
                                                  title-field="name"
                                                  minlength="1"
                                                  input-class="form-control form-control-small"
                                                  match-class="highlight"
                                                  text-no-results="Not found. It will be added"
                                                  initial-value="contact_organization"/>
                            </div>
                        </div>  
                        <!--                <div class="row">                    
                                            <div class="form-group col-sm-12">
                                                 Get A List of Users From DB ng-repeat from the second option
                                                <select class="form-control" id="assigned_to" ng-model="assigned_to">                            
                                                    <option selected>Assigned To</option>
                                                    <option value="one">Simon Mathenge</option>
                                                </select>
                                            </div>
                                        </div>-->
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <select class="form-control" id="permissions"  name="permissions[]">
                                    <!-- Get A List of Users From DB ng-repeat from the second option-->
                                    <option selected>Permissions </option>
                                    <option value="one">Public</option>
                                    <option value="one">Specific Users </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group-sm col-sm-6">
                                    <input type="number" ng-model="address" placeholder="P.O Box" class="form-control">

                                </div> 
                                <div class="form-group-sm col-sm-6">
                                    <input type="number" class="form-control" id="postal_code" 
                                           placeholder="Postal Code" ng-model="postal_code">
                                </div> 
                        </div>
                        <br >
                        <div class="row">
                            <div class="form-group-sm col-sm-6">
                                <input type="text" class=" form-control" id="city" placeholder="City" ng-model="city">
                            </div> 
                            <div class="form-group-sm col-sm-6">
                                <input type="text" class="form-control" id="country" placeholder="Country" ng-model="country">
                            </div>
                        </div>
                    </md-content>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-left">
                        <i class="fa fa-save"></i>&nbsp; Update</button>
                    <button ng-click="close()" class="btn btn-danger pull-right">
                        <i class="fa fa-star"></i>&nbsp; Close</button>
                </div>
            </md-dialog-content>
        </form>
    </div>  
</md-dialog>