<!-- Add Contacts Form -->
<md-dialog aria-label="AddContacts" style="max-width:600px;max-height:700px; ">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-edit"></i>&nbsp; Edit Opportunity</h4>
        </div>
        <form ng-submit="edit(opportunity.id)">
            <div class="modal-body">
                <md-dialog-content style="min-width:700px;max-height:600px; ">
                    <md-tabs md-dynamic-height md-border-bottom>               
                        <md-tab label="Opportunity Details">
                            <md-content class="md-padding">
                                <div class="row">
                                    <div class="form-group col-sm-6">                            
                                        <input type="text" class=" form-control" id="f_name" ng-model="opportunity.name" required>                                
                                    </div>
                                    <div ng-if="cust" class="form-group col-sm-6">  
                                        <label class="control-label col-sm-2">Customer&nbsp;<span style="color:red;">*</span></label>
                                        <select class="form-control col-sm-4"  ng-model="$parent.customer.id"  >
                                                                                
                                            <option ng-repeat="customer in customers" value="{{customer.id}}">  
                                                {{customer.firstname}} {{customer.lastname}}
                                            </option>                                   
                                        </select>
                                        
                                    </div>
                                    <div ng-if="org" class="form-group col-sm-6">  
                                        <label class="control-label col-sm-2">Organization&nbsp;<span style="color:red;">*</span></label>
                                        <select class="form-control col-sm-4"  ng-model="$parent.organization.id"  >
                                             Get Customers From Object                                     
                                            <option ng-repeat="org in organizations" value="{{org.id}}">  
                                                {{org.name}} 
                                            </option>                                   
                                        </select>
                                        
                                    </div>
                                </div>
                                <hr  class="form_divider"/>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <textarea type="text"  class="col-sm-6 form-control" id="phone" 
                                                  ng-model="opportunity.description" rows="4" > 
                                        </textarea>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Expected close date&nbsp;<span style="color:red;">*</span></label>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                                                <div class="input-group"><input type="text" placeholder="Expected close date" class="form-control" data-ng-model="opportunity.close_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="opportunity.close_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }"
                                                                />
                                            </ul>
                                        </div>
                                        <br>
                                        <!-- Stage Names-->
                                        <label class="control-label">Opportunity stage&nbsp;<span style="color:red;">*</span></label>
                                        <select class="form-control" ng-model="$parent.currentStage">                            
                                            <option ng-repeat="stage in stages" value="{{stage.id}}"
                                                    >{{stage.stage_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Set permission</label>
                                        <select class="form-control" id="permissions"  ng-model="permission">
                                            <!-- Get A List of Users From DB ng-repeat from the second option-->
                                            <option selected="selected">Permissions </option>
                                            <option value="one">Public</option>
                                            <option value="one">Specific Users </option>
                                        </select>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-dialog-content>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary pull-left " style="margin-bottom:5px;margin-left:20px;"
                        ng-click="edit(id)"><i class="fa fa-save"></i>&nbsp; Update</button>
                <button class="btn btn-danger" ng-click="close()" style="margin-right:20px;" >
                    Discard
                </button>
            </div>            
        </form>
    </div>
</md-dialog>