<md-dialog aria-label="add Note">
    <div class="modal-content" style="min-width:500px;max-height:810px; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp;Edit Payment Plan</h4>
        </div>
        <form role="form">
            <div class="modal-body">
                <div class="form-group">
                    <label>Product</label>
                    <select class="form-control"  ng-model="edited_product_id">
                        <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>
                    </select>
                </div>                                                  
                <div class="form-group">  
                    <label for="note">Deposit/cash:</label>
                    <input type="number" class="form-control" id="note" ng-model="$parent.edited_depo"/>
                </div>                                                  
                <div class="form-group">            
                    <label for="note">Installment:</label>
                    <input type="number" class="form-control" id="note" ng-model="edited_install"/>
                </div>                                                  
                <div class="form-group">                      
                    <label for="note">Installment No.:</label>
                    <input type="number" class="form-control" id="note" ng-model="edited_installno"/>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control"  ng-model="edited_status_id">
                        <option ng-repeat="status in plan_status" value="{{status.id}}">{{status.status}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="editPlan()" class="btn btn-success pull-left">&nbsp;Update<i class="fa fa-save" ></i></button>
                <button type="button" class="btn btn-danger pull-right " ng-click="close()">Discard</button>
            </div>
        </form>
    </div>
</md-dialog>