<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Forgot Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon class="pull-left" icon="close" style="fill:white;" size="20"></ng-md-icon>
                </md-button>

            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <form class="panel panel-info">
                    <h5>
                        To reset your password, please enter the email address you 
                        use to sign in. 
                    </h5>
                <md-input-container>
                    <label>Email</label>
                    <input type="text" ng-model="email" required>
                </md-input-container>
                </form>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" ng-if="email!=''" ng-click="recoverPass()">
                Reset Password
            </md-button>
            
        </md-dialog-actions>
    </form>
</md-dialog>