<md-dialog aria-label="AddContacts">
    <md-toolbar >
        <div class="md-toolbar-tools">
            <h2> <i class="fa fa-plus-circle"></i>&nbsp; Add Contact</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <span aria-label="Close dialog">x</span>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;min-width:600px ;max-height:810px; min-height:400px ;">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Opportunities">
                
            </md-tab>
            <md-tab label="Tasks">
                
            </md-tab>
            <md-tab label="Notes">
                <md-content class="md-padding">
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <input type="number" 
                                   ng-model="$parent.notedisplaynumber" 
                                   class="form-control"
                                   placeholder="item per page"/>
                        </div>
                        <div class="form-group col-sm-5">
                            <input type="text"
                                   ng-model="$parent.searchnotes"
                                   ng-change="$parent.resetNoteItems()"
                                   class="form-control"
                                   placeholder="Search"/>
                        </div>
                    </div>
                    <div class="box  collapsed-box list_box" 
                         dir-paginate="notes in inventory_notes | 
                                     itemsPerPage: notedisplaynumber|filter:$parent.searchnotes"
                         pagination-id="not"
                         ng-init="show = false"
                         ng-mouseover="show = true" ng-mouseleave="show = false">
                        <div class="box-header with-border"  >
                            <div class=" col-md-4 text-muted " > 
                                <button class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <h4 class="box-title">
                                    <span class="fa fa-commenting">&nbsp; </span>{{notes.note| characters:15}}</h4></div>
                            <div class="col-md-3 ">
                                Owner: <span class="badge">{{notes.name}}</span>
                            </div>
                            <div class="box-tools col-md-4 " ng-show="show">
                                <div class="pull-right" role="group" > 
                                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteNote(notes.note_id)" 
                                            ><i class="fa fa-trash"></i>&nbsp; </button>
                                </div>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: none;">
                            <div ng-show="editnoteflag[$index]">
                                <div class="col-md-1">Note</div>
                                <div class="col-md-1">
                                    <span class="fa fa-pencil" ng-click="toggleNoteFlag($index)">
                                        <md-tooltip md-direction="bottom">
                                            Edit
                                        </md-tooltip>
                                    </span>
                                </div>
                                <div class="col-md-12">{{notes.note}}</div>
                            </div>
                            <div ng-show="!editnoteflag[$index]" class="row">
                                <div class="form-group">
                                    <textarea class="col-md-offset-1 col-md-8" 
                                              ng-model="note[$index]">
                                    </textarea>
                                    <div class="col-md-1">
                                        <span class="fa fa-2x fa-undo"
                                              ng-click="toggleNoteFlag($index)">
                                            <md-tooltip md-direction="bottom">
                                                Undo
                                            </md-tooltip>
                                        </span>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="fa fa-2x fa-save"
                                              ng-click="editNote($index, notes.note_id)">
                                            <md-tooltip md-direction="bottom">
                                                Save change
                                            </md-tooltip>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                    <dir-pagination-controls 
                        class="pull-right"
                        pagination-id="not"
                        boundary-links="true"
                        on-page-change="pageChangeHandler(newPageNumber)" 
                        template-url="../views/dirpagination.html">
                    </dir-pagination-controls>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="close()" style="margin-right:20px;" >
            Discard
        </md-button>
    </md-dialog-actions>
</md-dialog>