<md-dialog aria-label="add Document">
    <div class="modal-content" style="min-width:400px;max-height:810px; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Note</h4>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal">
                <md-dialog-content >
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label>Attach to</label>
                                </div>
                                <div class="col-sm-8">
                                    <select class="form-control input-sm"  ng-model="selected_id">
                                        <option ng-repeat="selected in $parent.entity_selected" value="{{selected.id}}">{{selected.firstname}} {{selected.firstname}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">                                                  
                            <div class="form-group col-sm-12">                            
                                <div class="btn btn-success" ngf-select ng-model="files" 
                                     ngf-multiple="true">Select files</div>
                                <div ngf-drop ng-model="files" class="well well-sm"
                                     ngf-multiple="true">Or Drop and drop
                                </div>
                                <ul style="list-style-type: none;">
                                    <li ng-repeat="f in files" style="font:smaller">{{f.name}}
                                        <div class="col-sm-8">
                                            <input type="text" ng-model="$parent.docname[$index]" class="form-control input-sm" 
                                                   placeholder="Document name">
                                        </div>
                                        <span class="progress" ng-show="f.progress >= 0">
                                            <div class="progress-bar" role="progressbar" style="width:{{f.progress}}%"  
                                                 ng-bind="f.progress + '%'"></div>
                                        </span>
                                    </li>
                                    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                                    </li> 
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="permissions">Permissions</label>
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control" ng-model="permission_id" id="permissions">
                                    <!-- Get A List of Users From DB ng-repeat from the second option-->
                                    <option ng-repeat="perm in permissions" value="{{perm.id}}">{{perm.permission}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" ng-show="assigned">
                            <div class="col-md-3">
                                <label for="assign">Choose users:</label>
                            </div>
                            <span directive-id="choosen">
                                <div id="assign1" class="col-sm-8"
                                     isteven-multi-select
                                     input-model="users_choose"
                                     output-model="users_chosen"
                                     button-label="name"
                                     item-label="name"
                                     tick-property="selected"
                                     >
                                </div>
                            </span>
                        </div>
                    </md-content>
                </md-dialog-content>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="attachDocument(files)" class="btn btn-primary pull-left" data-dismiss="modal">Attach Document</button>
            <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
        </div>
</md-dialog>