<md-dialog aria-label="add Note">
    <div class="modal-content" style="min-width:400px;max-height:810px; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Note</h4>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal">
                <md-dialog-content >
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label>Attach to</label>
                                </div>
                                <div class="col-sm-8">
                                    <select class="form-control"  ng-model="selected_id">
                                        <option ng-repeat="selected in $parent.entity_selected" value="{{selected.id}}">{{selected.firstname}} {{selected.firstname}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">                                                  
                            <div class="form-group col-sm-12">                            
                                <div class="col-sm-2">
                                    <label for="note">Note:</label>
                                </div>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" id="note" ng-model="note"></textarea>                                
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="attachNote()" class="btn btn-primary pull-left" data-dismiss="modal">Attach Note</button>
            <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
        </div>
</md-dialog>