<!-- Add Contacts Form -->
<md-dialog aria-label="Add Opportunity">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-dollar"></i>&nbsp; New Opportunity</h4>
        </div>

        <form class="form" ng-submit="addNew()"  ng-init="productscount = 1;
                req = true;">
            <div class="modal-body">
                <md-dialog-content style="min-width:700px;min-height:400px; ">
                    <md-tabs md-dynamic-height md-border-bottom>               
                        <md-tab label="Opportunity Details">
                            <md-content class="md-padding">
                                <div class="row">
                                    <div class="form-group col-sm-6">                            
                                        <input type="text" class=" form-control" id="f_name" placeholder="Opportunity Name" ng-model="oppname" required>                                
                                    </div>                            
                                    <div class="form-group col-sm-6">                                                  
                                        <select class="form-control col-sm-4"  ng-model="customer" >
                                            <!-- Get Customers From Object -->                                    
                                            <option ng-repeat="customer in customers" value="{{customer.id}}">  
                                                {{customer.firstname}} {{customer.lastname}}
                                            </option>                                   
                                        </select>                    
                                    </div>
                                </div>
                                <hr  class="form_divider"/>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <textarea type="text"  class="col-sm-6 form-control" id="description" 
                                                  placeholder="Description" ng-model="description" rows="4" > 
                                        </textarea>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <md-datepicker  class="col-sm-6 " ng-model="closeDate"
                                                        md-placeholder="Close Date"></md-datepicker>
                                        <!-- Get A List of Users From DB ng-repeat from the second option-->
                                        <select class="form-control" ng-model="stage">                            
                                            <option ng-repeat="stage in stages" value="{{stage.id}}"
                                                    >{{stage.stage_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <!-- NOTE! The options should be picked from the db -->
                                        <select class="form-control" id="assigned_to" ng-model="assigned_to">                            
                                            <option ng-selected="true">Assigned To</option>
                                            <option value="one">Simon Mathenge</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <select class="form-control" id="permissions"  ng-model="permission">
                                            <!-- Get A List of Users From DB ng-repeat from the second option-->
                                            <option ng-selected="true">Permissions </option>
                                            <option value="one">Public</option>
                                            <option value="one">Specific Users </option>
                                        </select>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>

                        <md-tab label="Products">
                            <md-content>
                                <div class="container-fluid">
                                    <br />
                                    <input type="text" class="pull-left" placeholder="Search Products" ng-model="search">

                                    <table class="table table-bordered table-striped table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Inventory</th>
                                                <th>Product</th>                                                
                                                <th>Payment Plan</th>
                                                <th>Quantity</th>
                                                <th>Add</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="prod in t_inventories| filter:search" ng-init=" id = $index">
                                                <td>{{prod.property_no}}</td>
                                                <td>{{prod.name}}</td>                                
                                                <td>
                                                    <select ng-model="plan[id]" class="select2-container">                                                
                                                        <option ng-repeat="p in getPlan(prod.product_id)" 
                                                                value="{{p.id}}">
                                                            Dep: {{p.deposit}} | Inst: {{p.installment_no}}</option>
                                                    </select>

                                                </td> 
                                                <td>
                                                    <input type="number" min="1" ng-model="quantity[id]"/>
                                                </td>
                                                <td>
                                                    <input type="checkbox"  id="p_plan" ng-model ="$parent.p_plan[id]" ng-true-value="{{prod.id}}">

                                                </td> 
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Inventory</th>
                                                <th>Product</th>
                                                <th>Payment Plan</th>
                                                <th>Quantity</th>
                                                <th>Add</th>  
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-dialog-content>
                <div class="modal-footer">
                    <button type="submit" ng-click="deleteConfirm(task.id)" class="btn btn-primary pull-left" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
                </div>
            </div>
        </form>  

    </div>


</md-dialog>
