<md-dialog>
    <div class="modal-content">
        <div class="modal-header" style="min-width:400px;max-height:810px; ">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Add Note</h4>
        </div>
        <div class="modal-body">
            <div class="btn btn-success" ngf-select ng-model="files" 
                 ngf-multiple="true">Select files</div>
            <div ngf-drop ng-model="files" class="well well-sm"
                 ngf-multiple="true">Or Drop and drop
            </div>
            <ul style="list-style-type: none;">
                <li ng-repeat="f in files" style="font:smaller">{{f.name}}
                    <div class="col-sm-8">
                        <input type="text" ng-model="$parent.docname[$index]" class="form-control input-sm" 
                               placeholder="Document name">
                    </div>
                    <span class="progress" ng-show="f.progress >= 0">
                        <div class="progress-bar" role="progressbar" style="width:{{f.progress}}%"  
                             ng-bind="f.progress + '%'"></div>
                    </span>
                </li>
                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                </li> 
            </ul>
            <div class="row">
                <div class="col-sm-3">
                    <label for="permissions">Permissions</label>
                </div>
                <div class="col-sm-5">
                    <select class="form-control" ng-model="permission_id" id="permissions">
                    <!-- Get A List of Users From DB ng-repeat from the second option-->
                    <option ng-repeat="perm in permissions" value="{{perm.id}}">{{perm.permission}}</option>
                </select>
                </div>
            </div>
        <div class="row" ng-show="assigned">
            <div class="col-md-3">
                <label for="assign">Choose users:</label>
            </div>
            <span directive-id="choosen">
                <div id="assign1" class="col-sm-8"
                     isteven-multi-select
                     input-model="users_choose"
                     output-model="users_chosen"
                     button-label="name"
                     item-label="name"
                     tick-property="selected"
                     >
                </div>
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-click="uploadDoc(files)" class="btn btn-primary pull-left" data-dismiss="modal">Attach Document</button>
        <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
    </div>
</div>
</md-dialog>