<!-- Add Contacts Form -->
<md-dialog aria-label="Add task" style="min-width:500px;max-height: 600px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-plus-circle"></i>&nbsp; Send mail</h4>
        </div>
        <form class="form"  ng-submit="sendMail()">
            <div class="modal-body">

                <md-content class="md-padding">
                    <div class="row">
                        <div class="form-group-sm col-sm-12">
                            <label class="control-label">From</label>
                            <input type="text" class="form-control" ng-model="currentUser.email" placeholder="From" required readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group-sm col-sm-12">
                            <label class="control-label">To</label>
                            <select class="form-control" ng-model="to" required>
                                <option value="">Choose recepient email</option>
                                <option ng-repeat="email in emails"  value="{{email.email}}">{{email.email}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group-sm col-sm-12">
                            <label class="control-label">Subject</label>
                            <input type="text" class="form-control" ng-model="subject" placeholder="subject" required>
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label">Message</label>
                        <div class="form-group-sm col-sm-12">
                            <textarea class="form-control" placeholder="message" required ng-model="message">
                Your message here
                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group-sm col-sm-12">
                            <br>
                        <button class="btn btn-default btn-sm" ngf-select="uploadFiles($files, $invalidFiles)" ngf-multiple="true"
                                accept="" ngf-max-height="1000" ngf-max-size="2MB">
                            <i class="fa fa-paperclip"></i> Attach</button>
                        <br>
                        Files:
                        <ul>
                            <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
<!--                                <span class="progress" ng-show="f.progress >= 0">
                                    <div style="width:{{f.progress}}%"  
                                         ng-bind="f.progress + '%'"></div>
                                </span>-->
                                <div class="progress" ng-show="f.progress >= 0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{f.progress}}%">
                                        <span class="sr-only" ng-bind="f.progress + '%'"></span>
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                            </li> 
                        </ul>
                        {{errorMsg}}
                        </div>
                    </div>   

                </md-content>    
            </div>

            <div class="modal-footer">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-left"><span class="fa fa-email"></span> 
                        Send mail 
                    </button>
                    <button type="reset" ng-click="close()" class="btn btn-danger"><span>x &nbsp; </span> 
                        Close
                    </button>
                </div>
            </div>
        </form>



    </div>
</md-dialog>

