<!-- Add Contacts Form -->
<md-dialog aria-label="View event" style="min-width:700px;">
    <div class="modal-content" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"  ng-click="close()">×</span></button>
            <h4 class="modal-title"><i class="fa fa-dollar"></i>&nbsp; View event</h4>
        </div>


        <div class="modal-body">
            <md-dialog-content >
                <md-content class="md-padding" ng-init="showedit = false" ng-init="showpin=false">
                    <div class="row">
                        <div class="col-sm-3">
                            <p >
                                <span class="fa fa-calender"></span>
                                {{event.title}} 
                            </p>
                        </div>
                        <div class="col-sm-3">
                            {{event.start}}
                        </div>

                        <div class="col-sm-5">
                            <div class="pull-right" role="group" >                   
                                <div class="btn-group">                       
                                    <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-plus"></i>&nbsp; 
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                                        <li><a href="#" ng-click="pin('opportunity')">Opportunity</a></li>
                                        <li><a href="#" ng-click="pin('organization')">Organization </a></li>
                                        <li><a href="#" ng-click="pin('customer')">Customer </a></li>
                                        <li><a href="#" ng-click="pin('lead')">Prospect </a></li>
                                        <li><a type="button" ng-click="pinNote($event, lead.id)">Note</a></li>
                                    </ul>
                                </div>&nbsp; 
                                <button type="button" class="btn btn-default btn-sm" ng-click="showedit = true">
                                    <i class="fa fa-edit"></i>&nbsp; </button> &nbsp; 
                                <button type="button" class="btn btn-default btn-sm" ng-click="delete(event.id)"
                                        ><i class="fa fa-trash"></i>&nbsp; </button>                    

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Customers">
                                <md-content class="padding">
                                    <div ng-repeat="cont in contact_events">
                                        {{cont.firstname}}{{cont.lastname}}
                                    </div>
                                    
                                </md-content>
                            </md-tab>
                            <md-tab label="Prospects">
                                <md-content class="padding">
                                     <div ng-repeat="cont in lead_events">
                                        {{cont.firstname}}{{cont.lastname}}
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Organization">
                                <md-content class="padding">
                                    <div ng-repeat="org in orgevents">
                                        {{org.orgname}}
                                    </div>
                                    
                            </md-tab>
                            <md-tab label="Opportunity">
                                <md-content class="padding">
                                    <div ng-repeat="org in opevents">
                                        {{org.orgname}}
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                    <div class="row" ng-show="showedit">
                        <form class="form form-inline" role="form" ng-submit="edit(event.id)">
                            <div class="input-group">
                                <input class="form-control" ng-model="event.title">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i>
                                        Edit
                                    </button>
                                </span>
                            </div> 
                        </form>
                    </div>
                    <div class="row" ng-show="showpin">

                        <form class="form form-inline " ng-submit="pinned(object,event.id)"  >
                            <label>Pin to {{object}}:</label>
                            <div class="input-group">
                                <select class="form-control" ng-model="object_id">
                                    <option ng-if="object == 'organization'" ng-repeat="organ in organizations" value="{{organ.id}}">{{organ.name}}</option>
                                    <option ng-if="object == 'customer'" ng-repeat="organ in contacts" value="{{organ.id}}">{{organ.firstname}} {{organ.lastname}}</option>
                                    <option ng-if="object == 'prospect'" ng-repeat="organ in leads" value="{{organ.id}}">{{organ.firstname}} {{organ.lastname}}</option>
                                    <option ng-if="object == 'opportunity'" ng-repeat="organ in opportunities" value="{{organ.id}}">{{organ.name}}</option>
                                </select>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-pinterest"></i> </button>
                                </div>
                            </div>

                        </form>

                    </div>
                </md-content>


            </md-dialog-content>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger " ng-click="close()">Discard</button>
            </div>
        </div>


    </div>


</md-dialog>

