
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<form ng-submit="register()" layout="column">
    <md-input-container>
    <md-select ng-model="salutation" placeholder="Select a title">
    <md-option ng-value="s.id" ng-repeat="s in salute">{{ s.salute }}</md-option>
</md-select>
</md-input-container>
<md-input-container>
<label>Surname</label>
<input type="text" ng-model="first_name" required>

</md-input-container>
<md-input-container>
<label>First Name</label>
<input type="text" ng-model="last_name" required>

</md-input-container><br>
<md-input-container>
<label>Title</label>
<input type="text" ng-model="title" required>

</md-input-container>
<br>
<md-input-container>
<label>Description</label>
    <textarea ng-model="description"></textarea>
</md-input-container>


<!--           <span ng-show="logForm.password.dirty && logForm.pass_again.dirty && userService.match()">Password do not match</span>-->
<md-button class="md-primary md-raised" type="submit" layout-align="center">Add lead</md-button>
</form>


