<!-- include here the global menu -->

<div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-primary" style="margin-top:90px;">
        <img src="http://bluesky.co.ke/wp-content/uploads/2015/09/BlueSKyLogo.png" class="img center" 
             style="margin-left: 50px;margin-top:20px;" alt="BlueSky CRM" >
        <md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
            <form>
                <p class="alert alert-danger" ng-if="auth.loginError">
                <ng-md-icon class="pull-left" icon="error" style="fill:#A54343;" size="20"></ng-md-icon>
                {{auth.loginErrorText}}
                </p>
                <md-input-container>
                    <label>Email</label>
                    <input type="text" ng-model="auth.email">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="auth.password" type="password">
                </md-input-container>
                <button type="button" class="btn btn-success col-sm-12 " style="font-weight: 800" ng-click="auth.login()">
                    <ng-md-icon class="pull-left" icon="lock_open" style="fill:white;" size="20"></ng-md-icon>Sign In
                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
                <hr >
                <md-checkbox ng-model="auth.keepMeIn" aria-label="Keep Me Logged In" class="md-primary">
                    Keep Me Logged In
                </md-checkbox>
                <button type="button" class="btn btn-danger col-sm-12 " style="font-weight: 800" ng-click="auth.forgotPass($event)">
                    <ng-md-icon class="pull-left" icon="help" style="fill:white;" size="20"></ng-md-icon>Forgot Password
                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>

            </form>
        </md-content>

    </div>

</div>
