<md-toolbar md-scroll-shrink ng-if="">
    <div class="md-toolbar-tools">
        <h3>
            <span>List of contacts</span>
        </h3>
    </div>

</md-toolbar>
<md-content layout="column" layout-padding layout-align="center">
 


   
<div class="ui-view"></div>                
                 
            
</md-content>

