

    
    <div class="panel panel-default">
        <div class="panel-heading">
           
        </div>
        <div class="panel-body" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Title</th>
                        <td>Rating</td>
                        <th>Description</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lead in leads">
                        <td>{{lead.first_name}}</td>
                        <td>{{lead.last_name}}</td>
                        <td>{{lead.title}}</td> 
                        <td>{{lead.rating}}</td>
                        <td>{{lead.description}}</td> 
                        <td>
                            <md-fab-speed-dial md-direction="right" class="md-fling">
                                <md-fab-trigger>
                                    <md-button aria-label="Add..." class="md-button md-raised md-primary">Actions</md-button>
                                </md-fab-trigger>
                                <md-fab-actions>
                                    <md-button aria-label="Add User" class="md-button md-raised md-default" ng-click="edit(lead.id)">
                                        Edit
                                    </md-button>
                                    <md-button aria-label="Add Group" class="md-button md-raised md-warn" ng-click="deleteLead(lead.id)">
                                        Delete
                                    </md-button>
                                </md-fab-actions>
                            </md-fab-speed-dial>
                        </td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
   
