<div class="row details_head" >
    <div class="col-md-3">
        <!-- Get the name of the contact here . Delete "Contact Name"-->
        <h4 class="pull-left" ng-model="content_head">&nbsp; <span class="fa fa-user">&nbsp; </span> Contact Name {{details.name}} </h4>
    </div>
    <div class="col-md-9">
        <button class="btn btn-danger pull-right btn-sm header_button"  ng-click="contact.addContact($event)">
            <i class="glyphicon glyphicon-plus"></i>&nbsp; Add Opportunity</button>
        <!-- The owner's avatar goes here. Inside the Span elemenet goes the name -->
        <h4 class="pull-right"><span class="fa fa-user-secret">&nbsp; </span>Owner &nbsp;</h4>

    </div>
</div>
<md-divider></md-divider>
<br >
<div layout="row">
    <span flex></span>
    <!-- Left Flex For High Level Data -->
    <div layout="column" flex="25">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    About<span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            <div class="panel-body">
                <!-- Now Lets Put the User Data in these places.  -->
                <p class=""><i class="fa fa-phone"></i>&nbsp; 
                    <!--Phone Data Here. Remove dummy One below. Add Plus The Type in -->
                    0728913819 (home)
                    <!--Edit Button-->
                    <a class="btn btn-toolbar pull-right" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
                <a addphoneno class="" type="button">+Add</a>
                <md-divider></md-divider>
                <p class=""><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Email Data Here. Remove dummy One below. Add Plus The Type in -->
                    info@blueskycrm.co.ke (home)
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
                <a addphoneno class="btn btn-toolbar" type="button">+Add</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Organizations
                    <span class="fa fa-cog pull-right"></span>
                </h4>  
            </div>
            <div class="panel-body">
                <p class=""><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Important Date's Data Here. Remove dummy One below.  -->
                    Enkavilla Properties Limited
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Dates
                    <span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            <div class="panel-body">
                <p class=""><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Organization Data Here. Remove dummy One below.  -->
                    11-Dec-2015 Sprint Ends
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
                <p class=""><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Organization Data Here. Remove dummy One below.  -->
                    12-Dec-2015 Jahmuri Day
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <span flex></span>
    <!--Right Flex For Tab View with more-->
    <div layout="column" flex="70">
        <div class="panel panel-default">
            <div class="panel-body">
               
                            <md-tabs md-dynamic-height md-border-bottom>               
                                <md-tab label="Opportunities">
                                    <md-content class="md-padding">
                                       <!--Contact Opportunities Here -->
                                    </md-content>
                                </md-tab>
                                <md-tab label="Tasks">
                                    <md-content class="md-padding">
                                        <!--Contact Tasks Here -->
                                    </md-content>
                                </md-tab>
                                <md-tab label="Emails">
                                    <md-content class="md-padding"> 
                                        <!--Contact Opportunities Here -->
                                    </md-content>
                                </md-tab>
                                <md-tab label="Notes">
                                    <md-content class="md-padding">                        
                                        <!--Contact Notes Here -->
                                    </md-content>
                                </md-tab>
                                <md-tab label="Files">
                                    <md-content class="md-padding">                        
                                        <!--Contact Files Here -->
                                    </md-content>
                                </md-tab>
                                <md-tab label="Activities">
                                    <md-content class="md-padding">                        
                                        <!--Contact Activities Here -->
                                    </md-content>
                                </md-tab>
                            </md-tabs>
            </div>
        </div>
    </div>
</div>