<div class="row">
    <div class="col-md-3">
        <h4 class="main_content_header" ng-model="content_head"> Contacts </h4>
    </div>
    <div class="col-md-9">
        <button class="btn btn-success pull-right btn-sm" style="margin-top: -15px;margin-bottom:10px;" ng-click="contact.addContact($event)">
            <i class="glyphicon glyphicon-plus"></i>&nbsp; New Contact</button>
    </div>
</div>
<md-divider></md-divider>
<!-- Begin Main Content Area -->
{{contacts}}
<div class="main_area">
    <md-list>
        <!-- Repeat the contacts in here -->
        <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" ng-repeat="cont in contact.contacts">
            <md-checkbox ng-model="message.selected"></md-checkbox>
            <img ng-src="http://www.radiantgeek.com/images/rgAvatar.png" class="md-avatar" alt="{{currentUser.name}}" />
            <div class="md-list-item-text" layout="column">

                <h4>
                    
                    <a href="/#/dashboard/contacts/{{cont.id}}">{{cont.firstname +' '+ cont.lastname}}</a></h4>
                <!-- User Organization -->
                <p> Enkavilla Properties Ltd</p>
            </div>

            <div class="md-list-item-text pull-right" layout="column" ng-show="show">
                <input type='hidden' value="" ng-model="name" ng-init="name=cont.id">
                <div class="" role="group" >                   
                    <button type="button" class="btn btn-default btn-sm" ng-click="contact.edit('put here the id of the contact on from ng-repeat')"><i class="fa fa-edit"></i>&nbsp; Edit</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="contact.opportunity('add','put here the id of the contact')">
                        <i class="fa fa-diamond"></i>&nbsp; Add Opportunity</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="contact.delete(8)"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                    <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-cog"></i>&nbsp; More
                        <span class="caret"></span>
                    </button>
                     <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                        <li><a href="#">Merge to Opportunity</a></li>
                        <li><a href="#">Merge to Organization</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Send Email</a></li>
                    </ul>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>        
        <!-- End ng-repeat -->
        
    </md-list>

</div>
