<md-sidenav class="md-sidenav-left "  style="margin-top:-20px;margin-left:-20px;max-width: 70px;" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Dashboard</h1>
    </md-toolbar>
    <md-content layout-padding >
        <md-list ng-cloak>            
            <md-list-item ng-click="navigateTo('data usage', $event)">
                <md-icon md-svg-icon="cached"></md-icon>
                <p>Contacts</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
                <md-icon md-svg-icon="cached"></md-icon>
                <p>Tasks</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
                <md-icon md-svg-icon="cached"></md-icon>
                <p>Opportunities</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
                <md-icon md-svg-icon="cached"></md-icon>
                <p>Organizations</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
                <md-icon md-svg-icon="cached"></md-icon>
                <p>Leads</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
                <md-icon md-svg-icon="cached"></md-icon>
                <p>Tasks</p>
            </md-list-item>
            <md-list-item ng-click="navigateTo('data usage', $event)">
                <md-icon md-svg-icon="cached"></md-icon>
                <p>Tasks</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>