<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BlueSkyCRM</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Contacts</a></li>
                <li class="dropdown">
                    <a ui-sref="actions" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Add Contact</a></li>
                        <li><a href="#">Add Lead</a></li>
                        <li><a href="#">Add Organization</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="tasks">Tasks</a></li>
                <li><a ui-sref="notifications">Notifications</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="settings">Settings</a></li>
                        <li><a ui-sref="payments">Payments</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="user.logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>