<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-calendar"></span>&nbsp; Calender </h4>
        </div>
        <div class="col-md-2 "  >
            <form class="form-inline" >

<select ng-model="filtered" class="form-control" ng-change="filter()" required>
    <option value="">Filter by</option>
    <option value="all" selected>All</option>
    <option value="tasks">Tasks</option>
    <option value="events">Events</option>
    <option value="dates">Important dates</option>
</select>
            </form>
        </div>
        
        <div class="col-md-1 pull-right">
            <button class="btn btn-success pull-right btn-sm"  ng-click="cal.addEvent($event)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp; New Event</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control
                       " placeholder="Items per page" value="5" min="1">
            </div>
<!--            <div class="form-group">
                <input type="text" ng-change="searchEvents()" ng-model="search" class="form-control" placeholder="Search">
            </div>-->
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
    <button class="btn btn-success btn-sm" ng-click="changeView('agendaDay', 'myCalendar')">Day</button>
    <button class="btn btn-success btn-sm" ng-click="changeView('agendaWeek', 'myCalendar')">Week</button>
    <button class="btn btn-success btn-sm" ng-click="changeView('month', 'myCalendar')">Month</button>
    
</div>  
        <h4>Legend</h4>
        <ul class="legend">
            <li><button class="btn btn-primary"></button> Events</li>
            <li><button class="btn btn-yellow"></button>Tasks</li>
            <li><button class="btn btn-danger"></button>Important dates</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div ui-calendar="uiConfig.calendar" class="span8 calendar" style="max-width: 800px;" ng-model="eventSources" calendar="myCalendar"></div>
    </div>
</div>


 
