<div class="row details_head" >
    <div class="col-md-3">
        <!-- Get the name of the contact here . Delete "Contact Name"-->

        <h4 class="pull-left" ng-model="content_head">&nbsp; <span class="fa fa-user">&nbsp; </span>{{contact.firstname}} {{contact.lastname}}</h4>
    </div>
    <div class="col-md-9">
        <!-- The owner's avatar goes here. Inside the Span elemenet goes the name -->
        <h4 class="pull-right"><span class="fa fa-user-secret">&nbsp; {{details.ownerName}}</span>Owner &nbsp;</h4>

    </div>
</div>
<md-divider></md-divider>
<br >
<div layout="row">
    <span flex></span>
    <!-- Left Flex For High Level Data -->

    <div layout="column" flex="25" ng-init="orgflag = true; addphoneflag = false;">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    About<span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            <div class="panel-body">
                <!-- Now Lets Put the User Data in these places.  -->

                <div class="" ng-repeat="phones in contact_phones"> 
                    <!--Phone Data Here. Remove dummy One below. Add Plus The Type in -->
                    <div class="row" ng-show="editphoneflag[$index]" class="fade">
                        <div class="col-sm-10">
                            <i class="fa fa-phone"></i>&nbsp;
                            {{phones.phone_number}} ({{phones.phone_nature}})
                            <!--Edit Button-->
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-toolbar pull-right" type="button">
                                <i class="fa fa-pencil" type="button" ng-click="toggleEditPhoneFlag($index)"></i>
                            </a>
                        </div>
                    </div>
                    <div ng-show="!editphoneflag[$index]">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control input-sm" placeholder="PhoneNumber" 
                                       ng-model="phone[$index]"  required>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control input-sm"   ng-model="phone_nature_id[$index]">
                                    <!-- Get Prefix From The DB and have them here -->
                                    <option ng-repeat="p_nature in phone_natures" value="{{p_nature.id}}">{{p_nature.phone_nature}}</option>
                                </select>

                            </div>
                        </div>                       
                        <div class="row">
                            <div class="col-sm-2">
                                <a type="button" ng-click="toggleEditPhoneFlag($index)">
                                    <i class="fa fa-rotate-left" ></i>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a type="button" ng-click="editPhone(phones.phone_id, $index)">
                                    <i class="fa fa-save" ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="" type="button" ng-click="toggleAddPhoneFlag()">+Add</a>
                <div ng-show="addphoneflag" class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control input-sm" placeholder="PhoneNumber" ng-model="newphone" required>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control input-sm"   ng-model="new_phone_nature_id">
                                <!-- Get Prefix From The DB and have them here -->
                                <option ng-selected="true">Phone Nature</option>
                                <option ng-repeat="p_nature in phone_natures" value="{{p_nature.id}}">{{p_nature.phone_nature}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="toggleAddPhoneFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="savePhone()">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>
                <md-divider></md-divider>
                <div ng-repeat="emails in contact_emails"> 
                    <div ng-show="editemailflag[$index]">
                        <div class="row">
                            <div class="col-sm-10">
                                <i class="fa fa-envelope-square"></i>&nbsp;
                                {{emails.email}} ({{emails.email_nature}})
                                <!--Edit Button-->
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-toolbar pull-right" type="button">
                                    <i class="fa fa-pencil" type="button" ng-click="toggleEditEmailFlag($index)"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!editemailflag[$index]">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control input-sm" placeholder="Email" ng-model="email[$index]"  required>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control input-sm"   ng-model="email_nature_id[$index]">
                                    <!-- Get Prefix From The DB and have them here -->
                                    <option ng-repeat="e_nature in email_natures"  value="{{e_nature.id}}">{{e_nature.email_nature}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <a type="button" ng-click="toggleEditEmailFlag($index)">
                                    <i class="fa fa-rotate-left" ></i>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a type="button" ng-click="editEmail(emails.email_id, $index)">
                                    <i class="fa fa-save" ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Email Data Here. Remove dummy One below. Add Plus The Type in -->

                    <!--Edit Button-->
                </div>
                <a class="btn btn-toolbar" type="button" ng-click="toggleAddEmailFlag()">+Add</a>
                <div ng-show="addemailflag" class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control input-sm" placeholder="Email" ng-model="newemail" required>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control input-sm"   ng-model="new_email_nature_id">
                                <!-- Get Prefix From The DB and have them here -->
                                <option ng-repeat="e_nature in email_natures" value="{{e_nature.id}}">{{e_nature.email_nature}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="toggleAddEmailFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="saveEmail()">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>
                <md-divider></md-divider>
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-home"></i>P.O Box <strong>{{addr.address}}</strong>
                    </div>
                    <div class="col-sm-6">
                        City : <strong>{{addr.city}}</strong>

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        Postal code :<strong>{{addr.postal_code}}</strong>
                    </div>
                    <div class="col-sm-6">
                        Country : <strong>{{addr.country}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Organizations
                    <span class="fa fa-cog pull-right"></span>
                </h4>  
            </div>
            <div class="panel-body">

                <p ng-if="orgflag" class="animate-if"><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Important Date's Data Here. Remove dummy One below.  -->
                    {{contact_organization.name}}
                    <!--Edit Button-->
                    <a class="" type="button" ng-click="toggleOrgFlag()">
                        <i class="fa fa-pencil" ></i>
                    </a>
                </p>
                <div ng-if="!orgflag" class="col-sm-12">
                    <div  class="form-group col-sm-8">                            
                        <input type="text" class=" form-control input-sm" placeholder="Organization" ng-model="contact_organization.name" required>
                    </div>
                    <div class="col-sm-1" >
                        <a type="button" ng-click="toggleOrgFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-1">
                        <a type="button" ng-click="editOrganization(contact_organization.id)">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Dates
                    <span class="fa fa-cog pull-right"></span>
                </h4>
            </div>

            <div class="panel-body">
                <p class="" ng-repeat="date in dates">
                    <i class="fa fa-calendar"></i>&nbsp; 
                    <!--Organization Data Here. Remove dummy One below.  -->
                    {{date.date|dateToISO|date:'mediumDate'}} {{date.description}}
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil" ng-click="editD(date.id)" ></i>
                    </a>
                </p>
                <md-divider></md-divider>
                <form class="form  form-inline col-md-offset-1"ng-init="addDay = false" ng-if="addDay" 
                      ng-submit="addDetail()">
                    <div class="input-group">
                        <input required ng-model="$parent.description" 
                               type="text" placeholder="Description of date" class="form-control"><br>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                                <div class="input-group"><input type="text" placeholder="choose date" class="form-control" required data-ng-model="$parent.date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="$parent.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }"
                                                minView="day"/>
                            </ul>
                        </div>
                        <br>
                        <button class="btn btn-link" type="submit">
                            <i class="fa fa-save"  >
                                <md-tooltip>Save</md-tooltip>
                            </i>
                        </button>

                        <span class="fa fa-rotate-left" ng-click="addDay = false">
                            <md-tooltip>Go back</md-tooltip>
                        </span>&nbsp;

                    </div>


                </form>
                <form class="form  form-inline col-md-offset-1"ng-init="addDay = false" ng-if="eDay" 
                      ng-submit="editDay(date.id)">
                    <div class="input-group">
                        <input required ng-model="date.description" 
                               type="text" placeholder="Description of date" class="form-control"><br>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                                <div class="input-group"><input type="text" placeholder="choose date" class="form-control" required data-ng-model="date.date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="date.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }"
                                                minView="day"/>
                            </ul>
                        </div>
                        <br>
                        <button class="btn btn-link" type="submit">
                            <i class="fa fa-save"  >
                                <md-tooltip>Edit</md-tooltip>
                            </i>
                        </button>

                        <span class="fa fa-rotate-left" ng-click="eDay = false">
                            <md-tooltip>Go back</md-tooltip>
                        </span>&nbsp;

                    </div>


                </form>
            </div>

            <div class="panel-footer">
                <a class="" type="btn btn-link" ng-click="add()">+Add</a>
            </div>
        </div>

    </div>
    <span flex></span>
    <!--Right Flex For Tab View with more-->
    <div layout="column" flex="70">
        <div class="panel panel-default">
            <div class="panel-body">
                <md-tabs md-dynamic-height md-border-bottom>               
                    <md-tab label="Opportunities {{opportunities.length}}">
                        <md-content class="md-padding">
                            <!--Contact Opportunities Here -->
                            <div class="box  collapsed-box list_box"
                                 dir-paginate="opp in opportunities|itemsPerPage:4|filter:oppsearch"
                                 pagination_id="contactopp">
                                <div class="box-header with-border"  >
                                    <div class=" col-md-4 text-muted " > 
                                        <button class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                        <!--Project Name. Remove the template name -->
                                        <h5 class="box-title">
                                            {{opp.opp_name}}<b class="text-muted"></b></h5>
                                    </div>                
                                    <div class="col-md-5"> 
                                        <!-- Product Name -->
                                        <h5 class=" text-muted box-title">                
                                            <span class="fa fa-calendar"> 
                                                Close Date: 
                                            </span>
                                            &nbsp; 
                                            {{opp.close_date}} |
                                            &nbsp; 
                                            Value: 
                                            <span class="badge bg-blue-active">
                                                {{opp.total| currency:"KES ":0}}
                                            </span>
                                        </h5>
                                    </div>
                                    <!-- /.box-tools -->
                                </div><!-- /.box-header -->
                                <!-- Begin Product Description here -->
                                <div class="box-body" style="display: none;">
                                    <md-tabs md-dynamic-height md-border-bottom>               
                                        <md-tab label="Summary">
                                            <md-content class="md-padding">
                                                <div class="col-md-10">
                                                    <!-- wrap opportunity title, customer name and title in  in one place-->
                                                    <div class="row ">
                                                        <div class="col-md-3 col-sm-12">
                                                            <h5 class="text-bold inline_header">Opportunity Name</h5>
                                                            <p>{{opp.opp_name}}<a>&nbsp; 
                                                                    <i class="fa fa-pencil" type="button" ng-click="toggleEditNameFlag($index)"></i></a></p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <h5 class="text-bold inline_header">Customer Name</h5>
                                                            <p>{{opp.firstname}}&nbsp; {{opp.lastname}}</p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <h5 class="text-bold inline_header">Value</h5>
                                                            <p>
                                                                <span class='badge bg-blue-active'> {{opp.total| currency:"KES ":1}}
                                                                </span> 

                                                            </p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <h5 class="text-bold inline_header">Current Stage</h5>
                                                            <p>
                                                                <span class='badge bg-blue-active'> {{opp.stage_name}}
                                                                </span> 
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <md-divider></md-divider>
                                                    <h5 class="text-bold inline_header">Description</h5>
                                                    <p> {{opp.description}} </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <!-- Opportunity owner -->
                                                    <h5 class="text-bold text-center inline_header">Owner Name</h5>
                                                    <p class='text-center pull-rightr'>
                                                        <img class="img img-circle text-center" 
                                                             height="40" width="40" 
                                                             src="http://www.radiantgeek.com/images/rgAvatar.png"/><br>
                                                        {{currentUser.name}}
                                                    </p>
                                                </div>
                                            </md-content>
                                        </md-tab> <md-tab label="Products {{opp_prods.length}}">
                                            <md-content class="md-padding">                        
                                                <!--products in the opportunities go here. Ng-repeat here -->
                                                <table class="table table-bordered table-condensed 
                                                       table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Payment Type</th>
                                                            <th>Inventory Name</th>
                                                            <th>Product Name</th>
                                                            <th>Value</th>
                                                        </tr>
                                                    </thead>                        
                                                    <tbody>
                                                        <tr ng-repeat="opp_prod in opp_prods">
                                                            <td>{{$index + 1}} </td>                                
                                                            <td>
                                                                <span class="badge bg-green-active" 
                                                                      ng-show="{{getType(opp_prod.payment_plan_id)}}"> 
                                                                    {{'Cash'}}
                                                                </span>
                                                                <span class="badge bg-yellow-active" 
                                                                      ng-hide="{{getType(opp_prod.payment_plan_id)}}"> 
                                                                    {{'Installment'}}
                                                                </span>
                                                            </td>
                                                            <td>{{opp_prod.property_no}}</td>
                                                            <td>{{opp_prod.name}}</td>
                                                            <td>{{opp_prod.value| currency:"KES ":1}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th></th>
                                                            <th>Payment Type</th>
                                                            <th>Inventory Name</th>
                                                            <th>Product Name</th>
                                                            <th>Product Value</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>            
                                </div><!-- /.box-body -->
                            </div>
                            <dir-pagination-controls 
                                class="pull-right" boundary-links="true"
                                pagination_id="contactopp"
                                on-page-change="pageChangeHandler(newPageNumber)" 
                                template-url="../views/dirpagination.html">                             
                            </dir-pagination-controls>
                        </md-content>
                    </md-tab>
                    <md-tab label="Tasks {{tasks.length}}">
                        <md-content class="md-padding">
                            <!--Contact Tasks Here -->
                            <div class="row">
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-success" ng-click="addTask()">New task</button>
                                </div>
                            </div>
                            <md-list ng-repeat="task in tasks">
                                <!-- ng-repeat your tasks here. Addd filter. -->
                                <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
                                    <md-checkbox ng-model="select"></md-checkbox>            
                                    <div class="md-list-item-text" layout="column">
                                        <!-- Task Title or Brief Description. Remove the template title -->
                                        <h3><a href="/#/dashboard/tasks/{{task.name}}">{{task.name}} </a> </h3>
                                    </div>
                                    <div class="md-list-item-text" layout="column">
                                        <!-- Task Date of Brief Description. Remove the template date -->
                                        <h3>
                                            <i class="fa fa-calendar"></i>start :{{task.start_date|dateToISO|date:'mediumDate'}} </h3>
                                    </div>
                                    <!--                                    <div class="md-list-item-text" layout="column">
                                                                             Task Date of Brief Description. Remove the template date 
                                                                            <span class="badge badge-important">{{task.type}}</span>
                                                                        </div>-->
                                    <div class="md-list-item-text pull-right" layout="column" >
                                        <input type='hidden' value="" ng-model="name" ng-init="name = cont.id">
                                        <div class="" role="group" >                   

                                            <button ng-if="task.status !== 'Done'" type="button" class="btn btn-primary btn-sm" ng-click="isDone(task.id)">
                                                <i class="fa fa-check"></i>&nbsp; Done
                                                <md-tooltip>Mark as Done</md-tooltip>
                                            </button>
                                            <span  ng-if="task.status === 'Done'" class="badge bg-blue-active"><i class="fa fa-thumbs-up"></i> Done</span>



                                            <button type="button" class="btn btn-danger btn-sm" ng-click="tasks.deleteTask(task.id, $event)">
                                                <i class="fa fa-trash"></i>&nbsp;
                                                <md-tooltip>Delete task</md-tooltip>
                                            </button>


                                        </div>
                                    </div>
                                    <md-divider></md-divider>

                                </md-list-item>        
                                <!-- End ng-repeat -->


                            </md-list>
                        </md-content>
                    </md-tab>
                    <md-tab label="Emails">
                        <md-content class="md-padding"> 
                            <div class="row">
                                <div class="pull-right">
                                    <button class="btn btn-success" ng-click="newEmail()">
                                        Send mail
                                    </button>
                                </div>
                            </div>
                            <md-list ng-repeat="conversation in conversations">
                                <!-- ng-repeat your tasks here. Addd filter. -->
                                <md-list-item class="md-3-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
<!--                                    <md-checkbox ng-model="select"></md-checkbox>            -->

                                        <div  class="md-list-item-text pull-right" layout="column" >
                                        <!-- Task Title or Brief Description. Remove the template title -->
                                        <h3 ng-if="conversation.status==='sent'" style="color:red;">You </h3>
                                        <h3 ng-if="conversation.status==='received'" style="color:red;"> {{contact.firstname}} {{contact.lastname}}</h3>
                                        <h4>{{conversation.subject}}  </h4>
                                        <p>{{conversation.body_text}}</p>
                                        <p ng-if="conversation.url">
                                            <a href="{{conversation.url}}" target="_blank">  <i class="fa fa-paperclip"></i> {{conversation.filename}}</a>
                                        </p>
                                    </div>
<!--                                    <div ng-if="conversation.status===received" class="md-list-item-text pull-left" layout="column">
                                         Task Title or Brief Description. Remove the template title 
                                        <h3>{{conversation.subject}}  </h3>
                                        <p>{{conversation.body}}</p>
                                    </div>-->
                                 
                              

                                    <md-divider></md-divider>

                                </md-list-item>        
                                <!-- End ng-repeat -->


                            </md-list>
                            <div ui-view ></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Notes {{contact_notes.length}}">
                        <md-content class="md-padding">                        
                            <!--Contact Notes Here -->
                            <div class="row">
                                <div class="form-group col-sm-2">
                                    <input type="number" 
                                           ng-model="displaynumber" 
                                           class="form-control"
                                           placeholder="item per page"/>
                                </div>
                                <div class="form-group col-sm-3">
                                    <input type="text"
                                           ng-change="resetItems()"
                                           ng-model="search" 
                                           class="form-control"
                                           placeholder="Search"/>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-success" ng-click="pinNote(ev, customer_id)">
                                        <span class="fa fa-plus"></span>
                                        Add Note
                                    </button>
                                </div>
                            </div>
                            <div class="box  collapsed-box list_box" 
                                 dir-paginate="notes in contact_notes | itemsPerPage:displaynumber|filter:search"
                                 ng-init="show = false"
                                 ng-mouseover="show = true" ng-mouseleave="show = false">
                                <div class="box-header with-border"  >
                                    <div class=" col-md-4 text-muted " > 
                                        <button class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                        <h4 class="box-title">
                                            <span class="fa fa-commenting">&nbsp; </span>{{notes.note| characters:15}}</h4></div>
                                    <div class="col-md-3 ">
                                        Owner: <span class="badge">{{notes.name}}</span>
                                    </div>
                                    <div class="box-tools col-md-4 " ng-show="show">
                                        <div class="pull-right" role="group" > 
                                            <button type="button" class="btn btn-default btn-sm" ng-click="deleteNote(notes.id)" 
                                                    ><i class="fa fa-trash"></i>&nbsp; </button>
                                        </div>
                                    </div><!-- /.box-tools -->
                                </div><!-- /.box-header -->
                                <div class="box-body" style="display: none;">
                                    <div ng-show="editnoteflag[$index]">
                                        <div class="col-md-1">Note</div>
                                        <div class="col-md-1">
                                            <span class="fa fa-pencil" ng-click="toggleNoteFlag($index)">
                                                <md-tooltip md-direction="bottom">
                                                    Edit
                                                </md-tooltip>
                                            </span>
                                        </div>
                                        <div class="col-md-12">{{notes.note}}</div>
                                    </div>
                                    <div ng-show="!editnoteflag[$index]" class="row">
                                        <div class="form-group">
                                            <textarea class="col-md-offset-1 col-md-8" 
                                                      ng-model="note[$index]">
                                            </textarea>
                                            <div class="col-md-1">
                                                <span class="fa fa-2x fa-undo"
                                                      ng-click="toggleNoteFlag($index)">
                                                    <md-tooltip md-direction="bottom">
                                                        Undo
                                                    </md-tooltip>
                                                </span>
                                            </div>
                                            <div class="col-md-1">
                                                <span class="fa fa-2x fa-save"
                                                      ng-click="editNote($index, notes.note_id)">
                                                    <md-tooltip md-direction="bottom">
                                                        Save change
                                                    </md-tooltip>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                            </div>
                            <dir-pagination-controls 
                                class="pull-right" 
                                boundary-links="true"
                                on-page-change="pageChangeHandler(newPageNumber)" 
                                template-url="../views/dirpagination.html">
                            </dir-pagination-controls>
                        </md-content>
                    </md-tab>
                    <md-tab label="Events {{events.length}}">
                        <md-content class="md-padding">
                            <ul class="list-group" style="list-style-type: none;">
                                <li class="list-group-item-heading">
                                    <div class="row">
                                        <span class="btn btn-success pull-right" ng-click="addEvent($event)">New</span>
                                    </div>
                                </li> 
                                <li ng-repeat="event in events" class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h5> <a href="/#/dashboard/calendar/">{{event.title}} </a></h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <h5> start : {{event.start|dateToISO|date:'medium'}}</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <h5> end  :{{event.end|dateToISO|date:'medium'}}</h5>                                        </div>
                                    </div>   
                                </li>
                            </ul>
                        </md-content>
                    </md-tab>
                    <md-tab label="Documents">
                        <div class="container">
                            <div class="col-md-5">
                                <ul class="list-group" >
                                    <li class="list-group-item"
                                        dir-paginate="docs in contact_documents 
                                        | itemsPerPage:7|filter:searchdocs"
                                        pagination-id="docspage">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a target="_blank" href="{{docs.path}}">
                                                    {{docs.document_name}}
                                                    <md-tooltip md-direction="bottom">
                                                        Click to open
                                                    </md-tooltip>
                                                </a>
                                            </div> 
                                            <div class="col-sm-6">
                                                <button class="btn btn-danger btn-sm" ng-click="deleteDoc(docs.id)">
                                                    <span class="fa fa-trash"></span>
                                                </button>
                                            </div> 
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <dir-pagination-controls 
                            class="pull-right" 
                            boundary-links="true"
                            on-page-change="pageChangeHandler(newPageNumber)" 
                            template-url="../views/dirpagination.html"
                            pagination-id="docspage">
                        </dir-pagination-controls>
                    </md-tab>
                </md-tabs>

            </div>
        </div>
    </div>
</div>