<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-phone-square"></span>&nbsp; Contacts </h4>
        </div>
        <div class="col-md-3 "  ng-show="select" >
            <div class="" role="group" >                   
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i>&nbsp; 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                        <li><a>Opportunity</a></li>
                        <li><a >Task </a></li>
                        <li><a >Note</a></li>
                    </ul>
                </div>&nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="contact.edit($event, cont.id)">
                    <i class="fa fa-edit"></i>&nbsp; </button> &nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="contact.delete(cont.id)" 
                        ><i class="fa fa-trash"></i>&nbsp; </button>
            </div>
        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-success pull-right btn-sm"  ng-click="contact.addContact($event)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp; New Contact</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control
                       " placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-change="resetItems()" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</div>
<md-divider></md-divider>
<!-- Begin Main Content Area -->
<div class="main_area">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected = false'>
            <!--            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all-->
            <md-checkbox class="pull-left"  ng-model="selectAll" ng-change="checkAll()"></md-checkbox>Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">

            <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
            <button class="btn btn-primary btn-sm" ng-click="sendBulk($event)"><i class="fa fa-envelope"></i> Email</button>  

        </div>
    </div>
    <br>

    <md-divider></md-divider>
    <md-list>


        <md-list-item class="md-2-line d3animate hov" ng-mousemove="show = true"  
                      ng-mouseleave="show = false"  
                      dir-paginate="cont in contacts | itemsPerPage:displaynumber|filter:search">            

            <!--            <md-checkbox 
                                 aria-label="Checkbox 1" ng-model="customers_selected[$index]" ng-true-value='{{cont.id}}'
                                 ng-change="selectCustomers()" ng-checked="selectAll"></md-checkbox>-->
            <md-checkbox ng-model="cont.selected"
                         ng-change="$parent.someselected = true"></md-checkbox>

 
            <img ng-src="{{cont.path}}" class="md-avatar" alt="pic" />

            <div class="md-list-item-text" layout="column">
                <div layout="row">                    
                    <a href="/#/dashboard/contact/{{cont.id}}">{{cont.firstname + ' ' + cont.lastname}}</a>
                    <!-- User Organization -->
                    <p layout="column">&nbsp; {{cont.name}}</p></div>               
            </div>
            <div flex></div>

            <div class="md-list-item-text pull-right"  ng-show="show" >
                <input type='hidden' value="" ng-model="name" ng-init="name = cont.id">
                <div class="" role="group" >                   
                    <div class="btn-group">                       
                        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-plus"></i>&nbsp; 
                            <span class="caret"></span>
                            <md-tooltip md-direction="bottom">
                                More Actions
                            </md-tooltip>
                        </button>
                        <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">

                            <li><a type="button" 
                                   ng-click="contact.addTunity($event, cont.id, cont.firstname, cont.lastname)">
                                    Opportunity</a>
                            </li>
                            <li><a ng-click='contact.addTask($event, cont.id)'>Task </a></li>
                            <li><a type="button" ng-click="pinNote($event,cont.id)">Note</a></li>
                            <li><a type="button" ng-click="pinDocument($event,cont.id)">Document</a></li>

                        </ul>
                    </div>&nbsp; 
                    <button type="button" class="btn btn-default btn-sm" ng-click="contact.edit($event, cont.id)">
                        <i class="fa fa-edit"></i>&nbsp;
                        <md-tooltip md-direction="bottom">
                            Edit
                        </md-tooltip>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" 
                            ng-click="contact.delete(cont.id)"><i class="fa fa-trash"></i>&nbsp; 
                        <md-tooltip md-direction="bottom">
                            Delete
                        </md-tooltip>
                    </button>

                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>        
        <!-- End ng-repeat -->
        <dir-pagination-controls 
            class="pull-right" 
            boundary-links="true" 
            on-page-change="pageChangeHandler(newPageNumber)" 
            template-url="../views/dirpagination.html">
        </dir-pagination-controls>
    </md-list>

</div>
