
<header class="main-header navbar-default" ui-view="topmenu">
</header>

     <aside  ui-view="sidebarMenu" class="main-sidebar">
         
     </aside>
    
    <div  class="content-wrapper" >
        <div class="content" ui-view >
            
        </div>
        
    </div>
   
