<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-book"></span>&nbsp; Documents</h4>
        </div>
        <div class="col-md-3 "  ng-show="select" >

        </div>
        <div class="col-md-2 pull-right">
            <md-menu>
                <button class="btn btn-success pull-right btn-sm" ng-click="$mdOpenMenu($event)">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp; New Document
                </button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button ng-click="addDocument($event, '', type.id)">General</md-button>
                    </md-menu-item>
                    <md-menu-item ng-repeat="type in types">
                        <md-button ng-click="addDocument($event, type.type, type.id)">{{type.type}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" 
                       ng-change="resetItems()"
                       placeholder="Search">
            </div> 
        </form>
    </div>
</div>
<md-divider></md-divider>
<div class="main_area">
    <div class="container">
        <md-list>
            <md-list-item
                dir-paginate="docs in documents|itemsPerPage:displaynumber|filter:search"
                pagination_id="docspage">
                <img alt="{{ docs.document_name}}" 
                     ng-src="{{ docs.path}}" class="md-avatar" />
                <p class="row">
                    <a ng-show="nameflag[$index]" target="_blank" href="{{docs.path}}">{{ docs.document_name}}</a>
                <div ng-show="!nameflag[$index]">
                    <div class="col-sm-6">
                        <input ng-model="editedname[$index]" type="text" class="form-control input-sm" 
                               placeholder="Change name"/>
                    </div>
                    <div class="col-sm-1">
                        <a ng-click="editName($index, docs.id)">
                            <i class="fa fa-save">
                                <md-tooltip md-direction="bottom">
                                    Edit
                                </md-tooltip>
                            </i>
                        </a>
                    </div>
                    <div class="col-sm-1">
                        <a ng-click="toggleName($index)">
                            <i class="fa fa-undo">
                                <md-tooltip md-direction="bottom">
                                    Undo
                                </md-tooltip>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    Assoc. with: <span class="badge bg-blue">{{docs.type}}</span>
                </div>
                <div class="col-sm-1">
                    <i ng-click="toggleName($index)" class="fa fa-pencil">
                        <md-tooltip md-direction="bottom">
                            edit
                        </md-tooltip>
                    </i>
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-trash" ng-click="deleteDoc(docs.id)">
                        <md-tooltip md-direction="bottom">
                            Delete
                        </md-tooltip>
                    </i>
                </div>
                </p>
            </md-list-item>
            <dir-pagination-controls 
                class="" boundary-links="true"
                pagination_id="docspage"
                on-page-change="pageChangeHandler(newPageNumber)" 
                template-url="../views/dirpagination.html">                             
            </dir-pagination-controls>
        </md-list>
    </div>
</div>