<div class="row top_header_content_menu">
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-email"></span>&nbsp; Emails </h4>
        </div>
        
        
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page"  min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-model="search"  class="form-control" placeholder="Search" ng-change="resetItems()">
            </div>
        </form>
    </div>
</div>
<div class='main_area'>
<md-list 
    dir-paginate="message in messages | itemsPerPage:displaynumber|toArray : false|filter:search|orderBy:'-created_at'"
    >

    <md-list-item class="md-3-line"  >
        <!--                                    <md-checkbox ng-model="select"></md-checkbox>            -->

        <div  class="md-list-item-text pull-right" layout="column" >
            <!-- Task Title or Brief Description. Remove the template title -->
            <h3 ng-if="message.status === 'sent'" style="color:red;">From you to {{message.name}}, <{{message.to}}> </h3>
            <h3 ng-if="message.status === 'received'" style="color:red;"> From {{message.name}}, <{{message.from}}> to you</h3>
            <h4>{{message.subject}}  </h4>
            <p>{{message.body_text}}</p>
            <p ng-if="conversation.url">
                                <a href="{{conversation.url}}" target="_blank">  <i class="fa fa-paperclip"></i> {{conversation.filename}}</a>
                            </p>
        </div>
        <!--                                    <div ng-if="conversation.status===received" class="md-list-item-text pull-left" layout="column">
                                                 Task Title or Brief Description. Remove the template title 
                                                <h3>{{conversation.subject}}  </h3>
                                                <p>{{conversation.body}}</p>
                                            </div>-->



        <md-divider></md-divider>

    </md-list-item>        
    <!-- End ng-repeat -->


</md-list>
<dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../views/dirpagination.html"></dir-pagination-controls>
</div>