<div class="row details_head" >
    <div class="col-md-3">
        <!-- Get the name of the contact here . Delete "Contact Name"-->

        <h4 class="pull-left" ng-model="content_head">&nbsp; <span class="fa fa-user">&nbsp; </span>{{contact.firstname}} {{contact.lastname}}</h4>
    </div>
    <div class="col-md-9">
        <button class="btn btn-danger pull-right btn-sm header_button"  ng-click="contact.addContact($event)">
            <i class="glyphicon glyphicon-plus"></i>&nbsp; Add Contact</button>
        <!-- The owner's avatar goes here. Inside the Span elemenet goes the name -->
        <h4 class="pull-right"><span class="fa fa-user-secret">&nbsp; {{details.ownerName}}</span>Owner &nbsp;</h4>

    </div>
</div>
<md-divider></md-divider>
<br >
<div layout="row">
    <span flex></span>
    <!-- Left Flex For High Level Data -->

    <div layout="column" flex="25" ng-init="orgflag = true;addphoneflag = false;">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    About<span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            <div class="panel-body">
                <!-- Now Lets Put the User Data in these places.  -->

                <div class="" ng-repeat="phones in contact_phones"> 
                    <!--Phone Data Here. Remove dummy One below. Add Plus The Type in -->
                    <div class="row" ng-show="editphoneflag[$index]">
                        <div class="col-sm-10">
                            <i class="fa fa-phone"></i>&nbsp;
                            {{phones.phone_number}} ({{phones.phone_nature}})
                            <!--Edit Button-->
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-toolbar pull-right" type="button">
                                <i class="fa fa-pencil" type="button" ng-click="toggleEditPhoneFlag($index)"></i>
                            </a>
                        </div>
                    </div>
                    <div ng-show="!editphoneflag[$index]">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control input-sm" placeholder="PhoneNumber" ng-model="phone[$index]"  required>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control input-sm"   ng-model="phone_nature_id[$index]">
                                    <!-- Get Prefix From The DB and have them here -->
                                    <option ng-repeat="p_nature in phone_natures" ng-selected="{{p_nature.phone_nature_id==phone_selected[$index]}}" value="{{p_nature.id}}">{{p_nature.phone_nature}}</option>
                                </select>
                                
                            </div>
                        </div>                       
                        <div class="row">
                            <div class="col-sm-2">
                                <a type="button" ng-click="toggleEditPhoneFlag($index)">
                                    <i class="fa fa-rotate-left" ></i>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a type="button" ng-click="editPhone(phones.phone_id,$index)">
                                    <i class="fa fa-save" ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="" type="button" ng-click="toggleAddPhoneFlag()">+Add</a>
                <div ng-show="addphoneflag" class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control input-sm" placeholder="PhoneNumber" ng-model="newphone" required>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control input-sm"   ng-model="new_phone_nature_id">
                                <!-- Get Prefix From The DB and have them here -->
                                <option ng-repeat="p_nature in phone_natures" value="{{p_nature.id}}">{{p_nature.phone_nature}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="toggleAddPhoneFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="savePhone()">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>
                <md-divider></md-divider>
                <div ng-repeat="emails in contact_emails"> 
                    <div ng-show="editemailflag[$index]">
                        <div class="row">
                            <div class="col-sm-10">
                                <i class="fa fa-envelope-square"></i>&nbsp;
                                {{emails.email}} ({{emails.email_nature}})
                                <!--Edit Button-->
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-toolbar pull-right" type="button">
                                    <i class="fa fa-pencil" type="button" ng-click="toggleEditEmailFlag($index)"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!editemailflag[$index]">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control input-sm" placeholder="Email" ng-model="email[$index]"  required>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control input-sm"   ng-model="email_nature_id[$index]">
                                    <!-- Get Prefix From The DB and have them here -->
                                    <option ng-repeat="e_nature in email_natures"  value="{{e_nature.id}}">{{e_nature.email_nature}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <a type="button" ng-click="toggleEditEmailFlag($index)">
                                    <i class="fa fa-rotate-left" ></i>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a type="button" ng-click="editEmail(emails.email_id,$index)">
                                    <i class="fa fa-save" ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Email Data Here. Remove dummy One below. Add Plus The Type in -->
                    
                    <!--Edit Button-->
                </div>
                <a class="btn btn-toolbar" type="button" ng-click="toggleAddEmailFlag()">+Add</a>
                <div ng-show="addemailflag" class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control input-sm" placeholder="Email" ng-model="newemail" required>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control input-sm"   ng-model="new_email_nature_id">
                                <!-- Get Prefix From The DB and have them here -->
                                <option ng-repeat="e_nature in email_natures" value="{{e_nature.id}}">{{e_nature.email_nature}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="toggleAddEmailFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="saveEmail()">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Organizations
                    <span class="fa fa-cog pull-right"></span>
                </h4>  
            </div>
            <div class="panel-body">

                <p ng-if="orgflag" class="animate-if"><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Important Date's Data Here. Remove dummy One below.  -->
                    {{contact_organization.name}}
                    <!--Edit Button-->
                    <a class="" type="button" ng-click="toggleOrgFlag()">
                        <i class="fa fa-pencil" ></i>
                    </a>
                </p>
                <div ng-if="!orgflag" class="col-sm-12">
                    <div  class="form-group col-sm-8">                            
                        <input type="text" class=" form-control input-sm" placeholder="Organization" ng-model="contact_organization.name" required>
                    </div>
                    <div class="col-sm-1" >
                        <a type="button" ng-click="toggleOrgFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-1">
                        <a type="button" ng-click="editOrganization(contact_organization.id)">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Dates
                    <span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            
                <div class="panel-body">
                <p class="" ng-repeat="date in dates">
                    <i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Organization Data Here. Remove dummy One below.  -->
                    {{date.date|dateToISO|date:'mediumDate'}} {{date.description}}
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
                <md-divider></md-divider>
             <form class="form form-inline col-md-offset-1"ng-init="addDay = false" ng-show="addDay" 
                   ng-submit="addDetail()">
                    <div class="input-group">
                        <input required ng-model="description" 
                               type="text" placeholder="Description of date" class="form-control"><br>
                        <input class="form-control" type="date" 
                               ng-model="date" name="date"
                               placeholder="Add date" required class="form-control"/>
                        <br>
                            <button class="btn btn-link" type="submit">
                                <i class="fa fa-save"  title="save"></i>
                            </button>

                            <i class="fa fa-rotate-left" tutle="go back"></i>&nbsp;
                        
                    </div>


                </form>
            </div>
            
            <div class="panel-footer">
            <a class="" type="btn btn-link" ng-click="add()">+Add</a>
        </div>
        </div>
        
    </div>
    <span flex></span>
    <!--Right Flex For Tab View with more-->
    <div layout="column" flex="70">
        <div class="panel panel-default">
            <div class="panel-body">


                <md-tabs md-dynamic-height md-border-bottom>  
                    <md-tab label="Description">
                        <md-content class="md-padding">
                            <!--Description Here -->
                            <p>
                               {{contact.description}} 
                            </p>
                        </md-content>
                    </md-tab>
                    <md-tab label="Opportunities">
                        <md-content class="md-padding">
                            <!--Contact Opportunities Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Tasks">
                        <md-content class="md-padding">
                            <!--Contact Tasks Here -->
                             <md-list ng-repeat="task in tasks">
                                <!-- ng-repeat your tasks here. Addd filter. -->
                                <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
                                    <md-checkbox ng-model="select"></md-checkbox>            
                                    <div class="md-list-item-text" layout="column">
                                        <!-- Task Title or Brief Description. Remove the template title -->
                                        <h3>{{task.name}} </h3>
                                    </div>
                                    <div class="md-list-item-text" layout="column">
                                        <!-- Task Date of Brief Description. Remove the template date -->
                                        <h3>
                                            <i class="fa fa-calendar"></i>{{task.due_date}} </h3>
                                    </div>
                                    <div class="md-list-item-text pull-right" layout="column" >
                                        <input type='hidden' value="" ng-model="name" ng-init="name = cont.id">
                                        <div class="" role="group" >                   
                                            
                                            <button type="button" class="btn btn-default btn-sm" ng-click="tasks.done()">
                                                <i class="fa fa-check"></i>&nbsp; Done</button>

                                            

                                            <button type="button" class="btn btn-danger btn-sm" ng-click="tasks.deleteTask(task.id, $event)">
                                                <i class="fa fa-trash"></i>&nbsp; Delete</button>


                                        </div>
                                    </div>
                                    <md-divider></md-divider>

                                </md-list-item>        
                                <!-- End ng-repeat -->


                            </md-list>
                        </md-content>
                    </md-tab>
                    <md-tab label="Emails">
                        <md-content class="md-padding"> 
                            <!--Contact Opportunities Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Notes">
                        <md-content class="md-padding">                        
                            <!--Contact Notes Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Files">
                        <md-content class="md-padding">                        
                            <!--Contact Files Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Activities">
                        <md-content class="md-padding">                        
                            <!--Contact Activities Here -->
                        </md-content>
                    </md-tab>
                </md-tabs>

            </div>
        </div>
    </div>
</div>
