
<div class="row top_header_content_menu">
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-dollar"></span>&nbsp; Prospects </h4>
        </div>
        <div class="col-md-4 "  ng-show="select" >

        </div>
        <div class="col-md-1 pull-right">
            <button class="btn btn-success pull-right btn-sm" ng-click="addLead($event)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp; New Prospect</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-model="search"  class="form-control" placeholder="Search" ng-change="resetItems()">
            </div>
        </form>
    </div>
</div>
<md-divider></md-divider>
<div class="row">
    <div class="col-sm-2 col-sm-offset-1" ng-init='someselected = false'>
        <!--            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all-->
        <md-checkbox class="pull-left"  ng-model="selectAll" ng-change="checkAll()"></md-checkbox>Check all
    </div>
    <div class="col-sm-2" ng-show="selectAll || someselected">
        With selected :
    </div>
    <div class="col-sm-2" ng-show="selectAll || someselected">

        <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
        <button class="btn btn-primary btn-sm" ng-click="sendBulk($event)" ><i class="fa fa-envelope"></i> Email</button>  

    </div>
</div>
<br>
<div class="box  collapsed-box list_box"
     dir-paginate="lead in leads | itemsPerPage:displaynumber|toArray : false|filter:search"
     ng-init="show = false"
     ng-mouseover="show = true" ng-mouseleave="show = false">
    <div class="box-header with-border"  >
        <div class=" col-md-4 text-muted " >
            <input type="checkbox" ng-model="lead.selected"
                   ng-change="$parent.someselected = true">
            <!--            <md-checkbox ng-model="lead.selected"
                                   ng-change="$parent.someselected=true"></md-checkbox>-->
            <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus-circle"></i>
                <md-tooltip>More details</md-tooltip>
            </button>
            <!--Project Name. Remove the template name -->
            <h5 class="box-title">
                {{lead.firstname}} {{lead.lastname}}<b class="text-muted"></b></h5>
        </div>                
        <div class="col-md-5"> 
            <!-- Product Name -->
            <h5 class=" text-muted">
                 
                &nbsp; 
                Source: 
                <span class="badge bg-blue-active">
                    {{lead.source}}
                </span>
                |
                &nbsp; 
                Status: 
                <span class="badge bg-green-active">
                    {{lead.status}}
                </span>

            </h5>
        </div>
        <div class="box-tools col-md-3 " ng-show="show">
            <div class="pull-right" role="group" >                   
                <div class="btn-group">                       
                    <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i>&nbsp; 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                        <li><a type="button" 
                               ng-click="addTunity($event, lead.id, lead.firstname, lead.lastname)">
                                Opportunity</a>
                        </li>
                        <li><a ng-click="addTask($event, lead.id)">Task </a></li>
                        <li><a type="button" ng-click="pinNote($event, lead.id)">Note</a></li>
                        <li><a type="button" ng-click="pinDocument($event, lead.id)">Document</a></li>
                    </ul>
                </div>&nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="editLead(lead.id, $event)">
                    <i class="fa fa-edit"></i>&nbsp; 
                    <md-tooltip>Edit </md-tooltip>
                </button> &nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="deleteLead(lead.id)"
                        ><i class="fa fa-trash"></i>&nbsp; 
                    <md-tooltip>Delete </md-tooltip>
                </button>                    

            </div>


        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <!-- Begin Product Description here -->
    <div class="box-body" style="display: none;">
        <md-tabs md-dynamic-height md-border-bottom>               
            <md-tab label="Summary">
                <md-content class="md-padding">
                    <div class="col-md-5">
                        <h5 class="text-bold">Prospect Name</h5>
                        <p>{{lead.firstname}} {{lead.lastname}}</p>
                        <h5 class="text-bold">Prospect source</h5>
                        <p><span class='badge bg-blue-active'> {{lead.source}}</span> </p>
                        <h5 class="text-bold">Summary</h5>
                        <p> {{lead.description}} </p>
                    </div>
                    <div class="col-md-3">
                        <h5 ng-init="update = false" class="text-bold">Prospect Status</h5>
                        <p><span class='badge bg-green-active'> {{lead.status}}</span>

                            <button class="btn btn-link"> <i class="fa fa-pencil"ng-click="update = true" ></i>
                                <md-tooltip>Update status</md-tooltip>
                            </button>
                        </p>
                        <form ng-show="update" class="form-inline">
                            <md-select ng-model="$parent.upstatus" 
                                       placeholder="Update status" ng-change="updateStatus(lead.lead_id)">
                                <md-option ng-repeat="st in status" ng-value="st.id" 
                                           >{{ st.status}}
                                </md-option>
                            </md-select>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-bold">Photo</h5>
                        <img class="img img-circle text-center" 
                                 height="40" width="40" 
                                 src="{{lead.path}}"/>
                    </div>
                    <div class="col-md-2 pull-right">
                        <!-- Opportunity owner -->
                        
                        <p class='text-center pull-rightr'>
                            <h5 class="text-bold">Owner Name</h5>
                            <br>
                        <div ng-repeat="owner in getOwners(lead.id)|toArray : false">
                            {{owner.name}}
                        </div>

                        </p>
                    </div>



                </md-content>
            </md-tab> 

            <md-tab label="Contacts ">
                <md-content class="md-padding">                        
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Phone numbers/Emails
                                    <div class="pull-right">
                                        <i class="fa fa-cog"></i>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row" ng-repeat="phone in getPhones(lead.id)|toArray : false">
                                        <div class="col-sm-9">
                                            <i class="fa fa-phone"></i>&nbsp; {{phone.phone_number}}
                                        </div>
                                        <!--                                    <div class="col-sm-2">
                                                                                <i class="fa fa-pencil btn btn-link" ng-click="editphone(phone.id,$index);editPhone[$index]=true"></i>
                                                                            </div>  -->
                                        <!--Phone Data Here. Remove dummy One below. Add Plus The Type in -->
                                        <a class="btn btn-toolbar pull-right" type="button" >
                                            <i class="fa fa-trash" ng-click="deletePhone(phone.id)"></i>  

                                        </a>  

                                    </div> 
                                    <form class="form form-inline" ng-if="addphone[$index]" ng-submit="addDetail('phone', lead.id, $index)">
                                        <div class="input-group">
                                            <input class="form-control" type="tel" ng-model="$parent.myphone" 
                                                   placeholder="add phone"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-link" type="submit">
                                                    <i class="fa fa-save" >
                                                        <md-tooltip>
                                                            Save
                                                        </md-tooltip>
                                                    </i>
                                                </button>
                                                <button class="btn btn-link" type="reset">
                                                    <i class="fa fa-rotate-left" ng-click="addphone[$index] = false" >
                                                        <md-tooltip>
                                                            Go back
                                                        </md-tooltip>
                                                    </i>
                                                </button>


                                            </span>

                                        </div>


                                    </form>
                                    <!--                                    <form class="form form-inline" ng-show="editPhone[$index]" ng-submit="editTel( phone.id, $index)">
                                                                            <div class="input-group">
                                                                                <input class="form-control" type="tel" ng-model="phone.phone_number" 
                                                                                       placeholder="add phone"/>
                                                                                <span class="input-group-btn">
                                                                                    <button class="btn btn-link" type="submit">
                                                                                        <i class="fa fa-save" >
                                                                                            <md-tooltip>
                                                                                                Save
                                                                                            </md-tooltip>
                                                                                        </i>
                                                                                    </button>
                                                                                    <button class="btn btn-link" type="reset">
                                                                                        <i class="fa fa-rotate-left" ng-click="editPhone[$index] = false" >
                                                                                            <md-tooltip>
                                                                                                Go back
                                                                                            </md-tooltip>
                                                                                        </i>
                                                                                    </button>
                                                                                    
                                                                                       
                                                                                </span>
                                                              
                                                                            </div>
                                    
                                    
                                                                        </form>-->

                                    <a class="btn btn-link" ng-click="add('phone', $index)" type="button">+ Add phone</a>
                                    <md-divider></md-divider>
                                    <p class="row" ng-repeat="emails in getEmails(lead.id)|toArray : false"><i class="fa fa-envelope-square" ></i>&nbsp; 
                                        <!--Email Data Here. Remove dummy One below. Add Plus The Type in -->
                                        {{emails.email}}
                                        <!--Edit Button-->
                                        <a class="btn btn-toolbar pull-right" type="button" ng-click="deleteEmail(emails.id)">
                                            <i class="fa fa-trash"></i> 
                                            <!--                                            <i class="fa fa-pencil"></i>-->
                                        </a>

                                    </p>
                                    <form class="form form-inline" ng-show="addemail[$index]" ng-submit="addDetail('email', lead.id, $index)">
                                        <div class="input-group">
                                            <input class="form-control" type="email" 
                                                   ng-model="$parent.myemail" 
                                                   placeholder="Add email"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-link" type="submit">
                                                    <i class="fa fa-save"  >
                                                        <md-tooltip>
                                                            Save
                                                        </md-tooltip>
                                                    </i>
                                                </button>
                                                <button class="btn btn-link" type="reset">
                                                    <i class="fa fa-rotate-left" ng-click="addemail[$index] = false" >
                                                        <md-tooltip>
                                                            Go back
                                                        </md-tooltip>
                                                    </i>
                                                </button>


                                            </span>
                                        </div>


                                    </form>

                                </div>
                                <div class="panel-footer">
                                    <a addphoneno class="btn btn-toolbar" type="button" ng-click="add('email', $index)">+Add Email</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Address
                                    <div class="pull-right">
                                        <i class="fa fa-cog"></i>
                                    </div>
                                </div>
                                <div class="panel-body">

                                    <div ng-repeat="addr in getAddress(lead.id)|toArray : false">   
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <i class="fa fa-home"></i>P.O Box {{addr.address}}
                                            </div>
                                            <div class="col-sm-6">
                                                Postal code : {{addr.postal_code}}
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                City : {{addr.city}}
                                            </div>
                                            <div class="col-sm-6">
                                                Country : {{addr.country}}
                                            </div>
                                        </div>
                                    </div> 
                                </div>

                            </div>
                        </div>

                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Dates to remember {{getCount(lead.id,'dates')}}">
                <md-content class="md-padding">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Dates
                                <span class="fa fa-cog pull-right"></span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <p class="" ng-repeat="date in getDates(lead.id)|toArray : false">
                                <i class="fa fa-envelope-square"></i>&nbsp; 
                                <!--Organization Data Here. Remove dummy One below.  -->
                                {{date.date|dateToISO|date:'mediumDate'}} {{date.description}}
                                <!--Edit Button-->
                                <a class="btn btn-link pull-right" type="button" ng-click="deleteDate(date.id)">
                                    <i class="fa fa-trash"></i>  
                                </a>
                                <!--                                <a class="" type="button">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>-->
                            </p>

                        </div>
                        <md-divider></md-divider>
                        <form class="form  form-inline " ng-show="addDay[$index]" 
                              ng-submit="addDetail('date', lead.id, $index)">
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <input required ng-model="$parent.mydescription" 
                                           type="text" placeholder="Description of date" class="form-control">
                                </div>
                                <div class="input-group col-sm-4">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                                            <div class="input-group"><input type="text" placeholder="choose date" class="form-control" required data-ng-model="$parent.mydate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="$parent.mydate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }"
                                                            />
                                        </ul>
                                    </div>
                                    <span class='input-group-btn'>
                                        <button class="btn btn-link" type="submit">
                                            <i class="fa fa-save"  >
                                                <md-tooltip>Save</md-tooltip>
                                            </i>
                                        </button>
                                        <button class='btn btn-link' type="reset" ng-click="addDay[$index] = false">
                                            <i class="fa fa-rotate-left" >
                                                <md-tooltip>Go back</md-tooltip>
                                            </i>
                                        </button>
                                    </span>

                                </div>
                            </div>


                        </form>
                        <div class="panel-footer">
                            <a addphoneno class="btn btn-link" 
                               ng-click="add('date', $index)" type="button">+Add Date
                            </a>

                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="tasks {{getCount(lead.id,'tasks')}}">
                <md-content class="md-padding">                        
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <button class="btn btn-success pull-right btn-sm"  ng-click="addTask($event, lead.id)">
                                    <i class="glyphicon glyphicon-plus"></i>&nbsp; New Task</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <md-list dir-paginate="task in getTasks(lead.id) | 
                                     itemsPerPage: 4|toArray : false" pagination-id="highp" >

                                <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
                                    <!--                                    <md-checkbox ng-model="select"></md-checkbox>            -->
                                    <div class="md-list-item-text" layout="column">
                                        <!--                         Task Title or Brief Description. Remove the template title -->
                                        <h3><a href="/#/dashboard/tasks/{{task.name}}">{{task.name}} </a> </h3>
                                    </div>
                                    <div class="md-list-item-text" layout="column">
                                        <!--                         Task Date of Brief Description. Remove the template date -->
                                        <h3>
                                            <i class="fa fa-calendar"></i>start :{{task.start_date|dateToISO|date:'mediumDate'}}</h3>
                                    </div>
                                    <div class="md-list-item-text pull-right" layout="column" >
                                        <input type='hidden' value="" ng-model="name" ng-init="name = lead.id">
                                        <div class="" role="group" >                   

                                            <button ng-if="task.status !== 'Done'" type="button" class="btn btn-primary btn-sm" ng-click="isDone(task.id)">
                                                <i class="fa fa-check"></i>&nbsp; Done
                                                <md-tooltip>Mark as Done</md-tooltip>
                                            </button>
                                            <span  ng-if="task.status === 'Done'" class="badge bg-blue-active"><i class="fa fa-thumbs-up"></i> Done</span>



                                            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteTask(task.id)">
                                                <i class="fa fa-trash"></i>&nbsp; Delete</button>


                                        </div>
                                    </div>


                                    <md-divider></md-divider>

                                </md-list-item>        
                            </md-list>
                            <dir-pagination-controls 
                                class="pull-right"
                                pagination-id="highp"
                                boundary-links="true"
                                on-page-change="pageChangeHandler(newPageNumber)" 
                                template-url="../views/dirpagination.html">
                            </dir-pagination-controls>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Notes ">
                <md-content class="md-padding">
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <input type="number" 
                                   ng-model="displaynumber" 
                                   class="form-control"
                                   placeholder="item per page"/>
                        </div>
                        <div class="form-group col-sm-5">
                            <input type="text"
                                   ng-change="resetItems()"
                                   ng-model="search" 
                                   class="form-control"
                                   placeholder="Search"/>
                        </div>
                    </div>
                    <div class="box  collapsed-box list_box"
                         dir-paginate="notes in getNotes(lead.id) | 
                         itemsPerPage: displaynumber|toArray : false"
                         pagination-id="notepage"
                         ng-init="show = false"
                         ng-mouseover="show = true" ng-mouseleave="show = false">
                        <div class="box-header with-border"  >
                            <div class=" col-md-4 text-muted " > 
                                <button class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <h4 class="box-title">
                                    <span class="fa fa-commenting">&nbsp; </span>{{notes.note| characters:15}}</h4></div>
                            <div class="col-md-3 ">
                                Owner: <span class="badge">{{notes.name}}</span>
                            </div>
                            <div class="box-tools col-md-4 " ng-show="show">
                                <div class="pull-right" role="group" > 
                                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteNote(notes.id)" 
                                            ><i class="fa fa-trash"></i>&nbsp; </button>
                                </div>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: none;">
                            <div>
                                <div class="col-md-1">Note</div>
                                <div class="col-md-1">
                                    <span class="fa fa-pencil" ng-click="editNote($event, notes.id, cont_id)">
                                        <md-tooltip md-direction="bottom">
                                            Edit
                                        </md-tooltip>
                                    </span>
                                </div>
                                <div class="col-md-12">{{notes.note}}</div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                    <dir-pagination-controls 
                        class="pull-right"
                        pagination-id="notepage"
                        boundary-links="true"
                        on-page-change="pageChangeHandler(newPageNumber)" 
                        template-url="../views/dirpagination.html">
                    </dir-pagination-controls>
                </md-content>
            </md-tab>
            <md-tab label="Events {{getCount(lead.id,'events')}}">
                <ul class="list-group">
                    <li class="list-group-item-heading">
                        <div class="row"> 
                            <button class="btn btn-success col-sm-offset-11" ng-click="addEvent($event, lead.id)">New</button>
                        </div>
                    </li> 
                    <li ng-repeat="event in getEvents(lead.id)" class="list-group-item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="/#/dashboard/calendar"> {{event.title}}</a>
                            </div>
                            <div class="col-sm-3">
                                start date {{event.start}}
                            </div>
                            <div class="col-sm-3">
                                end date :{{event.end}}
                            </div>
                        </div>   
                    </li>
                </ul>
            </md-tab>

            <md-tab label="Email">
                <md-content class="md-padding"> 
                    <div class="row">
                        <div class="pull-right">
                            <button class="btn btn-success" ng-click="newEmail($event, lead.id)">
                                Send mail
                            </button>
                        </div>
                    </div>
                    <md-list ng-repeat="conversation in getConversations(lead.id)">
                        <!-- ng-repeat your tasks here. Addd filter. -->
                        <md-list-item class="md-3-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
                            <!--                                    <md-checkbox ng-model="select"></md-checkbox>            -->

                            <div  class="md-list-item-text pull-right" layout="column" >
                                <!-- Task Title or Brief Description. Remove the template title -->
                                <h3 ng-if="conversation.status === 'sent'" style="color:red;">You </h3>
                                <h3 ng-if="conversation.status === 'received'" style="color:red;"> {{lead.firstname}} {{lead.lastname}}</h3>
                                <h4>{{conversation.subject}}  </h4>
                                <p>{{conversation.body_text}}</p>
                                <p ng-if="conversation.url">
                                    <a href="{{conversation.url}}" target="_blank">  <i class="fa fa-paperclip"></i> {{conversation.filename}}</a>
                                </p>
                            </div>
                            <!--                                    <div ng-if="conversation.status===received" class="md-list-item-text pull-left" layout="column">
                                                                     Task Title or Brief Description. Remove the template title 
                                                                    <h3>{{conversation.subject}}  </h3>
                                                                    <p>{{conversation.body}}</p>
                                                                </div>-->



                            <md-divider></md-divider>

                        </md-list-item>        
                        <!-- End ng-repeat -->


                    </md-list>

                </md-content>
            </md-tab>

            <md-tab label="Documents">
                <div class="container">
                    <div class="col-md-5">
                        <ul class="list-group" >
                            <li class="list-group-item"
                                dir-paginate="docs in getDocuments(lead.id) 
                                | itemsPerPage:7|filter:searchdocs"
                                pagination-id="docspage">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a target="_blank" href="{{docs.path}}">
                                            {{docs.document_name}}
                                            <md-tooltip md-direction="bottom">
                                                Click to open
                                            </md-tooltip>
                                        </a>
                                    </div> 
                                    <div class="col-sm-6">
                                        <button class="btn btn-danger btn-sm" ng-click="deleteDoc(docs.id)">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <dir-pagination-controls 
                    class="pull-right" 
                    boundary-links="true"
                    on-page-change="pageChangeHandler(newPageNumber)" 
                    template-url="../views/dirpagination.html"
                    pagination-id="docspage">
                </dir-pagination-controls>

            </md-tab>
        </md-tabs>            
    </div><!-- /.box-body -->
</div>
<dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../views/dirpagination.html"></dir-pagination-controls>