<section class="sidebar">
    <ul class="sidebar-menu">
        <li class="hov">
            <a ui-sref="users.home" ui-sref-active="active">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
        </li>
<!--        <li class="hov">
            <a href="#">
                <i class="fa fa-dollar"></i> <span>Statistics</span>
            </a>
        </li>-->
        <hr class="line"></hr>
        <li>
            <a><div class="linemenu">People and Co.</div></a>
        </li>
        <li class="treeview">
            <a class="hov">
                <span class="fa fa-users">&nbsp;</span>Contacts
                <i class="fa fa-caret-down pull-right"></i> 
            </a >
            <ul class="treeview-menu">
                <li class="hov">
                    <a ui-sref="users.contacts" ui-sref-active="active">Customers</a>
                </li>
                <li class="hov">
                    <a ui-sref="users.leads" ui-sref-active="active">Prospects</a>
                </li>
            </ul>
        </li>
        <li class="hov">
            <a ui-sref="users.organizations" ui-sref-active="active">
                <i class="fa fa-building"></i> <span>Companies</span>
            </a>
        </li>
        <hr class="line"></hr>
        <li>
            <a><div class="linemenu">Business</div></a>
        </li>
        <li class="hov">
            <a ui-sref="users.projects" ui-sref-active="active">
                <i class="fa fa-cogs"></i> <span>Projects</span>
            </a>
        </li>
        <li>
            <li class="hov">
            <a ui-sref="users.products" ui-sref-active="active">
                <i class="fa fa-shopping-cart"></i> <span>Products</span>
            </a>
        </li>
        <li class="hov">
            <a ui-sref="users.payment_plans" ui-sref-active="active">
                <i class="fa fa-plane"></i> <span>Payment Plans</span>
            </a>
        </li>
        <li class="hov">
            <a ui-sref="users.product_inventories" ui-sref-active="active">
                <i class="fa fa-industry"></i> <span>Product Inventories</span>
            </a>
        </li>
        <li>
            <a ui-sref="users.opportunities" ui-sref-active="active">
                <i class="fa fa-dollar"></i> <span>Opportunities</span>
            </a>
        </li>
        <li class="hov">
            <a  ui-sref="users.transactions" ui-sref-active="active">
                <i class="fa fa-money"></i> <span>Transactions</span>
            </a>
        </li>
        <hr class="line"></hr>
        <li>
            <a><div class="linemenu">Tools</div></a>
        </li>
        <li class="hov">
            <a ui-sref="users.emails" ui-sref-active="active">
                <i class="fa fa-text-height"></i> <span>Communication </span>
            </a>
        </li>
        <li class="hov">
            <a ui-sref="users.tasks" ui-sref-active="active">
                <i class="fa fa-edit"></i> <span>Tasks</span>
            </a>
        </li>
        <li class="hov">
            <a ui-sref="users.notes" ui-sref-active="active">
                <i class="fa fa-book"></i> <span>Notes</span>
            </a>
        </li>
        <li class="hov">
            <a ui-sref="users.calender" ui-sref-active="active">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
            </a>
        </li>
        <li class="hov">
            <a ui-sref="users.documents" ui-sref-active="active">
                <i class="fa fa-print"></i> <span>Documents</span>
            </a>
        </li>
<!--        <li class="hov">
            <a href="#">
                <i class="fa fa-envelope"></i> <span>Communication</span>                
                <small class="label pull-right bg-red">3</small>
            </a>
        </li>-->
         
    </ul>
</section>
