<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-book"></span>&nbsp; Notes</h4>
        </div>
        <div class="col-md-3 "  ng-show="select" >

        </div>
        <div class="col-md-2 pull-right">
            <md-menu>
                <button class="btn btn-success pull-right btn-sm" ng-click="$mdOpenMenu($event)">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp; New Note
                </button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button ng-click="addNote($event,'',type.id)">General</md-button>
                    </md-menu-item>
                    <md-menu-item ng-repeat="type in types">
                        <md-button ng-click="addNote($event,type.type,type.id)">{{type.type}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" 
                       ng-change="resetItems()"
                       placeholder="Search">
            </div> 
        </form>
    </div>
</div>
<div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected=false'>
            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            
                 <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email</button>  
           
        </div>
    </div>
    <br>
<md-divider></md-divider>
<div class="main_area">
    <div class="box  collapsed-box list_box" 
         dir-paginate="notes in notes | itemsPerPage:displaynumber|filter:search"
         ng-init="show = false"
         ng-mouseover="show = true" ng-mouseleave="show = false">
        <div class="box-header with-border"  >
            <div class=" col-md-3 text-muted " > 
                <input type="checkbox" ng-model="notes.selected"
                       ng-change="$parent.someselected=true">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus-circle"></i>
                </button>
                <h4 class="box-title">
                    <span class="fa fa-commenting">&nbsp; </span>{{notes.note| characters:15}}</h4></div>
            <div class="col-md-3 ">
                Owner: <span class="badge">{{notes.name}}</span>
            </div>
            <div class="col-md-3 ">
                Assoc. with: <span class="badge bg-blue">{{notes.type}}</span>
            </div>
            <div class="box-tools col-md-4 " ng-show="show">
                <div class="pull-right" role="group" > 
                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteNote(notes.note_id)" 
                            ><i class="fa fa-trash"></i>&nbsp; </button>
                </div>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body" style="display: none;">
            <div ng-show="editnoteflag[$index]" class="sample-show-hide">
                <div class="col-md-1">Note</div>
                <div class="col-md-1">
                    <span class="fa fa-pencil" ng-click="toggleNoteFlag($index)">
                        <md-tooltip md-direction="bottom">
                            Edit
                        </md-tooltip>
                    </span>
                </div>
                <div class="col-md-12">{{notes.note}}</div>
            </div>
            <div ng-show="!editnoteflag[$index]" class="sample-show-hide row ">
                <div class="form-group">
                    <textarea class="col-sm-offset-1 col-sm-5" 
                              ng-model="note[$index]">
                    </textarea>
                    <div class="col-sm-1">
                        <span class="fa fa-undo"
                              ng-click="toggleNoteFlag($index)">
                            <md-tooltip md-direction="bottom">
                                Undo
                            </md-tooltip>
                        </span>
                        <span class="fa fa-save"
                              ng-click="editNote($index, notes.note_id)">
                            <md-tooltip md-direction="bottom">
                                Save change
                            </md-tooltip>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div>
    <dir-pagination-controls 
        class="pull-right"
        boundary-links="true"
        on-page-change="pageChangeHandler(newPageNumber)" 
        template-url="../views/dirpagination.html">
    </dir-pagination-controls>
</div>