<div class="row details_head" >
    <div class="col-md-3">
        <!-- Get the name of the opportunity here . Delete "Contact Name"-->

        <h4 class="pull-left" ng-model="content_head">&nbsp; <span class="fa fa-user">&nbsp; </span></h4>
    </div>
    <div class="col-md-9">
        <button class="btn btn-danger pull-right btn-sm header_button"  ng-click="opportunity.addContact($event)">
            <i class="glyphicon glyphicon-plus"></i>&nbsp; Add Contact</button>
        <!-- The owner's avatar goes here. Inside the Span elemenet goes the name -->
        <h4 class="pull-right"><span class="fa fa-user-secret">&nbsp; </span>Owner &nbsp;</h4>

    </div>
</div>
<md-divider></md-divider>
<br >
<div layout="row">
    <span flex></span>
    <!-- Left Flex For High Level Data -->

    <div layout="column" flex="25" ng-init="orgflag = true;addphoneflag = false;">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    About<span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            <div class="panel-body">
                <!-- Now Lets Put the User Data in these places.  -->

                <div class="" ng-repeat=""> 
                    <!--Phone Data Here. Remove dummy One below. Add Plus The Type in -->
                    <div class="row" ng-show="editphoneflag[$index]">
                        <div class="col-sm-10">
                            <i class="fa fa-phone"></i>&nbsp;
                            
                            <!--Edit Button-->
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-toolbar pull-right" type="button">
                                <i class="fa fa-pencil" type="button" ng-click="toggleEditPhoneFlag($index)"></i>
                            </a>
                        </div>
                    </div>
                    <div ng-show="!editphoneflag[$index]">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control input-sm" placeholder="PhoneNumber" ng-model="phone[$index]"  required>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control input-sm"   ng-model="phone_nature_id[$index]">
                                    <!-- Get Prefix From The DB and have them here -->
                                    <option ng-repeat="" ng-selected="" value=""></option>
                                </select>
                                
                            </div>
                        </div>                       
                        <div class="row">
                            <div class="col-sm-2">
                                <a type="button" ng-click="toggleEditPhoneFlag($index)">
                                    <i class="fa fa-rotate-left" ></i>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a type="button" ng-click="editPhone(phones.phone_id,$index)">
                                    <i class="fa fa-save" ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="" type="button" ng-click="toggleAddPhoneFlag()">+Add</a>
                <div ng-show="addphoneflag" class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control input-sm" placeholder="PhoneNumber" ng-model="newphone" required>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control input-sm"   ng-model="new_phone_nature_id">
                                <!-- Get Prefix From The DB and have them here -->
                                <option ng-repeat="" value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="toggleAddPhoneFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="savePhone()">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>
                <md-divider></md-divider>
                <div ng-repeat="emails in opportunity_emails"> 
                    <div ng-show="editemailflag[$index]">
                        <div class="row">
                            <div class="col-sm-10">
                                <i class="fa fa-envelope-square"></i>&nbsp;
                                
                                <!--Edit Button-->
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-toolbar pull-right" type="button">
                                    <i class="fa fa-pencil" type="button" ng-click="toggleEditEmailFlag($index)"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!editemailflag[$index]">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control input-sm" placeholder="Email" ng-model="email[$index]"  required>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control input-sm"   ng-model="email_nature_id[$index]">
                                    <!-- Get Prefix From The DB and have them here -->
                                    <option ng-repeat="e_nature in email_natures"  value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <a type="button" ng-click="toggleEditEmailFlag($index)">
                                    <i class="fa fa-rotate-left" ></i>
                                </a>
                            </div>
                            <div class="col-sm-2">
                                <a type="button" ng-click="editEmail(emails.email_id,$index)">
                                    <i class="fa fa-save" ></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Email Data Here. Remove dummy One below. Add Plus The Type in -->
                    
                    <!--Edit Button-->
                </div>
                <a class="btn btn-toolbar" type="button" ng-click="toggleAddEmailFlag()">+Add</a>
                <div ng-show="addemailflag" class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control input-sm" placeholder="Email" ng-model="newemail" required>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control input-sm"   ng-model="new_email_nature_id">
                                <!-- Get Prefix From The DB and have them here -->
                                <option ng-repeat="e_nature in email_natures" value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="toggleAddEmailFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a type="button" ng-click="saveEmail()">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Organizations
                    <span class="fa fa-cog pull-right"></span>
                </h4>  
            </div>
            <div class="panel-body">

                <p ng-if="orgflag" class="animate-if"><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Important Date's Data Here. Remove dummy One below.  -->
                    
                    <!--Edit Button-->
                    <a class="" type="button" ng-click="toggleOrgFlag()">
                        <i class="fa fa-pencil" ></i>
                    </a>
                </p>
                <div ng-if="!orgflag" class="col-sm-12">
                    <div  class="form-group col-sm-8">                            
                        <input type="text" class=" form-control input-sm" placeholder="Organization" ng-model="opportunity_organization.name" required>
                    </div>
                    <div class="col-sm-1" >
                        <a type="button" ng-click="toggleOrgFlag()">
                            <i class="fa fa-rotate-left" ></i>
                        </a>
                    </div>
                    <div class="col-sm-1">
                        <a type="button" ng-click="editOrganization(opportunity_organization.id)">
                            <i class="fa fa-save" ></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Dates
                    <span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            <div class="panel-body">
                <p class=""><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Organization Data Here. Remove dummy One below.  -->
                    11-Dec-2015 Sprint Ends
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
                <p class=""><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Organization Data Here. Remove dummy One below.  -->
                    12-Dec-2015 Jahmuri Day
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <span flex></span>
    <!--Right Flex For Tab View with more-->
    <div layout="column" flex="70">
        <div class="panel panel-default">
            <div class="panel-body">


                <md-tabs md-dynamic-height md-border-bottom>               
                    <md-tab label="Opportunities">
                        <md-content class="md-padding">
                            <!--Contact Opportunities Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Tasks">
                        <md-content class="md-padding">
                            <!--Contact Tasks Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Emails">
                        <md-content class="md-padding"> 
                            <!--Contact Opportunities Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Notes">
                        <md-content class="md-padding">                        
                            <!--Contact Notes Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Files">
                        <md-content class="md-padding">                        
                            <!--Contact Files Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Activities">
                        <md-content class="md-padding">                        
                            <!--Contact Activities Here -->
                        </md-content>
                    </md-tab>
                </md-tabs>

            </div>
        </div>
    </div>
</div>