<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-dollar"></span>&nbsp; Opportunities </h4>
        </div>
        <div class="col-md-3 "  ng-show="select" >

        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-success pull-right btn-sm" ng-disabled="empty" ng-click="tunities.addTunity($event)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp; New Opportunity</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page" >
            </div>
            <div class="form-group">
                <input type="text" ng-model="search" ng-change="resetItems()" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</div>
<div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected=false'>
            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            
                 <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email</button>  
           
        </div>
    </div>
    <br>
<md-divider></md-divider>
<!-- Begin Main Content Area -->

<div ng-if="empty" class="alert alert-warning">
    There are no inventories or payment plans added. Please add them to add opportunities
</div>
<div ng-if="!empty">
    <div class="box  collapsed-box list_box"
         dir-paginate="opp in opportunities|itemsPerPage:displaynumber|filter:search"
         ng-init="show = false"
         ng-mouseover="show = true" ng-mouseleave="show = false">
        <div class="box-header with-border"  >
            <div class=" col-md-5 text-muted " > 
                <input type="checkbox" ng-model="opp.selected"
                       ng-change="$parent.someselected=true">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus-circle"></i>
                    <md-tooltip>More details</md-tooltip>
                </button>
                <!--Project Name. Remove the template name -->
                <h5 class="box-title">
                    {{opp.name}}<b class="text-muted"></b></h5>
            </div>                
            <div class="col-md-4"> 
                <!-- Product Name -->
                <h5 class=" text-muted box-title">                
                    <span class="fa fa-calendar"> 
                        Close Date: 
                    </span>
                    &nbsp; 
                    {{opp.close_date}} |
                    &nbsp; 
                    Value: 
                    <span class="badge bg-blue-active">
                        {{tunities.oppValue(opp.opp_id) | currency:"KES ":0}}
                    </span>


                </h5>
            </div>

            <div class="box-tools col-md-3 " ng-show="show">
                <div class="pull-right" role="group" >                   
                    <div class="btn-group">                       
                        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-plus"></i>&nbsp; 
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                            <li><a ng-click="tunities.addProducts(opp.opp_id, $event)">Product</a></li>
                            <li><a ng-click="tunities.addTask(opp.opp_id, $event)">Task </a></li>
                            <li><a ng-click="tunities.pinNote(opp.opp_id, $event)">Note</a></li>
                            <li><a type="button" ng-click="pinDocument($event, opp.opp_id)">Document</a></li>
                        </ul>
                    </div>&nbsp; 
                    <button type="button" class="btn btn-default btn-sm" ng-click="tunities.editTunity(opp.opp_id, $event)">
                        <i class="fa fa-edit"></i>&nbsp; </button> &nbsp; 
                    <button type="button" class="btn btn-default btn-sm" ng-click="tunities.deleteTunity(opp.opp_id, $event)" 
                            ><i class="fa fa-trash"></i>&nbsp; </button>                 

                </div>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <!-- Begin Product Description here -->
        <div class="box-body" style="display: none;">
            <md-tabs md-dynamic-height md-border-bottom>               
                <md-tab label="Summary">
                    <md-content class="md-padding">
                        <div class="col-md-10">
                            <!-- wrap opportunity title, customer name and title in  in one place-->
                            <div class="row ">
                                <div class="col-md-3 col-sm-12">
                                    <h5 class="text-bold inline_header">Opportunity Name</h5>
                                    <p ng-show="editOppNameFlag[$index]">{{opp.name}}</p>
                                    <div ng-show="!editOppNameFlag[$index]">
                                        <div class="row">
                                            <div class="form-group col-sm-9">
                                                <input type="text" class="form-control input-sm" placeholder="Tunity Name"
                                                       ng-model="name[$index]"  required>                                            
                                            </div>
                                            <div class="col-sm-1">
                                                <a type="button" ng-click="toggleEditNameFlag($index)">
                                                    <i class="fa fa-rotate-left" ></i>
                                                </a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a type="button" ng-click="editName(opp.opp_id, $index)">
                                                    <i class="fa fa-save" ></i>
                                                </a>
                                            </div>
                                        </div>                      


                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="text-bold inline_header">Customer Name</h5>
                                    <p>{{opp.firstname}}&nbsp; {{opp.lastname}}</p>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="text-bold inline_header">Value</h5>
                                    <p>
                                        <span class='badge bg-blue-active'> {{tunities.oppValue(opp.opp_id) | currency:"KES ":1}}
                                        </span> 

                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <h5 class="text-bold inline_header">Current Stage</h5>
                                    <p ng-show="editStageFlag[$index]" ng-init="stager[$index] = opp.stage_name">
                                        <span class='badge bg-blue-active'> {{stager[$index]}}
                                        </span> 
                                        <a ng-click="toggleStageFlag($index)">
                                            <i class="fa fa-pencil" md-tooltip="Update Stage"></i>
                                        </a>
                                    </p>
                                    <div ng-show="!editStageFlag[$index]">
                                        <div class="row">                                       
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="stage[$index]">                            
                                                    <option ng-repeat="stage in stages" value="{{stage.id}}"
                                                            >{{stage.stage_name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">
                                                <a type="button" ng-click="toggleStageFlag($index)">
                                                    <i class="fa fa-rotate-left" ></i>
                                                </a>
                                            </div>
                                            <div class="col-sm-2">
                                                <a type="button" ng-click="editStage(opp.opp_id, opp.current_stage_id, $index)">
                                                    <i class="fa fa-save" ></i>
                                                </a>
                                            </div>
                                        </div>                      

                                    </div>

                                </div>
                            </div>
                            <md-divider></md-divider>
                            <h5 class="text-bold inline_header">Summary</h5>
                            <p> {{opp.description}} </p>
                        </div>
                        <div class="col-md-2">
                            <!-- Opportunity owner -->
                            <h5 class="text-bold text-center inline_header">Owner Name</h5>
                            <p class='text-center pull-rightr'>
                                <img class="img img-circle text-center" 
                                     height="40" width="40" 
                                     src="http://www.radiantgeek.com/images/rgAvatar.png"/><br>
                            <div ng-repeat="owner in getOwners(opp.opp_id)">
                                {{owner.name}}
                            </div>

                            </p>
                        </div>



                    </md-content>
                </md-tab> <md-tab label="Products">
                    <md-content class="md-padding">                        
                        <!--products in the opportunities go here. Ng-repeat here -->
                        <table class="table table-bordered table-condensed 
                               table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Payment Type</th>
                                    <th>Inventory Name</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Value</th>
                                </tr>
                            </thead>                        
                            <tbody>
                                <tr ng-repeat="opp_prod in tunities.oppProducts(opp.opp_id)">
                                    <td>{{$index + 1}} </td>                                
                                    <td>
                                        <span class="badge bg-green-active" 
                                              ng-show="{{tunities.getType(opp_prod.payment_plan_id)}}"> 
                                            {{'Cash'}}
                                        </span>
                                        <span class="badge bg-yellow-active" 
                                              ng-hide="{{tunities.getType(opp_prod.payment_plan_id)}}"> 
                                            {{'Installment'}}
                                        </span>
                                    </td>
                                    <td>{{opp_prod.property_no}}</td>
                                    <td>{{(tunities.prodName(opp_prod.product_id) | limitTo:1)[0].name}}</td>
                                    <td>{{opp_prod.quantity}}</td>
                                    <td>{{tunities.payment_plan_value(opp_prod.payment_plan_id, opp_prod.quantity) | currency:"KES ":1}}
                                        <a    class="pull-right fa-1x" ng-click="tunities.deletePlan(opp_prod.id, $event)"
                                              ><i class="fa fa-trash"></i>&nbsp;
                                        </a>
                                        <a    class="pull-right fa-1x" ng-click="tunities.editPlan(opp_prod.id, $event)">
                                            <i class="fa fa-edit"></i>&nbsp; 
                                        </a> &nbsp; 

                                    </td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Payment Type</th>
                                    <th>Inventory Name</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Product Value</th>
                                </tr>
                            </tfoot>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Tasks">
                    <md-content class="md-padding">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <button class="btn btn-success pull-right btn-sm"  ng-click="addTask($event, opp.opp_id)">
                                        <i class="glyphicon glyphicon-plus"></i>&nbsp; New Task</button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <md-list dir-paginate="task in getTasks(opp.opp_id) | 
                                         itemsPerPage: 10" pagination-id="highp" >
                                    <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
                                        <md-checkbox ng-model="select"></md-checkbox>
                                        <div class="md-list-item-text" layout="column">
                                            <!--                         Task Title or Brief Description. Remove the template title -->
                                            <h3><a href="/#/dashboard/tasks/{{task.name}}">{{task.name}} </a> </h3>
                                        </div>
                                        <div class="md-list-item-text" layout="column">
                                            <!--                         Task Date of Brief Description. Remove the template date -->
                                            <h3>
                                                <i class="fa fa-calendar"></i>start :{{task.start_date|dateToISO|date:'mediumDate'}} </h3>
                                        </div>
                                        <div class="md-list-item-text pull-right" layout="column" >
                                            <input type='hidden' value="" ng-model="name" ng-init="name = cont.id">
                                            <div class="" role="group" >

                                                <button ng-if="task.status !== 'Done'" type="button" class="btn btn-primary btn-sm" ng-click="isDone(task.id)">
                                                    <i class="fa fa-check"></i>&nbsp; Done
                                                    <md-tooltip>Mark as Done</md-tooltip>
                                                </button>
                                                <span  ng-if="task.status === 'Done'" class="badge bg-blue-active"><i class="fa fa-thumbs-up"></i> Done</span>



                                                <button type="button" class="btn btn-danger btn-sm" ng-click="org.deleteTask(task.id)">
                                                    <i class="fa fa-trash"></i>&nbsp; Delete</button>


                                            </div>
                                        </div>


                                        <md-divider></md-divider>

                                    </md-list-item> 
                                </md-list>
                                <dir-pagination-controls class="pull-right" boundary-links="true"
                                                         pagination-id="highp"
                                                         on-page-change="pageChangeHandler(newPageNumber)" 
                                                         template-url="../views/dirpagination.html">                             
                                </dir-pagination-controls>
                            </div>

                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Events {{getCount(cont.id, 'events')}}">
                    <md-content class="md-padding">
                        <ul class="list-group">
                            <li class="list-group-item-heading" style="list-style-type: none;">
                                <span class="btn btn-success pull-right" ng-click="addEvent($event, opp.opp_id)">New</span>
                            </li> 
                            <li ng-repeat="event in getEvents(opp.opp_id)" class="list-group-item">
                                <div class="row">

                                    <div class="col-sm-3">
                                        <a href="/#/dashboard/calendar">
                                            {{event.title}}
                                        </a> 
                                    </div>
                                    <div class="col-sm-3">
                                        start date {{event.start|dateToISO|date:'medium'}}
                                    </div>
                                    <div class="col-sm-3">
                                        end date :{{event.end|dateToISO|date:'medium'}}
                                    </div>

                                </div>   
                            </li>
                        </ul>
                    </md-content>
                </md-tab>
                <md-tab label="Documents">
                    <div class="container">
                        <div class="col-md-5">
                            <ul class="list-group" >
                                <li class="list-group-item"
                                    dir-paginate="docs in getDocuments(lead.id) 
                                    | itemsPerPage:7|filter:searchdocs"
                                    pagination-id="docspage">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a target="_blank" href="{{docs.path}}">
                                                {{docs.document_name}}
                                                <md-tooltip md-direction="bottom">
                                                    Click to open
                                                </md-tooltip>
                                            </a>
                                        </div> 
                                        <div class="col-sm-6">
                                            <button class="btn btn-danger btn-sm" ng-click="deleteDoc(docs.id)">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                        </div> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </md-tabs>            
        </div><!-- /.box-body -->
    </div>
    <dir-pagination-controls class="pull-right" boundary-links="true" 
                             on-page-change="pageChangeHandler(newPageNumber)" 
                             template-url="../views/dirpagination.html">                             
    </dir-pagination-controls>
</div>
