<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-phone-square"></span>&nbsp; Organizations</h4>
        </div>
        <div class="col-md-3 "  ng-show="select" >

        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-success pull-right btn-sm" ng-click="org.addOrganization($event)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp; New Organization</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control
                       " placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-change="resetItems()" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-sm-offset-1" ng-init='someselected = false'>
        <!--            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all-->
        <md-checkbox class="pull-left"  ng-model="selectAll" ng-change="checkAll()" ></md-checkbox>Check all
    </div>
    <div class="col-sm-2" ng-show="selectAll || someselected">
        With selected :
    </div>
    <div class="col-sm-2" ng-show="selectAll || someselected">

        <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
        <button class="btn btn-primary btn-sm" ng-click="sendBulk($event)"><i class="fa fa-envelope"></i> Email</button>  

    </div>
</div>
<br>
<md-divider></md-divider>

<div class="box  collapsed-box list_box"
     dir-paginate="cont in org.organizations|itemsPerPage:displaynumber|filter:search|toArray : false"
     ng-init="show = false"
     pagination-id="orgpage"
     ng-mouseover="show = true" ng-mouseleave="show = false">
    <div class="box-header with-border"  >

        <div class=" col-md-6 text-muted " > 
            <input type="checkbox" ng-model="cont.selected"
                   ng-change="$parent.someselected = true">
            <!--            <md-checkbox ng-model="cont.selected"
                                   ng-change="$parent.someselected=true"></md-checkbox>&nbsp;-->
            <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus-circle"></i>
                <md-tooltip>More details</md-tooltip>
            </button>
            <!--Project Name. Remove the template name -->
            <h5 class="box-title">
                <!--                <a href="/#/dashboard/organizations/{{cont.id}}">{{cont.name}}</a> -->
                {{cont.name}}</h5>
        </div>                
        <div class="col-md-3"> 
            <!-- Product Name -->
            <h5 class=" text-muted">
                <span class="fa fa-user ">                    
                </span>
                &nbsp; 
                Owners: 
                <span ng-repeat="owner in org.getOwners(cont.id)" class="badge bg-blue-active">
                    {{owner.name}}
                </span>

            </h5>
        </div>
        <div class="box-tools col-md-3 " ng-show="show">
            <div class="pull-right" role="group" >                   
                <div class="btn-group">                       
                    <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i>&nbsp; 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                        <li><a  ng-click="org.addTunity($event, cont.id, cont.name)">Opportunity</a></li>
                        <li><a ng-click="org.addTask($event, cont.id)">Task </a></li>
                        <li><a type="button" ng-click="pinNote($event, cont.id)">Note</a></li>
                        <li><a type="button" ng-click="pinDocument($event, cont.id)">Document</a></li>
                    </ul>
                </div>&nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="org.edit(cont.id, $event)">
                    <i class="fa fa-edit"></i>&nbsp; </button> &nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="org.deleteOrganization(cont.id)"
                        ><i class="fa fa-trash"></i>&nbsp; </button>

            </div>


        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <!-- Begin Product Description here -->
    <div class="box-body" style="display: none;">
        <md-tabs md-dynamic-height md-border-bottom>               
            <md-tab label="Summary">
                <md-content class="md-padding">
                    <div class="col-md-10">
                        <h5 class="text-bold">Industry</h5>
                        <p ng-if="!(cont.industry_id == '0')">{{cont.industry}}<a><i class="fa fa-pencil">&nbsp; </i></a></p>
                        <a ng-if="cont.industry_id == '0'" ng-click="org.add('industry', $index)" class="btn btn-link">+Add industry</a>
                        <div class="row">
                            <form class="form form-inline" ng-submit="" ng-show="org.addindustry[$index]">
                                <div class="input-group col-sm-4">
                                    <angucomplete-alt id="orgs"
                                                      auto-match="true"
                                                      placeholder="Industry"
                                                      pause="100"
                                                      selected-object="selectedindustry"
                                                      override-suggestions="true"
                                                      local-data="industries"
                                                      search-fields="id,industry"
                                                      title-field="industry"
                                                      minlength="1"
                                                      input-class="form-control form-control-small"
                                                      match-class="highlight"
                                                      text-no-results="Not found. It will be added"/>
                                </div> 
                                <span class="input-group-btn">
                                    <button class="btn btn-link" type="submit">
                                        <i class="fa fa-save"  title="save"></i>
                                    </button>

                                    <i class="fa fa-rotate-left" title="go back"></i>&nbsp;
                                </span>
                            </form>
                        </div>
                        <h5 class="text-bold">Background</h5>
                        <p> {{cont.background}} </p>
                    </div>
                    <div class="col-md-2">

                        <h5 class="text-bold text-center">Owner(s) Name</h5>
                        <p class='text-center pull-rightr'>
                            <img class="img img-circle text-center" 
                                 height="40" width="40" 
                                 src="http://www.radiantgeek.com/images/rgAvatar.png"/><br>
                        <p ng-repeat="owner in org.getOwners(cont.id)">{{owner.name}}
                        </p>
                    </div>



                </md-content>
            </md-tab> 
            <md-tab label="Opportunity {{org.getCount(cont.id, 'opportunities')}} ">
                <md-content class="md-padding">                        
                    <div class="row">
                        <div class="row" ng-repeat="opp in org.getOpportunities(cont.id)">
                            <div class="col-sm-5">
                                <h4>
                                    <a href="/#/dashboard/opportunities/{{opp.opp_name}}" class="btn btn-link">
                                        {{opp.opp_name}}
                                    </a>
                                </h4>
                            </div>
                            <div class="col-sm-5">
                                value : <span class="badge bg-blue-active">{{opp.total}}</span> 
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Contacts ">
                <md-content class="md-padding">                        
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Phone numbers/emails
                                    <div class="pull-right">
                                        <i class="fa fa-cog"></i>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p class="row" ng-repeat="phone in org.getPhones(cont.id)">
                                        <i class="fa fa-phone"></i>&nbsp; {{phone.phone_number}}
                                        <!--Phone Data Here. Remove dummy One below. Add Plus The Type in -->
                                        <a class="btn btn-toolbar pull-right" type="button" ng-click="org.deletePhone(phone.id)">
                                            <i class="fa fa-trash"></i>  
                                        </a>  

                                    </p> 
                                    <form class="form form-inline" ng-show="org.addphone[$index]" ng-submit="org.addDetail('phone', cont.id, $index)">
                                        <div class="input-group">
                                            <input class="form-control" type="tel" ng-model="org.phone" name="phone"
                                                   placeholder="add phone"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-link" type="submit">
                                                    <i class="fa fa-save"  >
                                                        <md-tooltip>Save</md-tooltip>
                                                    </i>
                                                </button>
                                                <button class="btn btn-link" type="reset">
                                                    <i class="fa fa-rotate-left"  ng-click="org.addphone[$index] = false">
                                                        <md-tooltip>Go back</md-tooltip>
                                                    </i>
                                                </button>


                                            </span>
                                        </div>


                                    </form>
                                    <a class="btn btn-link" ng-click="org.add('phone', $index)" type="button">+ Add phone</a>
                                    <md-divider></md-divider>
                                    <p class="row" ng-repeat="emails in org.getEmails(cont.id)"><i class="fa fa-envelope-square" ></i>&nbsp; 
                                        <!--Email Data Here. Remove dummy One below. Add Plus The Type in -->
                                        {{emails.email}}
                                        <!--Edit Button-->
                                        <a class="btn btn-toolbar pull-right" type="button" ng-click="org.deleteEmail(emails.id)">
                                            <i class="fa fa-trash"></i>  
                                        </a>

                                    </p>
                                    <form class="form form-inline" ng-show="org.addemail[$index]" ng-submit="org.addDetail('email', cont.id, $index)">
                                        <div class="input-group">
                                            <input class="form-control" type="email" 
                                                   ng-model="org.email" name="email"
                                                   placeholder="Add email"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-link" type="submit">
                                                    <i class="fa fa-save"  title="save"></i>
                                                </button>

                                                <button class="btn btn-link" type="reset">
                                                    <i class="fa fa-rotate-left"  ng-click="org.addemail[$index] = false">
                                                        <md-tooltip>Go back</md-tooltip>
                                                    </i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <a addphoneno class="btn btn-toolbar" type="button" ng-click="org.add('email', $index)">+Add Email</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Address
                                    <div class="pull-right">
                                        <i class="fa fa-cog"></i>
                                    </div>
                                </div>
                                <div class="panel-body">

                                    <div ng-repeat="addr in org.getAddress(cont.id)">   
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <i class="fa fa-home"></i>P.O Box {{addr.address}}
                                            </div>
                                            <div class="col-sm-6">
                                                Postal code : {{addr.postal_code}}
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                City : {{addr.city}}
                                            </div>
                                            <div class="col-sm-6">
                                                Country : {{addr.country}}
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <!--                                <div class="panel-footer">
                                                                    <button class="btn btn-link">
                                                                        <i class="fa fa-edit"></i> Edit
                                                                    </button>
                                                                </div>-->
                            </div>
                        </div>

                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Dates to remember  {{org.getCount(cont.id, 'dates')}}">
                <md-content class="md-padding">                        
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Dates
                                <span class="fa fa-cog pull-right"></span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <p class="" ng-repeat="date in org.getDates(cont.id)">
                                <i class="fa fa-envelope-square"></i>&nbsp; 
                                <!--Organization Data Here. Remove dummy One below.  -->
                                {{date.date|dateToISO|date:'mediumDate'}} {{date.description}}
                                <!--Edit Button-->
                                <a class="btn btn-link pull-right" type="button" ng-click="org.deleteDate(date.id)">
                                    <i class="fa fa-trash"></i>  
                                </a>
                                <a class="" type="button">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </p>

                        </div>
                        <md-divider></md-divider>
                        <form class="form  form-inline " ng-show="org.addDay[$index]" 
                              ng-submit="org.addDetail('date', cont.id, $index)">
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <input required ng-model="org.description" 
                                           type="text" placeholder="Description of date" class="form-control">
                                </div>
                                <div class="input-group col-sm-4">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                                            <div class="input-group"><input type="text" placeholder="choose date" class="form-control" required data-ng-model="org.date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="org.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',minView:'day' }"
                                                            minView="day"/>
                                        </ul>
                                    </div>
                                    <span class='input-group-btn'>
                                        <button class="btn btn-link" type="submit">
                                            <i class="fa fa-save"  title="save"></i>
                                        </button>

                                        <button class="btn btn-link" type="reset">
                                            <i class="fa fa-rotate-left"  ng-click="org.addDay[$index] = false">
                                                <md-tooltip>Go back</md-tooltip>
                                            </i>
                                        </button>
                                    </span>

                                </div>
                            </div>


                        </form>
                        <div class="panel-footer">
                            <a addphoneno class="btn btn-link" 
                               ng-click="org.add('date', $index)" type="button">+Add Date
                            </a>

                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Task  {{org.getCount(cont.id, 'tasks')}}">
                <md-content class="md-padding">                        
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <button class="btn btn-success pull-right btn-sm"  ng-click="org.addTask($event, cont.id)">
                                    <i class="glyphicon glyphicon-plus"></i>&nbsp; New Task</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <md-list dir-paginate="task in org.getTasks(cont.id) | 
                                     itemsPerPage: 10" pagination-id="highp" >
                                <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
                                    <md-checkbox ng-model="select"></md-checkbox>
                                    <div class="md-list-item-text" layout="column">
                                        <!--                         Task Title or Brief Description. Remove the template title -->
                                        <h3><a href="/#/dashboard/tasks/{{task.name}}">{{task.name}} </a> </h3>
                                    </div>
                                    <div class="md-list-item-text" layout="column">
                                        <!--                         Task Date of Brief Description. Remove the template date -->
                                        <h3>
                                            <i class="fa fa-calendar"></i>start :{{task.start_date|dateToISO|date:'mediumDate'}} </h3>
                                    </div>
                                    <div class="md-list-item-text pull-right" layout="column" >
                                        <input type='hidden' value="" ng-model="name" ng-init="name = cont.id">
                                        <div class="" role="group" >

                                            <button ng-if="task.status !== 'Done'" type="button" class="btn btn-primary btn-sm" ng-click="isDone(task.id)">
                                                <i class="fa fa-check"></i>&nbsp; Done
                                                <md-tooltip>Mark as Done</md-tooltip>
                                            </button>
                                            <span  ng-if="task.status === 'Done'" class="badge bg-blue-active"><i class="fa fa-thumbs-up"></i> Done</span>



                                            <button type="button" class="btn btn-danger btn-sm" ng-click="org.deleteTask(task.id)">
                                                <i class="fa fa-trash"></i>&nbsp; Delete</button>


                                        </div>
                                    </div>


                                    <md-divider></md-divider>

                                </md-list-item> 
                            </md-list>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Notes {{org.getCount(cont.id, 'notes')}}">
                <md-content class="md-padding">
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <input type="number" 
                                   ng-model="displaynumber" 
                                   class="form-control"
                                   placeholder="item per page"/>
                        </div>
                        <div class="form-group col-sm-5">
                            <input type="text"
                                   ng-change="resetItems()"
                                   ng-model="search" 
                                   class="form-control"
                                   placeholder="Search"/>
                        </div>
                    </div>
                    <div class="box  collapsed-box list_box"
                         dir-paginate="notes in org.getNotes(cont.id) | 
                         itemsPerPage: displaynumber|filter:search"
                         pagination-id="notepage"
                         ng-init="show = false"
                         ng-mouseover="show = true" ng-mouseleave="show = false">
                        <div class="box-header with-border"  >
                            <div class=" col-md-4 text-muted " > 
                                <button class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <h4 class="box-title">
                                    <span class="fa fa-commenting">&nbsp; </span>{{notes.note| characters:15}}</h4></div>
                            <div class="col-md-3 ">
                                Owner: <span class="badge">{{notes.name}}</span>
                            </div>
                            <div class="box-tools col-md-4 " ng-show="show">
                                <div class="pull-right" role="group" > 
                                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteNote(notes.note_id)" 
                                            ><i class="fa fa-trash"></i>&nbsp; </button>
                                </div>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: none;">
                            <div>
                                <div class="col-md-1">Note</div>
                                <div class="col-md-1">
                                    <span class="fa fa-pencil" ng-click="editNote($event, notes.note_id)">
                                        <md-tooltip md-direction="bottom">
                                            Edit
                                        </md-tooltip>
                                    </span>
                                </div>
                                <div class="col-md-12">{{notes.note}}</div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                    <dir-pagination-controls 
                        class="pull-right"
                        pagination-id="notepage"
                        boundary-links="true"
                        on-page-change="pageChangeHandler(newPageNumber)" 
                        template-url="../views/dirpagination.html">
                    </dir-pagination-controls>
                </md-content>
            </md-tab>
            <md-tab label="Events {{org.getCount(cont.id, 'events')}}">
                <md-content class="md-padding">
                    <ul class="list-group">
                        <li class="list-group-item-heading">
                            <span class="btn btn-success pull-right" ng-click="addEvent($event, cont.id)">New</span>
                        </li> 
                        <li ng-repeat="event in org.getEvents(cont.id)" class="list-group-item">
                            <div class="row">

                                <div class="col-sm-3">
                                    <a href="/#/dashboard/calendar">
                                        {{event.title}}
                                    </a> 
                                </div>
                                <div class="col-sm-3">
                                    start date {{event.start|dateToISO|date:'medium'}}
                                </div>
                                <div class="col-sm-3">
                                    end date :{{event.end|dateToISO|date:'medium'}}
                                </div>

                            </div>   
                        </li>
                    </ul>
                </md-content>
            </md-tab>

            <md-tab label="Email">
                <div class="row">
                    <div class="pull-left">
                        <button class="btn btn-success" ng-click="newEmail($event, cont.id)">
                            Send mail
                        </button>
                    </div>
                </div>
                <md-list ng-repeat="conversation in org.getConversations(cont.id)">
                    <!-- ng-repeat your tasks here. Addd filter. -->
                    <md-list-item class="md-3-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
                        <!--                                    <md-checkbox ng-model="select"></md-checkbox>            -->

                        <div  class="md-list-item-text pull-right" layout="column" >
                            <!-- Task Title or Brief Description. Remove the template title -->
                            <h3 ng-if="conversation.status === 'sent'" style="color:red;">You </h3>
                            <h3 ng-if="conversation.status === 'received'" style="color:red;"> {{cont.name}}</h3>
                            <h4>{{conversation.subject}}  </h4>
                            <p>{{conversation.body_text}}</p>
                            <p ng-if="conversation.url">
                                <a href="{{conversation.url}}" target="_blank">  <i class="fa fa-paperclip"></i> {{conversation.filename}}</a>
                            </p>
                        </div>
                        <!--                                    <div ng-if="conversation.status===received" class="md-list-item-text pull-left" layout="column">
                                                                 Task Title or Brief Description. Remove the template title 
                                                                <h3>{{conversation.subject}}  </h3>
                                                                <p>{{conversation.body}}</p>
                                                            </div>-->



                        <md-divider></md-divider>

                    </md-list-item>        
                    <!-- End ng-repeat -->


                </md-list>
            </md-tab>

            <md-tab label="Documents">
                <div class="container">
                    <div class="col-md-5">
                        <ul class="list-group" >
                            <li class="list-group-item"
                                dir-paginate="docs in getDocuments(cont.id) 
                                | itemsPerPage:5|filter:searchdocs"
                                pagination-id="docspage">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a target="_blank" href="{{docs.path}}">
                                            {{docs.document_name}}
                                            <md-tooltip md-direction="bottom">
                                                Click to open
                                            </md-tooltip>
                                        </a>
                                    </div> 
                                    <div class="col-sm-6">
                                        <button class="btn btn-danger btn-sm" ng-click="deleteDoc(docs.id)">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </md-tab>
        </md-tabs>            
    </div> 
</div>
<dir-pagination-controls 
    class="pull-right" 
    pagination-id="orgpage"
    boundary-links="true" 
    on-page-change="pageChangeHandler(newPageNumber)" 
    template-url="../views/dirpagination.html">
</dir-pagination-controls>
