<div class="row details_head" >
    <div class="col-md-3">
        <!-- Get the name of the contact here . Delete "Contact Name"-->
        <h4 class="pull-left" ng-model="content_head">&nbsp; <span class="fa fa-building">&nbsp; 
            </span>{{orgdetail.organization.name}} </h4>
    </div>
    <div class="col-md-9">
        <button class="btn btn-danger pull-right btn-sm header_button"  ng-click="contact.addContact($event)">
            <i class="glyphicon glyphicon-plus"></i>&nbsp; Add Opportunity</button>
        <!-- The owner's avatar goes here. Inside the Span elemenet goes the name -->
        <h4 class="pull-right"><span class="fa fa-user-secret">&nbsp; {{details.ownerName}}</span>Owner &nbsp;</h4>

    </div>
</div>
<md-divider></md-divider>
<br >
<div layout="row">
    <span flex></span>
    <!-- Left Flex For High Level Data -->
    <div layout="column" flex="25">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    About<span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            <div class="panel-body">
                <!-- Now Lets Put the User Data in these places.  -->
                <p class="" ng-repeat="phone in orgdetail.phones">
                    <i class="fa fa-phone"></i>&nbsp; {{phone.phone_number}}
                    <!--Phone Data Here. Remove dummy One below. Add Plus The Type in -->
                    <a class="btn btn-toolbar pull-right" type="button" ng-click="orgdetail.deletePhone(phone.id)">
                        <i class="fa fa-trash"></i>  
                    </a>  
                    <a class="btn btn-toolbar pull-right" type="button">
                        
                        <i class="fa fa-pencil"></i>
                    </a> 
                </p>  
                <!--Edit Button-->
                <form class="form form-inline"ng-init="addphone = false" ng-show="addphone" ng-submit="orgdetail.addDetail('phone')">
                    <div class="input-group">
                        <input class="form-control" type="tel" ng-model="orgdetail.phone" name="phone"
                               placeholder="add phone"/>
                        <span class="input-group-btn">
                            <button class="btn btn-link" type="submit">
                                <i class="fa fa-save"  title="save"></i>
                            </button>

                            <i class="fa fa-rotate-left" title="go back"></i>&nbsp;
                        </span>
                    </div>


                </form>


                <a addphoneno class="btn btn-link" ng-click="orgdetail.add('phone')" type="button">+Add</a>
                <md-divider></md-divider>
                <p class="" ng-repeat="emails in orgdetail.emails"><i class="fa fa-envelope-square" ></i>&nbsp; 
                    <!--Email Data Here. Remove dummy One below. Add Plus The Type in -->
                    {{emails.email}}
                    <!--Edit Button-->
                    <a class="btn btn-toolbar pull-right" type="button" ng-click="orgdetail.deleteEmail(emails.id)">
                        <i class="fa fa-trash"></i>  
                    </a>
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
                <form class="form form-inline"ng-init="addemail = false" ng-show="addemail" ng-submit="orgdetail.addDetail('email')">
                    <div class="input-group">
                        <input class="form-control" type="email" 
                               ng-model="orgdetail.email" name="email"
                               placeholder="Add email"/>
                        <span class="input-group-btn">
                            <button class="btn btn-link" type="submit">
                                <i class="fa fa-save"  title="save"></i>
                            </button>

                            <i class="fa fa-rotate-left" tutle="go back"></i>&nbsp;
                        </span>
                    </div>


                </form>
                <a addphoneno class="btn btn-toolbar" type="button" ng-click="orgdetail.add('email')">+Add</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Industry
                    <span class="fa fa-cog pull-right"></span>
                </h4>  
            </div>
            <div class="panel-body">
                <p class=""><i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Important Date's Data Here. Remove dummy One below.  -->
                    {{orgdetail.industry.industry}}
                    <!--Edit Button-->
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Dates
                    <span class="fa fa-cog pull-right"></span>
                </h4>
            </div>
            <div class="panel-body">
                <p class="" ng-repeat="date in orgdetail.dates">
                    <i class="fa fa-envelope-square"></i>&nbsp; 
                    <!--Organization Data Here. Remove dummy One below.  -->
                    {{date.date|dateToISO|date:'mediumDate'}} {{date.description}}
                    <!--Edit Button-->
                    <a class="btn btn-link pull-right" type="button" ng-click="orgdetail.deleteDate(date.id)">
                        <i class="fa fa-trash"></i>  
                    </a>
                    <a class="" type="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </p>
              
            </div>
            <md-divider></md-divider>
             <form class="form form-inline col-md-offset-1"ng-init="addDay = false" ng-show="addDay" 
                   ng-submit="orgdetail.addDetail('date')">
                    <div class="input-group">
                        <input required ng-model="orgdetail.description" 
                               type="text" placeholder="Description of date" class="form-control"><br>
                        <input class="form-control" type="date" 
                               ng-model="orgdetail.date" name="date"
                               placeholder="Add date" required class="form-control"/>
                        <br>
                            <button class="btn btn-link" type="submit">
                                <i class="fa fa-save"  title="save"></i>
                            </button>

                            <i class="fa fa-rotate-left" tutle="go back"></i>&nbsp;
                        
                    </div>


                </form>
            <div class="panel-footer">
                <a addphoneno class="btn btn-link" 
                   ng-click="orgdetail.add('date')" type="button">+Add
                </a>

            </div>
        </div>
    </div>
    <span flex></span>
    <!--Right Flex For Tab View with more-->
    <div layout="column" flex="70">
        <div class="panel panel-default">
            <div class="panel-body">

                <md-tabs md-dynamic-height md-border-bottom>               
                    <md-tab label="Opportunities">
                        <md-content class="md-padding">
                            <!--Contact Opportunities Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Tasks">
                        <md-content class="md-padding">
                            <md-list ng-repeat="task in orgdetail.tasks">
                                <!-- ng-repeat your tasks here. Addd filter. -->
                                <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" >
                                    <md-checkbox ng-model="select"></md-checkbox>            
                                    <div class="md-list-item-text" layout="column">
                                        <!-- Task Title or Brief Description. Remove the template title -->
                                        <h3>{{task.name}} </h3>
                                    </div>
                                    <div class="md-list-item-text" layout="column">
                                        <!-- Task Date of Brief Description. Remove the template date -->
                                        <h3>
                                            <i class="fa fa-calendar"></i>{{task.due_date}} </h3>
                                    </div>
                                    <div class="md-list-item-text pull-right" layout="column" >
                                        <input type='hidden' value="" ng-model="name" ng-init="name = cont.id">
                                        <div class="" role="group" >                   
                                            
                                            <button type="button" class="btn btn-default btn-sm" ng-click="tasks.done()">
                                                <i class="fa fa-check"></i>&nbsp; Done</button>

                                            

                                            <button type="button" class="btn btn-danger btn-sm" ng-click="tasks.deleteTask(task.id, $event)">
                                                <i class="fa fa-trash"></i>&nbsp; Delete</button>


                                        </div>
                                    </div>
                                    <md-divider></md-divider>

                                </md-list-item>        
                                <!-- End ng-repeat -->


                            </md-list>
                        </md-content>
                    </md-tab>
                    <md-tab label="Emails">
                        <md-content class="md-padding"> 
                            <!--Contact Opportunities Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Notes">
                        <md-content class="md-padding">                        
                            <!--Contact Notes Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Files">
                        <md-content class="md-padding">                        
                            <!--Contact Files Here -->
                        </md-content>
                    </md-tab>
                    <md-tab label="Activities">
                        <md-content class="md-padding">                        
                            <!--Contact Activities Here -->
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
</div>
