<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-money"></span>&nbsp; Pricing Plans</h4>
        </div>
        <div class="col-md-3 "  ng-show="select">
        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-success pull-right btn-sm" ng-disabled="empty" ng-click="plans.addPlan($event)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp; New Plan</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-change="resetItems()" 
                       ng-model="search" class="form-control" placeholder="Search">
            </div> 
        </form>
    </div>
</div>
<div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected=false'>
            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            
                 <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email</button>  
           
        </div>
    </div>
    <br>
<md-divider></md-divider>
<div ng-if="empty" class="alert alert-warning">
    There are no products added. Please add a product to add a payment plan.
</div>
<div ng-if="!empty" class="main_area">
    <table class="table table-condensed table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Type</th>
                <th>Product</th>
                <th>Deposit</th>
                <th>Installments</th>
                <th>Installment Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-mousemove="show = true" ng-init="show = false" 
                ng-mouseleave="show = false" 
                dir-paginate="p in plans.plans|itemsPerPage:displaynumber|filter:search"
                ng-class="{'bg-red-active':plan.deletedPlan(p.id)}">
                <td><input type="checkbox" ng-model="p.selected"
                       ng-change="$parent.someselected=true"></td>
                <td>
                    <span class="badge bg-green-active" 
                          ng-show="{{plans.getType(p.installment, p.installment_no)}}"> 
                        {{'Cash'}}
                    </span>
                    <span class="badge bg-yellow-active" 
                          ng-hide="{{plans.getType(p.installment, p.installment_no)}}"> 
                        {{'Installment'}}
                    </span>
                </td>
                <td>{{p.name}}</td>
                <td>{{p.deposit}}</td>
                <td>{{p.installment_no}}</td>
                <td>{{p.installment}}</td>
                <td>
                    <span class="badge bg-green-active" 
                           ng-if="p.status==='Active'"> 
                           {{p.status}}
                    </span>                    
                    <span class="badge bg-yellow-active"
                          ng-if="p.status==='Not Active'"> 
                        {{p.status}}
                    </span>
                    <a    class="pull-right" ng-click="plans.editPlan(p.id, $event)">
                        <i class="fa fa-edit">
                            <md-tooltip md-direction="bottom">
                                edit
                            </md-tooltip>
                        </i>&nbsp; 
                    </a> &nbsp; 
                    <a    class="pull-right" ng-click="plans.deletePlan(p.id)"
                            ><i class="fa fa-trash">
                                <md-tooltip md-direction="bottom">
                                  delete
                                </md-tooltip>
                            </i>&nbsp; 
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <dir-pagination-controls 
            class="pull-right" 
            boundary-links="true" 
            on-page-change="pageChangeHandler(newPageNumber)" 
            template-url="../views/dirpagination.html">
        </dir-pagination-controls>
</div>