<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-industry"></span>&nbsp; Inventory</h4>
        </div>
        <div class="col-md-3 "  ng-show="select" >

        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-success pull-right btn-sm" ng-disabled="empty" ng-click="addInventory($event)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp; New Inventory</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div> 
        </form>
    </div>
</div>
<div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected=false'>
            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            
                 <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email</button>  
           
        </div>
    </div>
    <br>
<md-divider></md-divider>
<div ng-if="empty" class="alert alert-warning">
    There are no products added. Please add a product to add an inventory to the product.
</div>
<div ng-if="!empty" class="main_area">
    <table class="table table-condensed table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Property No</th>
                <th>Project</th>
                <th>Product</th>
                <th>Type</th>
                <th>Cash Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-mousemove="show = true" ng-init="show = false" 
                    ng-mouseleave="show = false" 
                    dir-paginate="p_inventory in product_inventories|itemsPerPage:10|filter:search">
                <td><input type="checkbox" ng-model="p_inventory.selected"
                       ng-change="$parent.someselected=true"></td>
                <td>{{p_inventory.property_no}}</td>
                <td>{{p_inventory.project_name}}</td>
                <td>{{p_inventory.name}}</td>
                <td>{{p_inventory.project_type}}</td>
                <td>{{p_inventory.deposit}}</td>
                <td>
                    <span ng-if="p_inventory.status=='Available'" 
                          class="badge bg-green-active">{{p_inventory.status}}
                    </span>
                    <span ng-if="p_inventory.status=='Booked'" 
                          class="badge bg-yellow-active">{{p_inventory.status}}
                    </span>
                    <span ng-if="p_inventory.status=='Sold'" 
                          class="badge bg-red-active">{{p_inventory.status}}
                    </span>
                    <span ng-if="p_inventory.status=='Hot'" 
                          class="badge bg-blue-gradient">{{p_inventory.status}}
                    </span>
                </td>
                <td>
                    <md-menu>
                        <!-- Trigger element is a md-button with an icon -->
                        <span ng-click="$mdOpenMenu($event)" class="fa fa-cog" aria-label="Open sample menu">
                        </span>
                        <md-menu-content width="1">
                          <md-menu-item><md-button ng-click="editInventory($event,p_inventory.id)">Edit</md-button></md-menu-item>
                          <md-menu-item><md-button ng-click="deleteInventory(p_inventory.id)">Delete</md-button></md-menu-item>
                          <md-menu-item><md-button ng-click="doSomething()">Opportunity</md-button></md-menu-item>
                          <md-menu-item><md-button ng-click="doSomething()">Task</md-button></md-menu-item>
                          <md-menu-item><md-button ng-click="pinNote($event,p_inventory.id)">Note</md-button></md-menu-item>
                          <md-menu-item><md-button ng-click="viewMore($event,p_inventory.id)">View More</md-button></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <dir-pagination-controls 
        class="pull-right" 
        boundary-links="true" 
        on-page-change="pageChangeHandler(newPageNumber)" 
        template-url="../views/dirpagination.html">
    </dir-pagination-controls>
</div>