<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-shopping-cart"></span>&nbsp; Products </h4>
        </div>
        <div class="col-md-4 "  ng-show="select" >

        </div>
        <div class="col-md-1 pull-right">
            <button class="btn btn-success pull-right btn-sm" ng-disabled="empty" ng-click="addProduct($event)">
                <i class="fa fa-plus"></i>&nbsp; New Product</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-change="resetItems()" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</div>
<div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected=false'>
            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            
                 <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email</button>  
           
        </div>
    </div>
    <br>
<md-divider></md-divider>
<div ng-if="empty" class="alert alert-warning">
    There are no projects added. Please add a project to add products.
</div>
<div ng-if="!empty" class="main_area">
    <!-- ng-repeat the items here -->
    
    <div dir-paginate="product in products | itemsPerPage:displaynumber|toArray:false|filter:search"
         class="box  collapsed-box list_box"
         ng-init="show = false"
         ng-mouseover="show = true" ng-mouseleave="show = false">
        <div class="box-header with-border"  >
            <div class=" col-md-3 text-muted " > 
                <input type="checkbox" ng-model="product.selected"
                       ng-change="$parent.someselected=true">
                <button class="btn btn-box-tool" ng-click="showProduct(product.id)" data-widget="collapse">
                    <i class="fa fa-plus-circle"></i>
                    <md-tooltip md-direction="bottom">
                        More Details
                    </md-tooltip>
                </button>
                <!--Project Name. Remove the template name -->
                <h4 class="box-title">
                    <b class="text-muted">Project:</b>{{product.project_name}}</h4>
            </div>                
            <div class="col-md-4"> 
                <!-- Product Name -->
                <h4 class="box-title text-muted">
                    {{product.name}}</h4>
            </div>
            <div class="col-md-1">

            </div>
            <div class="box-tools col-md-4 " ng-show="show">
                <div class="pull-right" role="group" >                   
                    <div class="btn-group">                       
                        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-plus"></i>&nbsp; 
                            <span class="caret"></span>
                            <md-tooltip md-direction="bottom">
                                More Actions
                            </md-tooltip>
                        </button>
                        <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                            <li><a type="button" ng-click="pinOpportunity($event, product.id)">Opportunity</a></li>
                            <li><a href="#">Task </a></li>
                            <li><a type="button" ng-click="pinNote($event, product.id)">Note</a></li>
                        </ul>
                    </div>&nbsp; 
                    <button type="button" class="btn btn-default btn-sm" 
                            ng-click="editProduct($event, product.id)">
                        <i class="fa fa-edit"></i>&nbsp;
                        <md-tooltip md-direction="bottom">
                            Edit
                        </md-tooltip>
                    </button>
                    <button type="button" class="btn btn-default btn-sm"
                            ng-click="deleteProduct(product.id)"
                            ><i class="fa fa-trash"></i>&nbsp; 
                        <md-tooltip md-direction="bottom">
                            Delete
                        </md-tooltip>
                    </button>
                </div>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <!-- Begin Product Description here -->
        <div class="box-body" style="display: none;">
            <md-tabs md-dynamic-height md-border-bottom>               
                <md-tab label="Description">
                    <md-content class="md-padding">
                        <h5>
                            <div ng-show="productflag[$index]">
                                <i class="fa fa-shopping-cart"></i>&nbsp; {{product.name}} 
                                <a ng-click="toggleProduct($index)">
                                    <i class="fa fa-pencil">
                                        <md-tooltip md-direction="bottom">
                                            Edit
                                        </md-tooltip>
                                    </i>
                                </a>
                            </div>
                            <div class="row" ng-show="!productflag[$index]">
                                <div class="col-md-2">
                                    <input type="text" 
                                           class="form-control" 
                                           placeholder="Edit Product name"
                                           ng-model="editedproduct[$index]"/>
                                </div>
                                <div class="col-md-2">
                                    <a ng-click="toggleProduct($index)">
                                        <i class="fa fa-undo"></i>
                                        <md-tooltip md-direction="bottom">
                                            Undo
                                        </md-tooltip>
                                    </a>
                                    <a ng-click="editProductName($index, product.id)">
                                        <i class="fa fa-save">
                                            <md-tooltip md-direction="bottom">
                                                Save
                                            </md-tooltip>
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </h5>
                        <div class="row">
                            <h5 class="text-bold">Description</h5>
                        </div>
                        <p>{{product.description}}</p>
                    </md-content>
                </md-tab> 
                <md-tab label="Payment Plans">
                    <md-content class="md-padding">                        
                        <!--Payment plans goes here. -->
                        <md-content class="md-padding">
                            <h5><strong>Cash Option/s</strong></h5>
                            <div ng-repeat="prodcash in product_cash">
                                    <div ng-show="cashflag[$index]" class="row">
                                        <div class="col-sm-4">
                                            {{$index+1}}. Cash: <strong>{{prodcash.deposit| currency:"Ksh":0}}</strong>
                                            <a ng-click="togglecash($index)">
                                                <i class="fa fa-pencil">
                                                    <md-tooltip md-direction="bottom">
                                                        Edit
                                                    </md-tooltip>
                                                </i>
                                            </a>
                                            <a ng-click="deleteCash(prodcash.pay_id)">
                                                <i class="fa fa-trash">
                                                    <md-tooltip md-direction="bottom">
                                                        Delete
                                                    </md-tooltip>
                                                </i>
                                            </a>
                                            <span ng-if="prodcash.status==='Active'" class="badge bg-blue">{{prodcash.status}}</span>
                                            <span ng-if="prodcash.status==='Not Active'" class="badge bg-red">{{prodcash.status}}</span>
                                        </div>
                                    </div>
                                    <div ng-show="!cashflag[$index]">
                                        <div class="form-group">
                                            <input type="text" ng-model="cash[$index]" class="form-control" placeholder="Edit Cash" >
                                            <a ng-click="togglecash($index)">
                                                <i class="fa fa-undo">
                                                    <md-tooltip md-direction="bottom">
                                                        Undo
                                                    </md-tooltip>
                                                </i>
                                            </a>
                                            <a ng-click="editCash($index, prodcash.pay_id)">
                                                <i class="fa fa-save">
                                                    <md-tooltip md-direction="bottom">
                                                        Save
                                                    </md-tooltip>
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <div class="text-primary">+Add</div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <input type="text" ng-model="$parent.newcash" class="form-control input-sm"  placeholder="Amount">
                                </div>
                                <a type="button"><i class="fa fa-save" ng-click="savenewcash()">
                                        <md-tooltip md-direction="bottom">
                                            Save
                                        </md-tooltip>
                                    </i></a>
                            </div>
                            <hr>
                            <h5><strong>Installment Option/s</strong></h5>
                                <div ng-repeat="prodinst in product_installments">
                                    <div ng-show="installflag[$index]" class="row">
                                        <div class="col-sm-1">
                                            {{$index+1}}.Deposit:<strong>{{prodinst.deposit | currency:"Ksh":0}}</strong>
                                        </div>
                                        <div class="col-sm-1 col-sm-offset-1">
                                            Installment:<strong>{{prodinst.installment| currency:"Ksh":0}}</strong>
                                        </div>
                                        <div class="col-sm-2 col-sm-offset-1">
                                            No. of Installments:<strong>{{prodinst.installment_no}}</strong>
                                        </div>
                                        <a ng-click="toggleinstall($index)">
                                            <i class="fa fa-pencil">
                                                <md-tooltip md-direction="bottom">
                                                    Edit
                                                </md-tooltip>
                                            </i>
                                        </a>
                                        <a ng-click="deleteInstall(prodinst.pay_id)">
                                            <i class="fa fa-trash">
                                                <md-tooltip md-direction="bottom">
                                                    Delete
                                                </md-tooltip>
                                            </i>
                                        </a>
                                        <span ng-if="prodinst.status==='Active'" class="badge bg-blue">{{prodinst.status}}</span>
                                        <span ng-if="prodinst.status==='Not Active'" class="badge bg-red">{{prodinst.status}}</span>
                                    </div>
                                    <div ng-show="!installflag[$index]" class="row">
                                                <div class="col-sm-2">
                                                    <input type="text" ng-model="depo[$index]" placeholder="Deposit" class="form-control input-sm">
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="text" ng-model="install[$index]" placeholder="Installment" class="form-control input-sm">
                                                </div>
                                                <div class="col-sm-1">
                                                    <input type="text" ng-model="installno[$index]" placeholder="Installment Number" class="form-control input-sm">
                                                </div>
                                        <a ng-click="toggleinstall($index)"><i class="fa fa-undo">
                                                <md-tooltip md-direction="bottom">
                                                    Undo
                                                </md-tooltip>
                                            </i></a>
                                        <a ng-click="editInstall($index, prodinst.pay_id)"><i class="fa fa-save">
                                                <md-tooltip md-direction="bottom">
                                                    Edit
                                                </md-tooltip>
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            <div class="text-primary">+Add</div>
                            <div class="row">
                                <div class="col-md-2">
                                        <input type="text" ng-model="$parent.newdepo" placeholder="Deposit" class="form-control input-sm">
                                </div>
                                <div class="col-md-2">
                                        <input type="text" 
                                               ng-model="$parent.newinstall" 
                                               placeholder="Installment" class="form-control input-sm">
                                </div>
                                <div class="col-md-2">
                                        <input type="text" 
                                               ng-model="$parent.newinstallno" 
                                               placeholder="Installment Number" class="form-control input-sm">
                                </div>
                                <a ng-click="savenewinstall()"><i class="fa fa-save">
                                        <md-tooltip md-direction="bottom">
                                            Save
                                        </md-tooltip>
                                    </i>
                                </a>
                            </div>
                        </md-content>
                    </md-content>
                </md-tab>
                <md-tab label="Inventory">
                    <md-content>
                        <table class="table table-condensed table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Property No</th>
                                    <th>Project</th>
                                    <th>Product</th>
                                    <th>Type</th>
                                    <th>Cash Price</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-mousemove="show = true" ng-init="show = false" 
                                    ng-mouseleave="show = false" 
                                    pagination-id="inventorypage"
                                    dir-paginate="p_inventory in product_inventories|itemsPerPage:5|filter:search">
                                    <td>{{p_inventory.property_no}}</td>
                                    <td>{{p_inventory.project_name}}</td>
                                    <td>{{p_inventory.name}}</td>
                                    <td>{{p_inventory.project_type}}</td>
                                    <td>{{p_inventory.deposit}}</td>
                                    <td>
                                        <span ng-if="p_inventory.status=='Available'" 
                                              class="badge bg-green-active">{{p_inventory.status}}
                                        </span>
                                        <span ng-if="p_inventory.status=='Booked'" 
                                              class="badge bg-yellow-active">{{p_inventory.status}}
                                        </span>
                                        <span ng-if="p_inventory.status=='Sold'" 
                                              class="badge bg-red-active">{{p_inventory.status}}
                                        </span>
                                        <span ng-if="p_inventory.status=='Hot'" 
                                              class="badge bg-blue-gradient">{{p_inventory.status}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                        <dir-pagination-controls 
                            class="pull-right" 
                            boundary-links="true" 
                            pagination-id="inventorypage"
                            on-page-change="pageChangeHandler(newPageNumber)" 
                            template-url="../views/dirpagination.html">
                        </dir-pagination-controls>
                    </md-content>
                </md-tab>
                <md-tab label="Notes">
                <md-content class="md-padding">
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <input type="number" 
                                   ng-model="$parent.notedisplaynumber" 
                                   class="form-control"
                                   placeholder="item per page"/>
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text"
                                   ng-model="$parent.searchnotes"
                                   ng-change="resetNoteItems()"
                                   class="form-control"
                                   placeholder="Search"/>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-sm btn-success" ng-click="pinNote($event, product.id)">
                                <span class="fa fa-plus"></span>
                                Add Note
                            </button>
                        </div>
                    </div>
                    <div class="box  collapsed-box list_box"
                         dir-paginate="notes in product_notes | 
                                     itemsPerPage: notedisplaynumber|filter:$parent.searchnotes"
                         pagination-id="not"
                         ng-init="show = false"
                         ng-mouseover="show = true" ng-mouseleave="show = false">
                        <div class="box-header with-border"  >
                            <div class=" col-md-4 text-muted " > 
                                <button class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <h4 class="box-title">
                                    <span class="fa fa-commenting">&nbsp; </span>{{notes.note| characters:15}}</h4></div>
                            <div class="col-md-3 ">
                                Owner: <span class="badge">{{notes.name}}</span>
                            </div>
                            <div class="box-tools col-md-4 " ng-show="show">
                                <div class="pull-right" role="group" > 
                                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteNote(notes.note_id)" 
                                            ><i class="fa fa-trash"></i>&nbsp; </button>
                                </div>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: none;">
                            <div ng-show="editnoteflag[$index]">
                                <div class="col-md-1">Note</div>
                                <div class="col-md-1">
                                    <span class="fa fa-pencil" ng-click="toggleNoteFlag($index)">
                                        <md-tooltip md-direction="bottom">
                                            Edit
                                        </md-tooltip>
                                    </span>
                                </div>
                                <div class="col-md-12">{{notes.note}}</div>
                            </div>
                            <div ng-show="!editnoteflag[$index]" class="row">
                                <div class="form-group">
                                    <textarea class="col-md-offset-1 col-md-8" 
                                              ng-model="note[$index]">
                                    </textarea>
                                    <div class="col-md-1">
                                        <span class="fa fa-2x fa-undo"
                                              ng-click="toggleNoteFlag($index)">
                                            <md-tooltip md-direction="bottom">
                                                Undo
                                            </md-tooltip>
                                        </span>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="fa fa-2x fa-save"
                                              ng-click="editNote($index, notes.note_id)">
                                            <md-tooltip md-direction="bottom">
                                                Save change
                                            </md-tooltip>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                    <dir-pagination-controls 
                        class="pull-right"
                        pagination-id="not"
                        boundary-links="true"
                        on-page-change="pageChangeHandler(newPageNumber)" 
                        template-url="../views/dirpagination.html">
                    </dir-pagination-controls>
                </md-content>
            </md-tab>
            </md-tabs>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
    <dir-pagination-controls 
        class="pull-right" 
        boundary-links="true"
        on-page-change="pageChangeHandler(newPageNumber)" 
        template-url="../views/dirpagination.html">
    </dir-pagination-controls>
</div>
