<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-cogs"></span>&nbsp; Projects </h4>
        </div>
        <div class="col-md-4 "  ng-show="select" >
            <div class="" role="group" >                   
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i>&nbsp; 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                        <li><a >Opportunity</a></li>
                        <li><a >Task </a></li>
                        <li><a >Note</a></li>
                    </ul>
                </div>&nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="contact.edit($event, cont.id)">
                    <i class="fa fa-edit"></i>&nbsp; </button> &nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="contact.delete(cont.id)" 
                        onclick="if (!confirm('Are you sure you want to delete this contact?')) {
                                    return false;
                                }"><i class="fa fa-trash"></i>&nbsp; </button>

            </div>
        </div>
        <div class="col-md-1 pull-right">
            <button class="btn btn-success pull-right btn-sm" ng-click="projects.addNew($event)">
                <i class="fa fa-plus"></i>&nbsp; New Project</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control"
                       placeholder="Items per page" >
            </div>
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</div>
<div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected=false'>
            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            
                 <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email</button>  
           
        </div>
    </div>
    <br>
<md-divider></md-divider>

<div class="main_area">
    <div class="box  collapsed-box list_box" ng-repeat="project in projects.projects"
         ng-init="show = false"
         ng-mouseover="show = true" ng-mouseleave="show = false">
        <div class="box-header with-border"  >
            <div class=" col-md-3 text-muted " > 
                <input type="checkbox" ng-model="project.selected"
                       ng-change="$parent.someselected=true">
                <button class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus-circle"></i>
                    <md-tooltip>More details</md-tooltip>
                </button>
                <h4 class="box-title">
                    {{project.name}}</h4></div>                
            <div class="col-md-2">

                <span class="badge bg-teal">{{project.project_type}}</span>
            </div>
            <div class="col-md-3 ">
                <span class="badge">{{project.tenant_type}}</span> |
                Units: <span class="badge">{{project.units_no}}</span>
            </div>
            <div class="box-tools col-md-4 " ng-show="show">
                <div class="pull-right" role="group" >                   
                    <div class="btn-group">                       
                        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-plus"></i>&nbsp; 
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">

                            <li><a >Task </a></li>
                            <li><a ng-click="pinNote($event, project.id)">Note</a></li>
                        </ul>
                    </div>&nbsp; 
                    <button type="button" class="btn btn-default btn-sm" ng-click="projects.edit($event, project.id)">
                        <i class="fa fa-edit"></i>&nbsp; </button> &nbsp; 
                    <button type="button" class="btn btn-default btn-sm" ng-click="projects.delete(project.id)" 
                            ><i class="fa fa-trash"></i>&nbsp; </button>                    

                </div>


            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body" style="display: none;">
            <md-tabs md-dynamic-height md-border-bottom>               
                <md-tab label="Description">
                    <md-content class="md-padding">
                        <div class="col-md-12">Description</div>
                        <div class="col-md-12">{{project.description}}</div>
                    </md-content>
                </md-tab>
                <md-tab label="Products">
                    <md-content class="md-padding">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Product name</th>
                                                <th>Cash value</th>
                                                <th>Deposit</th>
                                                <th>Installments number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr ng-repeat="product in projects.getProducts(project.id)">
                                                    <td><h5><a href="/#/dashboard/products/{{product.description}}">{{product.name}}</a></h5></td>
                                                    <td ng-repeat="cash in projects.getCash(product.id)"><span class="badge bg-aqua-active">{{cash.deposit| currency:"KES ":0}}</span></td>
                                                    <td ng-repeat="inst in projects.getInstallments(product.id)"><span class="badge bg-aqua-active">{{inst.installment| currency:"KES ":0}}</span></td>
                                                    <td ng-repeat="installment in projects.getInstallments(product.id)">{{installment.installment_no}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> 
                            </div>
                        </div>
                    </md-content>
                </md-tab> 
                <md-tab label="Notes">
                    <md-content class="md-padding">
                        <div class="row">
                            <div class="form-group col-sm-5">
                                <input type="number" 
                                       ng-model="notedisplaynumber" 
                                       class="form-control"
                                       placeholder="item per page"/>
                            </div>
                            <div class="form-group col-sm-5">
                                <input type="text"
                                       ng-change="$parent.resetNoteItems()"
                                       ng-model="search" 
                                       class="form-control"
                                       placeholder="Search"/>
                            </div>
                        </div>
                        <div class="box  collapsed-box list_box"
                             dir-paginate="notes in projects.getNotes(project.id) | 
                             itemsPerPage: notedisplaynumber|filter:search"
                             pagination-id="notepage"
                             ng-init="show = false"
                             ng-mouseover="show = true" ng-mouseleave="show = false">
                            <div class="box-header with-border"  >
                                <div class=" col-md-4 text-muted " > 
                                    <button class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                    <h4 class="box-title">
                                        <span class="fa fa-commenting">&nbsp; </span>{{notes.note| characters:15}}</h4></div>
                                <div class="col-md-3 ">
                                    Owner: <span class="badge">{{notes.name}}</span>
                                </div>
                                <div class="box-tools col-md-4 " ng-show="show">
                                    <div class="pull-right" role="group" > 
                                        <button type="button" class="btn btn-default btn-sm" ng-click="deleteNote(notes.note_id)" 
                                                ><i class="fa fa-trash"></i>&nbsp; </button>
                                    </div>
                                </div><!-- /.box-tools -->
                            </div><!-- /.box-header -->
                            <div class="box-body" style="display: none;">
                                <div>
                                    <div class="col-md-1">Note</div>
                                    <div class="col-md-1">
                                        <span class="fa fa-pencil" ng-click="editNote($event, notes.note_id)">
                                            <md-tooltip md-direction="bottom">
                                                Edit
                                            </md-tooltip>
                                        </span>
                                    </div>
                                    <div class="col-md-12">{{notes.note}}</div>
                                </div>
                            </div><!-- /.box-body -->
                        </div>
                        <dir-pagination-controls 
                            class="pull-right"
                            pagination-id="notepage"
                            boundary-links="true"
                            on-page-change="pageChangeHandler(newPageNumber)" 
                            template-url="../views/dirpagination.html">
                        </dir-pagination-controls>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div><!-- /.box-body -->
    </div><!-- /.box -->


</div>

