<form class="form well"  ng-submit="sendMail()">
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">From</label>
            <input type="text" class="form-control" ng-model="currentUser.email" placeholder="From" required readonly>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">To</label>
            <select class="form-control" ng-model="to" required>
                <option value="">Choose recepient email</option>
                <option ng-repeat="email in emails"  value="{{email.email}}">{{email.email}}</option>
            </select>

        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">Subject</label>
            <input type="text" class="form-control" ng-model="subject" placeholder="subject" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <textarea class="form-control" placeholder="message" required ng-model="message">
                Your message here
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group-sm col-sm-12">
            <br>
            <button class="btn btn-default btn-sm" ngf-select="uploadFiles($files, $invalidFiles)" ngf-multiple="true"
                    accept="" ngf-max-height="1000" ngf-max-size="2MB">
                <i class="fa fa-paperclip"></i> Attach</button>
            <br>
            Files:
            <ul>
                <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
                    <!--                                <span class="progress" ng-show="f.progress >= 0">
                                                        <div style="width:{{f.progress}}%"  
                                                             ng-bind="f.progress + '%'"></div>
                                                    </span>-->
                    <div class="progress" ng-show="f.progress >= 0">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{f.progress}}%">
                            <span class="sr-only" ng-bind="f.progress + '%'"></span>
                        </div>
                    </div>
                </li>
                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                </li> 
            </ul>
            {{errorMsg}}
        </div>
    </div> 
    <div class="row">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>

