<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-tasks"></span>&nbsp;  Tasks </h4>
        </div>
        <div class="col-md-2 "  >
            <form class="form-inline"  >
                <md-select ng-model="filtered" 
                           placeholder="Filter by priority" ng-change="filter()">
                    <md-option ng-repeat="s in priority" ng-value="s.type" 
                               >{{ s.type}}
                    </md-option>
                </md-select>
            </form>
        </div>
        <div class="col-md-1 pull-right">
            <button class="btn btn-success pull-right btn-sm"  ng-click="tasks.addTask($event)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp; New Task</button>
        </div>
        <form class="form-inline col-md-5 pull-right"  >            
            <div class="form-group">
                <input type="number" ng-model="displayNumber" class="form-control
                       " placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-change="resetItems()" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
    </div>
</div>
<div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected=false'>
            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            
                 <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email</button>  
           
        </div>
    </div>
    <br>
<!-- Have your code for the add Task View above ^^^^^-->
<md-divider></md-divider>




<div class="box  collapsed-box list_box"
     dir-paginate="task in tasks.tasks|itemsPerPage:displayNumber|filter:search|filter:filtered"
     pagination-id='tasks'
     ng-init="show = false"
     ng-mouseover="show = true" ng-mouseleave="show = false">
    <div class="box-header with-border"  >

        <div class=" col-md-3 text-muted " > 
            <input type="checkbox" ng-model="task.selected"
                       ng-change="$parent.someselected=true">
            <button class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus-circle"></i>
                <md-tooltip>More details</md-tooltip>
            </button>
            <!--Project Name. Remove the template name -->
            <h5 class="box-title">
                <!--                <a href="/#/dashboard/organizations/{{cont.id}}">{{cont.name}}</a> -->
                {{task.name}}</h5>
        </div>  
        <div class="col-md-2">
            <h5><i class="fa fa-calendar"></i> start :{{task.start_date|dateToISO|date:'mediumDate'}}</h5>
        </div>
        <div class="col-md-1" ng-if="task.status !== 'Done'">
            <span ng-if="task.type === 'HIGH'" class="badge bg-red-gradient">HIGH</span>
            <span ng-if="task.type === 'MEDIUM'" class="badge bg-orange-gradient">MEDIUM</span>
            <span ng-if="task.type === 'LOW'" class="badge bg-green-gradient">LOW</span>
        </div>
        <div class="col-md-2" ng-if="task.status !== 'Done'">
            <button class="btn btn-sm btn-primary " ng-click="tasks.isDone(task.id)"><span class="fa fa-thumbs-up"></span> Mark as done</button>
        </div>
        <div class="col-md-2" ng-if="task.status === 'Done'">
            <span class="badge bg-navy-active"><i class="fa fa-thumbs-up"> </i> DONE</span>
        </div>
        <div class="box-tools col-md-2 " ng-show="show">
            <div class="pull-right" role="group" >                   
                <div class="btn-group">                       
                    <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="contactsMore" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i>&nbsp; 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right inline_dropdown" aria-labelledby="contactsMore">
                        <li><a type="button" ng-click="pinNote($event, task.id)">Note</a></li>
                        <li><a ng-click="tasks.pin('opportunity', task.id, $index)">Opportunity</a></li>
                        <li><a  ng-click="tasks.pin('customer', task.id, $index)">Customer</a></li>
                        <li><a  ng-click="tasks.pin('lead', task.id, $index)">Prospect </a></li>
                        <li><a  ng-click="tasks.pin('organization', task.id, $index)">Organization</a></li>
                        <li><a type="button" ng-click="pinDocument($event, task.id)">Document</a></li>
                    </ul>
                </div>&nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="tasks.editTask(task.id, $event)">
                    <i class="fa fa-edit"></i>&nbsp; </button> &nbsp; 
                <button type="button" class="btn btn-default btn-sm" ng-click="tasks.deleteTask(task.id, $event)" 
                        ><i class="fa fa-trash"></i>&nbsp; </button>


            </div>


        </div>
        <div class="row">

            <form class="form form-inline pull-right" ng-submit="tasks.pinned(tasks.object)"  ng-show="tasks.view[$index]">
                <label>Pin to {{tasks.object}}:</label>
                <div class="input-group">
                    <select class="form-control" ng-model="tasks.object_id">
                        <option ng-if="tasks.object == 'organization'" ng-repeat="organ in tasks.organizations" value="{{organ.id}}">{{organ.name}}</option>
                        <option ng-if="tasks.object == 'customer'" ng-repeat="organ in tasks.contacts" value="{{organ.id}}">{{organ.firstname}} {{organ.lastname}}</option>
                        <option ng-if="tasks.object == 'prospect'" ng-repeat="organ in tasks.leads" value="{{organ.id}}">{{organ.firstname}} {{organ.lastname}}</option>
                        <option ng-if="tasks.object == 'opportunity'" ng-repeat="organ in tasks.opportunities" value="{{organ.id}}">{{organ.name}}</option>
                    </select>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-pinterest"></i> </button>
                    </div>
                </div>

            </form>

        </div>
    </div><!-- /.box-header -->
    <!-- Begin Product Description here -->
    <div class="box-body" style="display: none;">
        <md-tabs md-dynamic-height md-border-bottom>               
            <md-tab label="Summary">
                <md-content class="md-padding">
                    <div class="col-md-10">
                        <h5 class="text-bold">Reminder</h5>
                        <p ng-if="task.reminder" >
                            <i class="fa fa-clock-o"></i> {{task.reminder|dateToISO|date:'medium'}}
                        </p>
                        <div class="row">

                        </div>
                        <h5 class="text-bold">Type</h5>
                        <p> {{task.Type}} </p>
                    </div>
                    <div class="col-md-2">

                        <h5 class="text-bold text-center">Owner(s) Name</h5>
                        <p class='text-center pull-right'>
                            <img class="img img-circle text-center" 
                                 height="40" width="40" 
                                 src="http://www.radiantgeek.com/images/rgAvatar.png"/><br>
                        <p ng-repeat="owner in tasks.getOwners(task.id)">{{owner.name}}
                        </p>
                    </div>



                </md-content>
            </md-tab> 
            <md-tab label="Opportunities {{tasks.getCount(task.id, 'opportunities')}}">
                <md-content class="md-padding">                        
                    <md-list>
                        <!-- Repeat the contacts in here -->
                        <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" dir-paginate="cont in tasks.getOp(task.id) | itemsPerPage:4"
                                      pagination-id="op">

                            <div class="md-list-item-text" layout="column">


                                <h4>

                                    <a >{{cont.name}}</a></h4>
                                <!-- User Organization -->


                            </div>


                            <md-divider></md-divider>
                        </md-list-item>        
                        <!-- End ng-repeat -->
                        <dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../views/dirpagination.html"
                                                 pagination-id="op">

                        </dir-pagination-controls>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Organizations {{tasks.getCount(task.id, 'organization')}}">
                <md-content class="md-padding">                        
                    <md-list>
                        <!-- Repeat the contacts in here -->
                        <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" dir-paginate="cont in tasks.getOrg(task.id) | itemsPerPage:4"
                                      pagination-id="org">

                            <div class="md-list-item-text" layout="column">


                                <h4>

                                    <a >{{cont.orgname}}</a></h4>
                                <!-- User Organization -->


                            </div>


                            <md-divider></md-divider>
                        </md-list-item>        
                        <!-- End ng-repeat -->
                        <dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../views/dirpagination.html"
                                                 pagination-id="org">

                        </dir-pagination-controls>
                    </md-list>
                </md-content>

            </md-tab>
            <md-tab label="Customers {{tasks.getCount(task.id, 'contacts')}}">
                <md-content class="md-padding">                        
                    <md-list>
                        <!-- Repeat the contacts in here -->
                        <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" dir-paginate="cont in tasks.getCustomers(task.id) | itemsPerPage:displaynumber|filter:search"
                                      pagination-id="customers">

                            <div class="md-list-item-text" layout="column">


                                <h4>

                                    <a >{{cont.firstname + ' ' + cont.lastname}}</a></h4>
                                <!-- User Organization -->


                            </div>


                            <md-divider></md-divider>
                        </md-list-item>        
                        <!-- End ng-repeat -->
                        <dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../views/dirpagination.html"
                                                 pagination-id="customers">

                        </dir-pagination-controls>
                    </md-list>


                </md-content>
            </md-tab>
            <md-tab label="Prospects {{tasks.getCount(task.id, 'prospects')}}"
                    >
                <md-content class="md-padding">                        
                    <md-list>
                        <!-- Repeat the contacts in here -->
                        <md-list-item class="md-2-line" ng-mousemove="show = true" ng-init="show = false" ng-mouseleave="show = false" dir-paginate="cont in tasks.getLeads(task.id) | itemsPerPage:4"
                                      pagination-id="lead">

                            <div class="md-list-item-text" layout="column">


                                <h4>

                                    {{cont.firstname + ' ' + cont.lastname}}</h4>
                                <!-- User Organization -->


                            </div>


                            <md-divider></md-divider>
                        </md-list-item>        
                        <!-- End ng-repeat -->
                        <dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../views/dirpagination.html"
                                                 pagination-id="lead">

                        </dir-pagination-controls>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Notes">
                <md-content class="md-padding">
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <input type="number" 
                                   ng-model="notedisplaynumber" 
                                   class="form-control"
                                   placeholder="item per page"/>
                        </div>
                        <div class="form-group col-sm-5">
                            <input type="text"
                                   ng-change="resetNoteItems()"
                                   ng-model="search" 
                                   class="form-control"
                                   placeholder="Search"/>
                        </div>
                    </div>
                    <div class="box  collapsed-box list_box"
                         dir-paginate="notes in tasks.getNotes(task.id) | 
                         itemsPerPage: notedisplaynumber|filter:search"
                         pagination-id="notepage"
                         ng-init="show = false"
                         ng-mouseover="show = true" ng-mouseleave="show = false">
                        <div class="box-header with-border"  >
                            <div class=" col-md-4 text-muted " > 
                                <button class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <h4 class="box-title">
                                    <span class="fa fa-commenting">&nbsp; </span>{{notes.note| characters:15}}</h4></div>
                            <div class="col-md-3 ">
                                Owner: <span class="badge">{{notes.name}}</span>
                            </div>
                            <div class="box-tools col-md-4 " ng-show="show">
                                <div class="pull-right" role="group" > 
                                    <button type="button" class="btn btn-default btn-sm" ng-click="deleteNote(notes.note_id)" 
                                            ><i class="fa fa-trash"></i>&nbsp; </button>
                                </div>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body" style="display: none;">
                            <div>
                                <div class="col-md-1">Note</div>
                                <div class="col-md-1">
                                    <span class="fa fa-pencil" ng-click="editNote($event, notes.note_id)">
                                        <md-tooltip md-direction="bottom">
                                            Edit
                                        </md-tooltip>
                                    </span>
                                </div>
                                <div class="col-md-12">{{notes.note}}</div>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                    <dir-pagination-controls 
                        class="pull-right"
                        pagination-id="notepage"
                        boundary-links="true"
                        on-page-change="pageChangeHandler(newPageNumber)" 
                        template-url="../views/dirpagination.html"
                        pagination-id="notepage">
                    </dir-pagination-controls
                </md-content>
            </md-tab>
            <md-tab label="Documents">
                <div class="container">
                    <div class="col-md-5">
                        <ul class="list-group" >
                            <li class="list-group-item"
                                dir-paginate="docs in getDocuments(task.id) 
                                | itemsPerPage:4|filter:searchdocs"
                                pagination-id="docspage">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a target="_blank" href="{{docs.path}}">
                                            {{docs.document_name}}
                                            <md-tooltip md-direction="bottom">
                                                Click to open
                                            </md-tooltip>
                                        </a>
                                    </div> 
                                    <div class="col-sm-6">
                                        <button class="btn btn-danger btn-sm" ng-click="deleteDoc(docs.id)">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </md-tab>
        </md-tabs>            
    </div> 
</div>
<dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../views/dirpagination.html"
                         pagination-id='tasks'></dir-pagination-controls>
