<!-- Logo -->
<a href="#" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>BSK</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Real</b>App</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a ng-click="toggleMenu()" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="messenger">
                        <md-tooltip>
                            Communication
                        </md-tooltip>
                        <i class="fa fa-envelope-o" class="top_menu_icons" ></i></a></li>
                <li>
                <md-tooltip>
                    Calendar
                </md-tooltip>
                <li class="mydropdown">
                    <a ui-sref="users.calender" class="dropdown-toggle" data-toggle="mydropdown" role="button" aria-haspopup="true" aria-expanded="false">

                        <span class="fa fa-calendar">
                            <sup  class="notify">{{user.events.length}}</sup>
                        </span></a>
                    <ul class="dropdown-menu" >
                        <li><h4 style="text-align: center">Events today</h4></li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat='event in user.events' ><a ui-sref='users.calender'>{{event.title}}</a></li>

                    </ul>
                </li>

                <li class="mydropdown">
                    <a ui-sref="users.tasks" class="dropdown-toggle" data-toggle="mydropdown" role="button" aria-haspopup="true" aria-expanded="false">

                        <span class="fa fa-tasks">
                            <sup  class="notify">{{user.tasks.length}}</sup>
                        </span></a>
                    <ul class="dropdown-menu" >
                        <li><h4 style="text-align: center">Tasks today</h4></li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat='task in user.tasks' ><a href="/#/dashboard/tasks/{{task.name}}">{{task.name}} </a></li>

                    </ul>
                </li>
                <li class="mydropdown">
                    <a  class="dropdown-toggle" data-toggle="mydropdown" role="button" aria-haspopup="true" aria-expanded="false">

                        <span class="fa fa-bell-o">
                            <sup class="notify" >{{user.orgdates.length+user.ldates.length+user.cdates.length}}</sup>
                        </span></a>
                    <ul class="dropdown-menu">
                        <li><h4 style="text-align: center">Dates today</h4></li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat="date in user.orgdates" ><a href="/#/dashboard/organizations/{{date.name}}">{{date.description}} </a></li>
                        <li ng-repeat="date in user.ldates" ><a href="/#/dashboard/leads/{{date.firstname}}">{{date.description}} </a></li>
                        <li ng-repeat="date in user.cdates" ><a href="/#/dashboard/contacts/{{date.firstname}}">{{date.description}} </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="img img-circle toolbar_img text-center left" src="http://www.radiantgeek.com/images/rgAvatar.png"/>
                        {{currentUser.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="profile"><i class="fa fa-user"></i>&nbsp; Profile</a></li>
                        <li><a ui-sref="settings"><i class="fa fa-cog"></i>&nbsp; Settings</a></li>
                        <li><a ui-sref="payments"><i class="fa fa-money"></i>&nbsp; Payments</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="user.logout()" class="btn btn-link">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script>
    $(function () {
        $(".mydropdown").hover(
                function () {
                    $(this).addClass('open')
                },
                function () {
                    $(this).removeClass('open')
                }
        );
        
    });
</script>