<div class="row top_header_content_menu" >
    <div>
        <div class="col-md-2">
            <h4 class="main_content_header" ng-model="content_head"> 
                <span class="fa fa-money"></span>&nbsp; Transactions </h4>
        </div>
        <div class="col-md-2 pull-right">
            <md-menu>
                <button class="btn btn-success pull-right btn-sm" ng-click="$mdOpenMenu($event)">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp; New Transaction
                </button>
                <md-menu-content width="1">
                    <md-menu-item>
                        <md-button ng-disabled="emptyinvoice" ng-click="addInvoice($event)">Invoice</md-button>    
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="emptyreceipt" ng-click="addReceipt($event)">Receipt</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="addCredit($event)">Credit Note</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="addDebit($event)">Debit Note</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <form class="form-inline col-md-5 pull-right"  >
            <div class="form-group">
                <input type="number" ng-model="displaynumber" class="form-control
                       " placeholder="Items per page" value="5" min="1">
            </div>
            <div class="form-group">
                <input type="text" ng-model="search" 
                       class="form-control"
                       ng-change="resetItems()"
                       placeholder="Search">
            </div>
        </form>
    </div>
</div>
<div class="row">
        <div class="col-sm-2 col-sm-offset-1" ng-init='someselected=false'>
            <input type="checkbox" class="pull-left"  ng-model="selectAll" ng-change="checkAll()">Check all
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            With selected :
        </div>
        <div class="col-sm-2" ng-show="selectAll || someselected">
            
                 <button class="btn btn-danger btn-sm" ng-click="deleteSome()"><i class="fa fa-trash"></i> Delete</button>
                <button class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Email</button>  
           
        </div>
    </div>
    <br>
<md-divider></md-divider>
<div class="main_area">
    <md-tabs md-dynamic-height md-border-bottom>               
        <!--        <md-tab label="All">
                    <md-content class="md-padding">
                        <table class="table table-condensed table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Customer </th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-mousemove="show = true" ng-init="show = false" 
                                    ng-mouseleave="show = false" 
                                    dir-paginate="invoice in invoices | itemsPerPage:2|filter:search"
                                    ng-class="{'bg-red-active':plan.deletedPlan(p.id)}">
                                    <td>
                                        <span class="badge bg-green-active" 
                                              ng-show="true"> 
                                            {{'Debit'}}
                                        </span>
        
                                    </td>
                                    <td>{{invoice.firstname}} {{invoice.lastname}}</td>
                                    <td>{{invoice.due_date}}</td>
                                    <td>{{invoice.name}}</td>
                                    <td>{{invoice.total}}</td>
                                    <td > 
                                        <md-menu >
                                             Trigger element is a md-button with an icon 
                                            <span ng-click="$mdOpenMenu($event)" class="fa fa-cog" aria-label="Open sample menu">
                                            </span>
                                            <md-menu-content width="1">
                                                <md-menu-item><md-button ng-click="editInventory($event, p_inventory.id)"> 
                                                        <span class="fa fa-edit">&nbsp; </span>Edit</md-button></md-menu-item>
                                                <md-menu-item><md-button ng-click="deleteInventory(p_inventory.id)">
                                                        <span class="fa fa-trash">&nbsp; </span>Delete</md-button></md-menu-item>
                                                <md-menu-item><md-button ng-click="doSomething()">
                                                        <span class="fa fa-link">&nbsp; </span>Opportunity</md-button></md-menu-item>
                                                <md-menu-item><md-button ng-click="doSomething()">
                                                        <span class="fa fa-tasks">&nbsp; </span>Task</md-button></md-menu-item>
                                                <md-menu-item><md-button ng-click="doSomething()">
                                                        <span class="fa fa-book">&nbsp; </span>Note</md-button></md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </td>
                            </tr>
        
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Type</th>
                                    <th>Customer </th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </md-content>
                </md-tab>-->
        <md-tab label="Invoices">
            <div ng-if="emptyinvoice" class="alert alert-warning">
                There are no opportunities won.
            </div>
            <md-content ng-if="!emptyinvoice">
                <md-tabs md-dynamic-height md-border bottom>
                    <md-tab label="Customers">
                        <table class="table table-condensed table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Invoice_No</th>
                                    <th>Customer </th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-mousemove="show = true" ng-init="show = false" 
                                    ng-mouseleave="show = false" 
                                    dir-paginate="invoice in invoices | itemsPerPage:displaynumber|filter:search"
                                    pagination-id="invoicepage"
                                    ng-class="{'bg-red-active':plan.deletedPlan(p.id)}">
                                    <td>
                                        <span class="badge bg-green-active" 
                                              ng-show="true"> 
                                            {{'Debit'}}
                                        </span>
                                    </td>
                                    <td>{{invoice.invoice_no}}</td>
                                    <td>{{invoice.firstname}} {{invoice.lastname}}</td>
                                    <td>{{invoice.due_date}}</td>
                                    <td>{{invoice.name}}</td>
                                    <td>{{invoice.total}}</td>
                                    <td > 
                            <md-menu >
                                <!-- Trigger element is a md-button with an icon -->
                                <span ng-click="$mdOpenMenu($event)" class="fa fa-cog" aria-label="Open sample menu">
                                </span>
                                <md-menu-content width="1">
                                    <md-menu-item><md-button ng-click="editInvoice($event, invoice.id)"> 
                                            <span class="fa fa-edit">&nbsp; </span>Edit</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="deleteInvoice(invoice.id, $event)">
                                            <span class="fa fa-trash">&nbsp; </span>Delete</md-button>
                                    </md-menu-item>
                                    <md-menu-item><md-button ng-click="doSomething()">
                                            <span class="fa fa-tasks">&nbsp; </span>Task</md-button>
                                    </md-menu-item>
                                    <md-menu-item><md-button ng-click="pinInvoiceNote($event, invoice.id)">
                                            <span class="fa fa-book">&nbsp; </span>Note</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="generateInvoice(invoice.id)">
                                            <span class="fa fa-print">&nbsp; </span>Generate</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            </td>
                            </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Type</th>
                                    <th>Customer </th>
                                    <th>Invoice_No</th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                        <dir-pagination-controls 
                            class="pull-right" 
                            boundary-links="true" 
                            pagination-id="invoicepage"
                            on-page-change="pageChangeHandler(newPageNumber)" 
                            template-url="../views/dirpagination.html">
                        </dir-pagination-controls>
                    </md-tab>
                    <md-tab label="Organizations">
                        <table class="table table-condensed table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Invoice_No</th>
                                    <th>Organization</th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-mousemove="show = true" ng-init="show = false" 
                                    ng-mouseleave="show = false" 
                                    dir-paginate="invoice in orginvoices | itemsPerPage:displaynumber|filter:search"
                                    pagination-id="orginvoicepage"
                                    ng-class="{'bg-red-active':plan.deletedPlan(p.id)}">
                                    <td>
                                        <span class="badge bg-green-active" 
                                              ng-show="true"> 
                                            {{'Debit'}}
                                        </span>
                                    </td>
                                    <td>{{invoice.invoice_no}}</td>
                                    <td>{{invoice.org_name}}</td>
                                    <td>{{invoice.due_date}}</td>
                                    <td>{{invoice.name}}</td>
                                    <td>{{invoice.total}}</td>
                                    <td > 
                            <md-menu >
                                <!-- Trigger element is a md-button with an icon -->
                                <span ng-click="$mdOpenMenu($event)" class="fa fa-cog" aria-label="Open sample menu">
                                </span>
                                <md-menu-content width="1">
                                    <md-menu-item><md-button ng-click="editInvoice($event, invoice.id)"> 
                                            <span class="fa fa-edit">&nbsp; </span>Edit</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="deleteInvoice(invoice.id, $event)">
                                            <span class="fa fa-trash">&nbsp; </span>Delete</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="doSomething()">
                                            <span class="fa fa-tasks">&nbsp; </span>Task</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="pinInvoiceNote($event, invoice.id)">
                                            <span class="fa fa-book">&nbsp; </span>Note</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="generateOrgInvoice(invoice.id)">
                                            <span class="fa fa-print">&nbsp; </span>Generate</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            </td>
                            </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Type</th>
                                    <th>Organization </th>
                                    <th>Invoice_No</th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                        <dir-pagination-controls 
                            class="pull-right" 
                            boundary-links="true" 
                            pagination-id="orginvoicepage"
                            on-page-change="pageChangeHandler(newPageNumber)" 
                            template-url="../views/dirpagination.html">
                        </dir-pagination-controls>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-tab>
        <md-tab label="Receipts">
            <div ng-if="emptyreceipt" class="alert alert-warning">
                There are no invoices or opportunities closed/won.
            </div>
            <md-content ng-if="!emptyreceipt">
                <md-tabs>
                    <md-tab label="Customers">
                        <table class="table table-condensed table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Receipt_No</th>
                                    <th>Customer </th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Payment_mode</th>
                                    <th>Reason</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-mousemove="show = true" ng-init="show = false" 
                                    ng-mouseleave="show = false" 
                                    dir-paginate="receipt in receipts | itemsPerPage:displaynumber|filter:search"
                                    pagination-id="receiptpage"
                                    ng-class="{'bg-red-active':plan.deletedPlan(p.id)}">
                                    <td>
                                        <span class="badge bg-green-active" 
                                              ng-show="true"> 
                                            {{'Debit'}}
                                        </span>

                                    </td>
                                    <td>{{receipt.receipt_no}}</td>
                                    <td>{{receipt.firstname}} {{receipt.lastname}}</td>
                                    <td>{{receipt.receipt_date}}</td>
                                    <td>{{receipt.name}}</td>
                                    <td>{{receipt.amount}}</td>
                                    <td>{{receipt.payment_mode}}</td>
                                    <td>{{receipt.payment_reason}}</td>
                                    <td > 
                            <md-menu >
                                <!-- Trigger element is a md-button with an icon -->
                                <span ng-click="$mdOpenMenu($event)" class="fa fa-cog" aria-label="Open sample menu">
                                </span>
                                <md-menu-content width="1">
                                    <md-menu-item><md-button ng-click="editReceipt($event, receipt.id)"> 
                                            <span class="fa fa-edit">&nbsp; </span>Edit</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="deleteReceipt(receipt.id, $event)">
                                            <span class="fa fa-trash">&nbsp; </span>Delete</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="doSomething()">
                                            <span class="fa fa-tasks">&nbsp; </span>Task</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="pinReceiptNote($event, receipt.id)">
                                            <span class="fa fa-book">&nbsp; </span>Note</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="generateReceipt(receipt.id)">
                                            <span class="fa fa-print">&nbsp; </span>Generate</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            </td>
                            </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Type</th>
                                    <th>Customer </th>
                                    <th>Receipt_No</th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Payment_mode</th>
                                    <th>Reason</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                        <dir-pagination-controls 
                            class="pull-right" 
                            boundary-links="true" 
                            pagination-id="receiptpage"
                            on-page-change="pageChangeHandler(newPageNumber)" 
                            template-url="../views/dirpagination.html">
                        </dir-pagination-controls>
                    </md-tab>
                    <md-tab label="Organizations">
                        <table class="table table-condensed table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Receipt_No</th>
                                    <th>Organization</th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Payment_mode</th>
                                    <th>Reason</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-mousemove="show = true" ng-init="show = false" 
                                    ng-mouseleave="show = false" 
                                    dir-paginate="receipt in orgreceipts | itemsPerPage:displaynumber|filter:search"
                                    pagination-id="orgreceiptpage"
                                    ng-class="{'bg-red-active':plan.deletedPlan(p.id)}">
                                    <td>
                                        <span class="badge bg-green-active" 
                                              ng-show="true"> 
                                            {{'Debit'}}
                                        </span>

                                    </td>
                                    <td>{{receipt.receipt_no}}</td>
                                    <td>{{receipt.org_name}}</td>
                                    <td>{{receipt.receipt_date}}</td>
                                    <td>{{receipt.name}}</td>
                                    <td>{{receipt.amount}}</td>
                                    <td>{{receipt.payment_mode}}</td>
                                    <td>{{receipt.payment_reason}}</td>
                                    <td > 
                            <md-menu >
                                <!-- Trigger element is a md-button with an icon -->
                                <span ng-click="$mdOpenMenu($event)" class="fa fa-cog" aria-label="Open sample menu">
                                </span>
                                <md-menu-content width="1">
                                    <md-menu-item><md-button ng-click="editReceipt($event, receipt.id)"> 
                                            <span class="fa fa-edit">&nbsp; </span>Edit</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="deleteReceipt(receipt.id, $event)">
                                            <span class="fa fa-trash">&nbsp; </span>Delete</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="doSomething()">
                                            <span class="fa fa-tasks">&nbsp; </span>Task</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="pinReceiptNote($event, receipt.id)">
                                            <span class="fa fa-book">&nbsp; </span>Note</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-click="generateOrgReceipt(receipt.id)">
                                            <span class="fa fa-print">&nbsp; </span>Generate</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            </td>
                            </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Type</th>
                                    <th>Organization</th>
                                    <th>Receipt_No</th>
                                    <th>Date</th>
                                    <th>Payment For</th>
                                    <th>Amount</th>
                                    <th>Payment_mode</th>
                                    <th>Reason</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                        <dir-pagination-controls 
                            class="pull-right" 
                            boundary-links="true" 
                            pagination-id="orgreceiptpage"
                            on-page-change="pageChangeHandler(newPageNumber)" 
                            template-url="../views/dirpagination.html">
                        </dir-pagination-controls>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-tab>
    </md-tabs>  
</div>